=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class AuthenticationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel pending email change
    # @param [Hash] opts the optional parameters
    # @return [AuthResetPassword200Response]
    def auth_cancel_email_change(opts = {})
      data, _status_code, _headers = auth_cancel_email_change_with_http_info(opts)
      data
    end

    # Cancel pending email change
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResetPassword200Response, Integer, Hash)>] AuthResetPassword200Response data, response status code and response headers
    def auth_cancel_email_change_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_cancel_email_change ...'
      end
      # resource path
      local_var_path = '/auth/user/cancel-email-change'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResetPassword200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_cancel_email_change",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_cancel_email_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm email address
    # Confirm email address using token sent via email. Required if require_email_confirmation is enabled. 
    # @param auth_confirm_email_request [AuthConfirmEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthConfirmEmail200Response]
    def auth_confirm_email(auth_confirm_email_request, opts = {})
      data, _status_code, _headers = auth_confirm_email_with_http_info(auth_confirm_email_request, opts)
      data
    end

    # Confirm email address
    # Confirm email address using token sent via email. Required if require_email_confirmation is enabled. 
    # @param auth_confirm_email_request [AuthConfirmEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConfirmEmail200Response, Integer, Hash)>] AuthConfirmEmail200Response data, response status code and response headers
    def auth_confirm_email_with_http_info(auth_confirm_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_confirm_email ...'
      end
      # verify the required parameter 'auth_confirm_email_request' is set
      if @api_client.config.client_side_validation && auth_confirm_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_confirm_email_request' when calling AuthenticationApi.auth_confirm_email"
      end
      # resource path
      local_var_path = '/auth/confirm'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_confirm_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConfirmEmail200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_confirm_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_confirm_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm email change
    # Confirm email change with token sent to new address
    # @param auth_confirm_email_change_request [AuthConfirmEmailChangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthConfirmEmailChange200Response]
    def auth_confirm_email_change(auth_confirm_email_change_request, opts = {})
      data, _status_code, _headers = auth_confirm_email_change_with_http_info(auth_confirm_email_change_request, opts)
      data
    end

    # Confirm email change
    # Confirm email change with token sent to new address
    # @param auth_confirm_email_change_request [AuthConfirmEmailChangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConfirmEmailChange200Response, Integer, Hash)>] AuthConfirmEmailChange200Response data, response status code and response headers
    def auth_confirm_email_change_with_http_info(auth_confirm_email_change_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_confirm_email_change ...'
      end
      # verify the required parameter 'auth_confirm_email_change_request' is set
      if @api_client.config.client_side_validation && auth_confirm_email_change_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_confirm_email_change_request' when calling AuthenticationApi.auth_confirm_email_change"
      end
      # resource path
      local_var_path = '/auth/user/confirm-email-change'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_confirm_email_change_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConfirmEmailChange200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_confirm_email_change",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_confirm_email_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert anonymous user to authenticated
    # Add email and password to anonymous user. Requires auth user access token. If require_email_confirmation is enabled for the project, the converted user remains unconfirmed until /auth/confirm succeeds. When email sending is enabled, a confirmation email is sent during conversion. 
    # @param auth_signup_request [AuthSignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthConvertAnonymous200Response]
    def auth_convert_anonymous(auth_signup_request, opts = {})
      data, _status_code, _headers = auth_convert_anonymous_with_http_info(auth_signup_request, opts)
      data
    end

    # Convert anonymous user to authenticated
    # Add email and password to anonymous user. Requires auth user access token. If require_email_confirmation is enabled for the project, the converted user remains unconfirmed until /auth/confirm succeeds. When email sending is enabled, a confirmation email is sent during conversion. 
    # @param auth_signup_request [AuthSignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConvertAnonymous200Response, Integer, Hash)>] AuthConvertAnonymous200Response data, response status code and response headers
    def auth_convert_anonymous_with_http_info(auth_signup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_convert_anonymous ...'
      end
      # verify the required parameter 'auth_signup_request' is set
      if @api_client.config.client_side_validation && auth_signup_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_signup_request' when calling AuthenticationApi.auth_convert_anonymous"
      end
      # resource path
      local_var_path = '/auth/user/convert-anonymous'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_signup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConvertAnonymous200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_convert_anonymous",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_convert_anonymous\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign out from all other devices
    # Deletes all sessions except the current one. Use this to log out from all other devices while keeping the current session active. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_delete_all_my_sessions(opts = {})
      auth_delete_all_my_sessions_with_http_info(opts)
      nil
    end

    # Sign out from all other devices
    # Deletes all sessions except the current one. Use this to log out from all other devices while keeping the current session active. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_delete_all_my_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_delete_all_my_sessions ...'
      end
      # resource path
      local_var_path = '/auth/user/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_delete_all_my_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_delete_all_my_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign out from specific device
    # Deletes a specific session, logging out that device. You can get session IDs from the list sessions endpoint. 
    # @param session_id [String] The session ID to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_delete_my_session(session_id, opts = {})
      auth_delete_my_session_with_http_info(session_id, opts)
      nil
    end

    # Sign out from specific device
    # Deletes a specific session, logging out that device. You can get session IDs from the list sessions endpoint. 
    # @param session_id [String] The session ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_delete_my_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_delete_my_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling AuthenticationApi.auth_delete_my_session"
      end
      # resource path
      local_var_path = '/auth/user/sessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_delete_my_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_delete_my_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request password reset
    # Generates recovery token and stores it (email sending pending). Returns generic message to prevent email enumeration. Project is identified via the anon key. 
    # @param auth_forgot_password_request [AuthForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthForgotPassword200Response]
    def auth_forgot_password(auth_forgot_password_request, opts = {})
      data, _status_code, _headers = auth_forgot_password_with_http_info(auth_forgot_password_request, opts)
      data
    end

    # Request password reset
    # Generates recovery token and stores it (email sending pending). Returns generic message to prevent email enumeration. Project is identified via the anon key. 
    # @param auth_forgot_password_request [AuthForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthForgotPassword200Response, Integer, Hash)>] AuthForgotPassword200Response data, response status code and response headers
    def auth_forgot_password_with_http_info(auth_forgot_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_forgot_password ...'
      end
      # verify the required parameter 'auth_forgot_password_request' is set
      if @api_client.config.client_side_validation && auth_forgot_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_forgot_password_request' when calling AuthenticationApi.auth_forgot_password"
      end
      # resource path
      local_var_path = '/auth/forgot-password'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_forgot_password_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthForgotPassword200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_forgot_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_forgot_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current user's sessions
    # Returns paginated sessions for the currently authenticated user. Each session includes device info, IP addresses, and activity timestamps. The current session is marked with `is_current: true`.  **Ordering and pagination.** Without `sort`, results are ordered by most recent activity and paged with `page`/`limit`, returning the `sessions`/`total`/`page`/`limit`/`total_pages` body below. This is the legacy default and is preserved for existing clients.  Send `sort=created_at` to opt into the standard list contract: results are ordered by session start (newest first) and may be paged either with `page`/`limit` or by cursor with `cursor`/`ending_before` plus a bounded `offset` past the cursor anchor. Cursor responses use the shared `data` envelope with `next_cursor`/`prev_cursor`.  Unlike other list endpoints, sending `limit` without `page` does **not** select cursor mode here; `sort=created_at` is the only opt-in. Cursor pagination is rejected with 400 for the activity order, because `last_activity_at` changes whenever a session refreshes its token: a row that crosses the cursor anchor between two requests would be skipped and never shown. The `status=expired` filter is also offset-only because a session can expire above the cursor anchor during a walk. Sending that filter in cursor mode, `page` with `cursor` or `ending_before`, or both cursor directions returns 400. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :limit Number of sessions per page (max 100) (default to 20)
    # @option opts [String] :sort Sort key. &#x60;last_activity&#x60; (default) orders by most recent activity and supports offset pagination only. &#x60;created_at&#x60; orders by session start and supports both offset and cursor pagination.  (default to 'last_activity')
    # @option opts [String] :status Filter by whether the session can still be refreshed. Omit for every stored session, including expired ones. &#x60;expired&#x60; is not supported with cursor pagination. 
    # @option opts [String] :cursor Opaque keyset cursor from a previous response&#39;s &#x60;next_cursor&#x60;. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;. 
    # @option opts [String] :ending_before Opaque keyset cursor from a previous response&#39;s &#x60;prev_cursor&#x60;, paging backward. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;. 
    # @option opts [Integer] :offset Bounded number of rows to skip past the cursor anchor (the hybrid jump, maximum 100000). Ignored unless &#x60;cursor&#x60; or &#x60;ending_before&#x60; is supplied. 
    # @return [AuthGetMySessions200Response]
    def auth_get_my_sessions(opts = {})
      data, _status_code, _headers = auth_get_my_sessions_with_http_info(opts)
      data
    end

    # Get current user&#39;s sessions
    # Returns paginated sessions for the currently authenticated user. Each session includes device info, IP addresses, and activity timestamps. The current session is marked with &#x60;is_current: true&#x60;.  **Ordering and pagination.** Without &#x60;sort&#x60;, results are ordered by most recent activity and paged with &#x60;page&#x60;/&#x60;limit&#x60;, returning the &#x60;sessions&#x60;/&#x60;total&#x60;/&#x60;page&#x60;/&#x60;limit&#x60;/&#x60;total_pages&#x60; body below. This is the legacy default and is preserved for existing clients.  Send &#x60;sort&#x3D;created_at&#x60; to opt into the standard list contract: results are ordered by session start (newest first) and may be paged either with &#x60;page&#x60;/&#x60;limit&#x60; or by cursor with &#x60;cursor&#x60;/&#x60;ending_before&#x60; plus a bounded &#x60;offset&#x60; past the cursor anchor. Cursor responses use the shared &#x60;data&#x60; envelope with &#x60;next_cursor&#x60;/&#x60;prev_cursor&#x60;.  Unlike other list endpoints, sending &#x60;limit&#x60; without &#x60;page&#x60; does **not** select cursor mode here; &#x60;sort&#x3D;created_at&#x60; is the only opt-in. Cursor pagination is rejected with 400 for the activity order, because &#x60;last_activity_at&#x60; changes whenever a session refreshes its token: a row that crosses the cursor anchor between two requests would be skipped and never shown. The &#x60;status&#x3D;expired&#x60; filter is also offset-only because a session can expire above the cursor anchor during a walk. Sending that filter in cursor mode, &#x60;page&#x60; with &#x60;cursor&#x60; or &#x60;ending_before&#x60;, or both cursor directions returns 400. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :limit Number of sessions per page (max 100) (default to 20)
    # @option opts [String] :sort Sort key. &#x60;last_activity&#x60; (default) orders by most recent activity and supports offset pagination only. &#x60;created_at&#x60; orders by session start and supports both offset and cursor pagination.  (default to 'last_activity')
    # @option opts [String] :status Filter by whether the session can still be refreshed. Omit for every stored session, including expired ones. &#x60;expired&#x60; is not supported with cursor pagination. 
    # @option opts [String] :cursor Opaque keyset cursor from a previous response&#39;s &#x60;next_cursor&#x60;. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;. 
    # @option opts [String] :ending_before Opaque keyset cursor from a previous response&#39;s &#x60;prev_cursor&#x60;, paging backward. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;. 
    # @option opts [Integer] :offset Bounded number of rows to skip past the cursor anchor (the hybrid jump, maximum 100000). Ignored unless &#x60;cursor&#x60; or &#x60;ending_before&#x60; is supplied. 
    # @return [Array<(AuthGetMySessions200Response, Integer, Hash)>] AuthGetMySessions200Response data, response status code and response headers
    def auth_get_my_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_get_my_sessions ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AuthenticationApi.auth_get_my_sessions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthenticationApi.auth_get_my_sessions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthenticationApi.auth_get_my_sessions, must be greater than or equal to 1.'
      end

      allowable_values = ["last_activity", "created_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "expired"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] > 100000
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AuthenticationApi.auth_get_my_sessions, must be smaller than or equal to 100000.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AuthenticationApi.auth_get_my_sessions, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/auth/user/sessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthGetMySessions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_get_my_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_get_my_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the effective password policy
    # Returns the backend-enforced password bounds and compromised-password screening status for the project identified by the anon key. A valid anon key is required, but no route-specific auth permission is needed. 
    # @param [Hash] opts the optional parameters
    # @return [AuthPasswordPolicy]
    def auth_get_password_policy(opts = {})
      data, _status_code, _headers = auth_get_password_policy_with_http_info(opts)
      data
    end

    # Get the effective password policy
    # Returns the backend-enforced password bounds and compromised-password screening status for the project identified by the anon key. A valid anon key is required, but no route-specific auth permission is needed. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthPasswordPolicy, Integer, Hash)>] AuthPasswordPolicy data, response status code and response headers
    def auth_get_password_policy_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_get_password_policy ...'
      end
      # resource path
      local_var_path = '/auth/password-policy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthPasswordPolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_get_password_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_get_password_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current user profile
    # Returns authenticated user's profile. Requires access token.
    # @param [Hash] opts the optional parameters
    # @return [AuthConvertAnonymous200Response]
    def auth_get_user(opts = {})
      data, _status_code, _headers = auth_get_user_with_http_info(opts)
      data
    end

    # Get current user profile
    # Returns authenticated user&#39;s profile. Requires access token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConvertAnonymous200Response, Integer, Hash)>] AuthConvertAnonymous200Response data, response status code and response headers
    def auth_get_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_get_user ...'
      end
      # resource path
      local_var_path = '/auth/user'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConvertAnonymous200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_get_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_get_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the current user's identities
    # Returns every real email identity the account owns. An account can own multiple identities (for example a password identity plus one or more OAuth identities on different emails). Anonymous accounts have no real identity and return an empty list. 
    # @param [Hash] opts the optional parameters
    # @return [AuthIdentitiesResponse]
    def auth_list_identities(opts = {})
      data, _status_code, _headers = auth_list_identities_with_http_info(opts)
      data
    end

    # List the current user&#39;s identities
    # Returns every real email identity the account owns. An account can own multiple identities (for example a password identity plus one or more OAuth identities on different emails). Anonymous accounts have no real identity and return an empty list. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthIdentitiesResponse, Integer, Hash)>] AuthIdentitiesResponse data, response status code and response headers
    def auth_list_identities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_list_identities ...'
      end
      # resource path
      local_var_path = '/auth/user/identities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthIdentitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_list_identities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_list_identities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the current user's sign-in methods
    # Returns a flat list of every sign-in method the account owns (password, each OAuth provider, and any active anonymous method), with the primary method flagged. Password stubs and converted anonymous methods are excluded. 
    # @param [Hash] opts the optional parameters
    # @return [AuthMethodsResponse]
    def auth_list_methods(opts = {})
      data, _status_code, _headers = auth_list_methods_with_http_info(opts)
      data
    end

    # List the current user&#39;s sign-in methods
    # Returns a flat list of every sign-in method the account owns (password, each OAuth provider, and any active anonymous method), with the primary method flagged. Password stubs and converted anonymous methods are excluded. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthMethodsResponse, Integer, Hash)>] AuthMethodsResponse data, response status code and response headers
    def auth_list_methods_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_list_methods ...'
      end
      # resource path
      local_var_path = '/auth/user/methods'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthMethodsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_list_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_list_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout (revoke refresh token)
    # Invalidate a refresh token. Requires an anon key.  Send `refresh_token` for the default flow. An eligible cookie-mode browser request may instead send `session_mode: cookie` with an empty token; logout remains idempotent when the cookie is missing or expired. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthRefreshRequest] :auth_refresh_request 
    # @return [nil]
    def auth_logout(opts = {})
      auth_logout_with_http_info(opts)
      nil
    end

    # Logout (revoke refresh token)
    # Invalidate a refresh token. Requires an anon key.  Send &#x60;refresh_token&#x60; for the default flow. An eligible cookie-mode browser request may instead send &#x60;session_mode: cookie&#x60; with an empty token; logout remains idempotent when the cookie is missing or expired. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthRefreshRequest] :auth_refresh_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_logout_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_logout ...'
      end
      # resource path
      local_var_path = '/auth/logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auth_refresh_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_logout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_logout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set a method as the account's primary
    # Promotes the given method to the account's primary sign-in method. The account's canonical email is re-derived from the promoted method's identity. Refused for password stubs and converted anonymous methods, and for an identity whose domain is outside the project's `allowed_email_domains`. 
    # @param method_id [String] The method ID to promote
    # @param [Hash] opts the optional parameters
    # @return [AuthMethodSummary]
    def auth_promote_method(method_id, opts = {})
      data, _status_code, _headers = auth_promote_method_with_http_info(method_id, opts)
      data
    end

    # Set a method as the account&#39;s primary
    # Promotes the given method to the account&#39;s primary sign-in method. The account&#39;s canonical email is re-derived from the promoted method&#39;s identity. Refused for password stubs and converted anonymous methods, and for an identity whose domain is outside the project&#39;s &#x60;allowed_email_domains&#x60;. 
    # @param method_id [String] The method ID to promote
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthMethodSummary, Integer, Hash)>] AuthMethodSummary data, response status code and response headers
    def auth_promote_method_with_http_info(method_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_promote_method ...'
      end
      # verify the required parameter 'method_id' is set
      if @api_client.config.client_side_validation && method_id.nil?
        fail ArgumentError, "Missing the required parameter 'method_id' when calling AuthenticationApi.auth_promote_method"
      end
      # resource path
      local_var_path = '/auth/user/methods/{methodId}/promote'.sub('{' + 'methodId' + '}', CGI.escape(method_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthMethodSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_promote_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_promote_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh access token
    # Get a new access token using a refresh token. Requires an anon key.  Send `refresh_token` in the body for the default flow. An eligible cookie-mode browser request may instead send `session_mode: cookie` with an empty token or omit the request body; the API reads and resets the project's HttpOnly cookie and omits `refresh_token` from the response. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthRefreshRequest] :auth_refresh_request 
    # @return [AuthTokenResponse]
    def auth_refresh(opts = {})
      data, _status_code, _headers = auth_refresh_with_http_info(opts)
      data
    end

    # Refresh access token
    # Get a new access token using a refresh token. Requires an anon key.  Send &#x60;refresh_token&#x60; in the body for the default flow. An eligible cookie-mode browser request may instead send &#x60;session_mode: cookie&#x60; with an empty token or omit the request body; the API reads and resets the project&#39;s HttpOnly cookie and omits &#x60;refresh_token&#x60; from the response. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthRefreshRequest] :auth_refresh_request 
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_refresh_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_refresh ...'
      end
      # resource path
      local_var_path = '/auth/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auth_refresh_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_refresh",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_refresh\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request email change
    # Request to change user's email address. Sends confirmation token to new email address. 
    # @param auth_request_email_change_request [AuthRequestEmailChangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthRequestEmailChange200Response]
    def auth_request_email_change(auth_request_email_change_request, opts = {})
      data, _status_code, _headers = auth_request_email_change_with_http_info(auth_request_email_change_request, opts)
      data
    end

    # Request email change
    # Request to change user&#39;s email address. Sends confirmation token to new email address. 
    # @param auth_request_email_change_request [AuthRequestEmailChangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthRequestEmailChange200Response, Integer, Hash)>] AuthRequestEmailChange200Response data, response status code and response headers
    def auth_request_email_change_with_http_info(auth_request_email_change_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_request_email_change ...'
      end
      # verify the required parameter 'auth_request_email_change_request' is set
      if @api_client.config.client_side_validation && auth_request_email_change_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_request_email_change_request' when calling AuthenticationApi.auth_request_email_change"
      end
      # resource path
      local_var_path = '/auth/user/change-email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_request_email_change_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthRequestEmailChange200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_request_email_change",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_request_email_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend confirmation email
    # Resend email confirmation link. Returns generic message to prevent email enumeration. No email is sent when the account does not exist or is already confirmed. If the account exists and is unconfirmed, a new token is generated and any previous confirmation token is invalidated. 
    # @param auth_forgot_password_request [AuthForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResetPassword200Response]
    def auth_resend_confirmation(auth_forgot_password_request, opts = {})
      data, _status_code, _headers = auth_resend_confirmation_with_http_info(auth_forgot_password_request, opts)
      data
    end

    # Resend confirmation email
    # Resend email confirmation link. Returns generic message to prevent email enumeration. No email is sent when the account does not exist or is already confirmed. If the account exists and is unconfirmed, a new token is generated and any previous confirmation token is invalidated. 
    # @param auth_forgot_password_request [AuthForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResetPassword200Response, Integer, Hash)>] AuthResetPassword200Response data, response status code and response headers
    def auth_resend_confirmation_with_http_info(auth_forgot_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_resend_confirmation ...'
      end
      # verify the required parameter 'auth_forgot_password_request' is set
      if @api_client.config.client_side_validation && auth_forgot_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_forgot_password_request' when calling AuthenticationApi.auth_resend_confirmation"
      end
      # resource path
      local_var_path = '/auth/resend-confirmation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_forgot_password_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResetPassword200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_resend_confirmation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_resend_confirmation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset password with recovery token
    # Reset password using recovery token from forgot-password. Revokes all existing sessions for security. 
    # @param auth_reset_password_request [AuthResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResetPassword200Response]
    def auth_reset_password(auth_reset_password_request, opts = {})
      data, _status_code, _headers = auth_reset_password_with_http_info(auth_reset_password_request, opts)
      data
    end

    # Reset password with recovery token
    # Reset password using recovery token from forgot-password. Revokes all existing sessions for security. 
    # @param auth_reset_password_request [AuthResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResetPassword200Response, Integer, Hash)>] AuthResetPassword200Response data, response status code and response headers
    def auth_reset_password_with_http_info(auth_reset_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_reset_password ...'
      end
      # verify the required parameter 'auth_reset_password_request' is set
      if @api_client.config.client_side_validation && auth_reset_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_reset_password_request' when calling AuthenticationApi.auth_reset_password"
      end
      # resource path
      local_var_path = '/auth/reset-password'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_reset_password_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResetPassword200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_reset_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_reset_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign in an auth user
    # Authenticate with email and password. Requires an anon key.  Set `session_mode` to `cookie` to request HttpOnly refresh-token storage. Cookie mode is honored only for an exact, credentialed CORS origin on the same schemeful site as this API. Otherwise the response retains the refresh token in its body. 
    # @param auth_signin_request [AuthSigninRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def auth_signin(auth_signin_request, opts = {})
      data, _status_code, _headers = auth_signin_with_http_info(auth_signin_request, opts)
      data
    end

    # Sign in an auth user
    # Authenticate with email and password. Requires an anon key.  Set &#x60;session_mode&#x60; to &#x60;cookie&#x60; to request HttpOnly refresh-token storage. Cookie mode is honored only for an exact, credentialed CORS origin on the same schemeful site as this API. Otherwise the response retains the refresh token in its body. 
    # @param auth_signin_request [AuthSigninRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_signin_with_http_info(auth_signin_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_signin ...'
      end
      # verify the required parameter 'auth_signin_request' is set
      if @api_client.config.client_side_validation && auth_signin_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_signin_request' when calling AuthenticationApi.auth_signin"
      end
      # resource path
      local_var_path = '/auth/signin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_signin_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_signin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_signin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign up a new auth user
    # Create a new end-user account. The project is determined from the anon key. Requires project-specific anon key in Authorization header.  **Session-less**: signup never issues a session. On success it returns a uniform acknowledgement (`AuthSignupResponse`) with no tokens; the client obtains a session with a subsequent `POST /auth/signin`. If email confirmation is enabled for the project, a confirmation email is sent and `confirmation_required` is `true`.  **Anti-enumeration**: a signup for an already-registered email returns the exact same `201` response as a fresh signup — it never returns `409` — so the response cannot be used to discover which emails are registered. 
    # @param auth_signup_request [AuthSignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthSignupResponse]
    def auth_signup(auth_signup_request, opts = {})
      data, _status_code, _headers = auth_signup_with_http_info(auth_signup_request, opts)
      data
    end

    # Sign up a new auth user
    # Create a new end-user account. The project is determined from the anon key. Requires project-specific anon key in Authorization header.  **Session-less**: signup never issues a session. On success it returns a uniform acknowledgement (&#x60;AuthSignupResponse&#x60;) with no tokens; the client obtains a session with a subsequent &#x60;POST /auth/signin&#x60;. If email confirmation is enabled for the project, a confirmation email is sent and &#x60;confirmation_required&#x60; is &#x60;true&#x60;.  **Anti-enumeration**: a signup for an already-registered email returns the exact same &#x60;201&#x60; response as a fresh signup — it never returns &#x60;409&#x60; — so the response cannot be used to discover which emails are registered. 
    # @param auth_signup_request [AuthSignupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthSignupResponse, Integer, Hash)>] AuthSignupResponse data, response status code and response headers
    def auth_signup_with_http_info(auth_signup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_signup ...'
      end
      # verify the required parameter 'auth_signup_request' is set
      if @api_client.config.client_side_validation && auth_signup_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_signup_request' when calling AuthenticationApi.auth_signup"
      end
      # resource path
      local_var_path = '/auth/signup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_signup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthSignupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_signup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_signup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create anonymous user
    # Create guest user without email/password.  User metadata (like display_name) can be included and will appear in realtime presence events. Requires enable_anonymous_signins to be true. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthSignupAnonymousRequest] :auth_signup_anonymous_request Optional user metadata
    # @return [AuthTokenResponse]
    def auth_signup_anonymous(opts = {})
      data, _status_code, _headers = auth_signup_anonymous_with_http_info(opts)
      data
    end

    # Create anonymous user
    # Create guest user without email/password.  User metadata (like display_name) can be included and will appear in realtime presence events. Requires enable_anonymous_signins to be true. 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthSignupAnonymousRequest] :auth_signup_anonymous_request Optional user metadata
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_signup_anonymous_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_signup_anonymous ...'
      end
      # resource path
      local_var_path = '/auth/signup-anonymous'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auth_signup_anonymous_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_signup_anonymous",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_signup_anonymous\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unlink an identity from the current user
    # Removes a non-primary identity and its attached sign-in methods. Refused when the identity is the account's primary, its only identity, or when removing it would leave the account with no way to sign in. 
    # @param identity_id [String] The identity ID to unlink
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_unlink_identity(identity_id, opts = {})
      auth_unlink_identity_with_http_info(identity_id, opts)
      nil
    end

    # Unlink an identity from the current user
    # Removes a non-primary identity and its attached sign-in methods. Refused when the identity is the account&#39;s primary, its only identity, or when removing it would leave the account with no way to sign in. 
    # @param identity_id [String] The identity ID to unlink
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_unlink_identity_with_http_info(identity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_unlink_identity ...'
      end
      # verify the required parameter 'identity_id' is set
      if @api_client.config.client_side_validation && identity_id.nil?
        fail ArgumentError, "Missing the required parameter 'identity_id' when calling AuthenticationApi.auth_unlink_identity"
      end
      # resource path
      local_var_path = '/auth/user/identities/{identityId}'.sub('{' + 'identityId' + '}', CGI.escape(identity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_unlink_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_unlink_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update user profile
    # Update password or metadata. Requires access token.
    # @param [Hash] opts the optional parameters
    # @option opts [AuthUpdateUserRequest] :auth_update_user_request 
    # @return [AuthConvertAnonymous200Response]
    def auth_update_user(opts = {})
      data, _status_code, _headers = auth_update_user_with_http_info(opts)
      data
    end

    # Update user profile
    # Update password or metadata. Requires access token.
    # @param [Hash] opts the optional parameters
    # @option opts [AuthUpdateUserRequest] :auth_update_user_request 
    # @return [Array<(AuthConvertAnonymous200Response, Integer, Hash)>] AuthConvertAnonymous200Response data, response status code and response headers
    def auth_update_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.auth_update_user ...'
      end
      # resource path
      local_var_path = '/auth/user'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auth_update_user_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConvertAnonymous200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.auth_update_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#auth_update_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
