=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class AuthConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Configure authentication methods (unified)
    # Configure all authentication methods in a single request. At least one method must remain enabled. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [ConfigureAuthMethodsRequest] :configure_auth_methods_request 
    # @return [nil]
    def configure_auth_methods(id, opts = {})
      configure_auth_methods_with_http_info(id, opts)
      nil
    end

    # Configure authentication methods (unified)
    # Configure all authentication methods in a single request. At least one method must remain enabled. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [ConfigureAuthMethodsRequest] :configure_auth_methods_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def configure_auth_methods_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.configure_auth_methods ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.configure_auth_methods"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/methods'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'configure_auth_methods_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.configure_auth_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#configure_auth_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create email template
    # Creates a custom email template for the project. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403, and FREE projects always send the built-in default templates regardless of any previously saved custom rows. Every project is created with one template per type, so customizing one is usually a PUT; creating a type the project already has returns 409. Valid template types: welcome, confirmation, password_reset, password_changed 
    # @param id [String] Project ID
    # @param create_email_template_request [CreateEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def create_email_template(id, create_email_template_request, opts = {})
      data, _status_code, _headers = create_email_template_with_http_info(id, create_email_template_request, opts)
      data
    end

    # Create email template
    # Creates a custom email template for the project. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403, and FREE projects always send the built-in default templates regardless of any previously saved custom rows. Every project is created with one template per type, so customizing one is usually a PUT; creating a type the project already has returns 409. Valid template types: welcome, confirmation, password_reset, password_changed 
    # @param id [String] Project ID
    # @param create_email_template_request [CreateEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def create_email_template_with_http_info(id, create_email_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.create_email_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.create_email_template"
      end
      # verify the required parameter 'create_email_template_request' is set
      if @api_client.config.client_side_validation && create_email_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_email_template_request' when calling AuthConfigurationApi.create_email_template"
      end
      # resource path
      local_var_path = '/projects/{id}/email-templates'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_email_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.create_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#create_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear one managed auth page layout
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_page_layout(id, page_type, opts = {})
      delete_auth_page_layout_with_http_info(id, page_type, opts)
      nil
    end

    # Clear one managed auth page layout
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_page_layout_with_http_info(id, page_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.delete_auth_page_layout ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.delete_auth_page_layout"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.delete_auth_page_layout"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/{pageType}/layout'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.delete_auth_page_layout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#delete_auth_page_layout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear the managed auth page theme
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_page_theme(id, opts = {})
      delete_auth_page_theme_with_http_info(id, opts)
      nil
    end

    # Clear the managed auth page theme
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_page_theme_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.delete_auth_page_theme ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.delete_auth_page_theme"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/theme'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.delete_auth_page_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#delete_auth_page_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete email template
    # Deletes a custom template, reverting to the default. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403. 
    # @param id [String] Project ID
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_email_template(id, type, opts = {})
      delete_email_template_with_http_info(id, type, opts)
      nil
    end

    # Delete email template
    # Deletes a custom template, reverting to the default. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403. 
    # @param id [String] Project ID
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_email_template_with_http_info(id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.delete_email_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.delete_email_template"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AuthConfigurationApi.delete_email_template"
      end
      # verify enum value
      allowable_values = ["welcome", "confirmation", "password_reset", "password_changed"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/email-templates/{type}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.delete_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#delete_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get auth configuration
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [AuthConfig]
    def get_auth_config(id, opts = {})
      data, _status_code, _headers = get_auth_config_with_http_info(id, opts)
      data
    end

    # Get auth configuration
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthConfig, Integer, Hash)>] AuthConfig data, response status code and response headers
    def get_auth_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_auth_config"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/config'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hosted auth page
    # Returns the saved HTML/CSS for the page type, or `page: null` when the project has not customized it yet. Always returns `defaults` (the theme shell to seed an editor with, which is valid input to the update endpoint) and `runtime` (the script the rendered page runs, plus a preview harness). 
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param [Hash] opts the optional parameters
    # @return [AuthHostedPageResponse]
    def get_auth_hosted_page(id, page_type, opts = {})
      data, _status_code, _headers = get_auth_hosted_page_with_http_info(id, page_type, opts)
      data
    end

    # Get hosted auth page
    # Returns the saved HTML/CSS for the page type, or &#x60;page: null&#x60; when the project has not customized it yet. Always returns &#x60;defaults&#x60; (the theme shell to seed an editor with, which is valid input to the update endpoint) and &#x60;runtime&#x60; (the script the rendered page runs, plus a preview harness). 
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthHostedPageResponse, Integer, Hash)>] AuthHostedPageResponse data, response status code and response headers
    def get_auth_hosted_page_with_http_info(id, page_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_auth_hosted_page ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_auth_hosted_page"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.get_auth_hosted_page"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted-pages/{pageType}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthHostedPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_auth_hosted_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_auth_hosted_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all authentication methods
    # Returns all configured authentication methods for this project, including email/password, anonymous, device authorization, and OAuth providers. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [GetAuthMethods200Response]
    def get_auth_methods(id, opts = {})
      data, _status_code, _headers = get_auth_methods_with_http_info(id, opts)
      data
    end

    # Get all authentication methods
    # Returns all configured authentication methods for this project, including email/password, anonymous, device authorization, and OAuth providers. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAuthMethods200Response, Integer, Hash)>] GetAuthMethods200Response data, response status code and response headers
    def get_auth_methods_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_auth_methods ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_auth_methods"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/methods'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAuthMethods200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_auth_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_auth_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get managed auth page appearance
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [AuthPageAppearanceResponse]
    def get_auth_page_appearance(id, opts = {})
      data, _status_code, _headers = get_auth_page_appearance_with_http_info(id, opts)
      data
    end

    # Get managed auth page appearance
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthPageAppearanceResponse, Integer, Hash)>] AuthPageAppearanceResponse data, response status code and response headers
    def get_auth_page_appearance_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_auth_page_appearance ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_auth_page_appearance"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/appearance'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthPageAppearanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_auth_page_appearance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_auth_page_appearance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get default email template by type
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def get_default_email_template(type, opts = {})
      data, _status_code, _headers = get_default_email_template_with_http_info(type, opts)
      data
    end

    # Get default email template by type
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def get_default_email_template_with_http_info(type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_default_email_template ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AuthConfigurationApi.get_default_email_template"
      end
      # verify enum value
      allowable_values = ["welcome", "confirmation", "password_reset", "password_changed"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/email-templates/defaults/{type}'.sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_default_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_default_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get default email templates
    # Returns the default email templates used when no custom template is configured.
    # @param [Hash] opts the optional parameters
    # @return [ListEmailTemplates200Response]
    def get_default_email_templates(opts = {})
      data, _status_code, _headers = get_default_email_templates_with_http_info(opts)
      data
    end

    # Get default email templates
    # Returns the default email templates used when no custom template is configured.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListEmailTemplates200Response, Integer, Hash)>] ListEmailTemplates200Response data, response status code and response headers
    def get_default_email_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_default_email_templates ...'
      end
      # resource path
      local_var_path = '/email-templates/defaults'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEmailTemplates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_default_email_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_default_email_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email template
    # @param id [String] Project ID
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def get_email_template(id, type, opts = {})
      data, _status_code, _headers = get_email_template_with_http_info(id, type, opts)
      data
    end

    # Get email template
    # @param id [String] Project ID
    # @param type [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def get_email_template_with_http_info(id, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_email_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_email_template"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AuthConfigurationApi.get_email_template"
      end
      # verify enum value
      allowable_values = ["welcome", "confirmation", "password_reset", "password_changed"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/email-templates/{type}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get hosted login runtime options
    # Returns runtime options for the built-in managed login flow. Requires `anon_key` query parameter. Rate limited per project and client IP. Excess requests return `429` and `Retry-After`. 
    # @param id [String] Project ID
    # @param anon_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [HostedLoginOptionsResponse]
    def get_hosted_login_options(id, anon_key, opts = {})
      data, _status_code, _headers = get_hosted_login_options_with_http_info(id, anon_key, opts)
      data
    end

    # Get hosted login runtime options
    # Returns runtime options for the built-in managed login flow. Requires &#x60;anon_key&#x60; query parameter. Rate limited per project and client IP. Excess requests return &#x60;429&#x60; and &#x60;Retry-After&#x60;. 
    # @param id [String] Project ID
    # @param anon_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HostedLoginOptionsResponse, Integer, Hash)>] HostedLoginOptionsResponse data, response status code and response headers
    def get_hosted_login_options_with_http_info(id, anon_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.get_hosted_login_options ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.get_hosted_login_options"
      end
      # verify the required parameter 'anon_key' is set
      if @api_client.config.client_side_validation && anon_key.nil?
        fail ArgumentError, "Missing the required parameter 'anon_key' when calling AuthConfigurationApi.get_hosted_login_options"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted/login/options'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'anon_key'] = anon_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HostedLoginOptionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.get_hosted_login_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#get_hosted_login_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether email exists for hosted login flow
    # Used by the built-in managed login page to branch UI between signin and signup. Requires anon key in Authorization header. Rate limited per project and client IP. Excess requests return `429` and `Retry-After`. 
    # @param id [String] Project ID
    # @param authorization [String] Bearer anon key (&#x60;Bearer &lt;anon_key&gt;&#x60;)
    # @param hosted_login_email_check_request [HostedLoginEmailCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @return [HostedLoginEmailCheckResponse]
    def hosted_login_check_email(id, authorization, hosted_login_email_check_request, opts = {})
      data, _status_code, _headers = hosted_login_check_email_with_http_info(id, authorization, hosted_login_email_check_request, opts)
      data
    end

    # Check whether email exists for hosted login flow
    # Used by the built-in managed login page to branch UI between signin and signup. Requires anon key in Authorization header. Rate limited per project and client IP. Excess requests return &#x60;429&#x60; and &#x60;Retry-After&#x60;. 
    # @param id [String] Project ID
    # @param authorization [String] Bearer anon key (&#x60;Bearer &lt;anon_key&gt;&#x60;)
    # @param hosted_login_email_check_request [HostedLoginEmailCheckRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(HostedLoginEmailCheckResponse, Integer, Hash)>] HostedLoginEmailCheckResponse data, response status code and response headers
    def hosted_login_check_email_with_http_info(id, authorization, hosted_login_email_check_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.hosted_login_check_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.hosted_login_check_email"
      end
      # verify the required parameter 'authorization' is set
      if @api_client.config.client_side_validation && authorization.nil?
        fail ArgumentError, "Missing the required parameter 'authorization' when calling AuthConfigurationApi.hosted_login_check_email"
      end
      # verify the required parameter 'hosted_login_email_check_request' is set
      if @api_client.config.client_side_validation && hosted_login_email_check_request.nil?
        fail ArgumentError, "Missing the required parameter 'hosted_login_email_check_request' when calling AuthConfigurationApi.hosted_login_check_email"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted/login/check-email'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Authorization'] = authorization

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(hosted_login_email_check_request)

      # return_type
      return_type = opts[:debug_return_type] || 'HostedLoginEmailCheckResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.hosted_login_check_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#hosted_login_check_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List email templates
    # Returns all custom email templates for this project.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ListEmailTemplates200Response]
    def list_email_templates(id, opts = {})
      data, _status_code, _headers = list_email_templates_with_http_info(id, opts)
      data
    end

    # List email templates
    # Returns all custom email templates for this project.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListEmailTemplates200Response, Integer, Hash)>] ListEmailTemplates200Response data, response status code and response headers
    def list_email_templates_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.list_email_templates ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.list_email_templates"
      end
      # resource path
      local_var_path = '/projects/{id}/email-templates'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEmailTemplates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.list_email_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#list_email_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview an unsaved managed auth page appearance
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param preview_auth_page_request [PreviewAuthPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PreviewAuthPageResponse]
    def preview_auth_page(id, page_type, preview_auth_page_request, opts = {})
      data, _status_code, _headers = preview_auth_page_with_http_info(id, page_type, preview_auth_page_request, opts)
      data
    end

    # Preview an unsaved managed auth page appearance
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param preview_auth_page_request [PreviewAuthPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreviewAuthPageResponse, Integer, Hash)>] PreviewAuthPageResponse data, response status code and response headers
    def preview_auth_page_with_http_info(id, page_type, preview_auth_page_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.preview_auth_page ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.preview_auth_page"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.preview_auth_page"
      end
      # verify the required parameter 'preview_auth_page_request' is set
      if @api_client.config.client_side_validation && preview_auth_page_request.nil?
        fail ArgumentError, "Missing the required parameter 'preview_auth_page_request' when calling AuthConfigurationApi.preview_auth_page"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/{pageType}/preview'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(preview_auth_page_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewAuthPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.preview_auth_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#preview_auth_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render default managed auth page
    # Public HTML endpoint for the managed login page. Requires `Accept: text/html`. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Optional deep-link action for the unified hosted page. Ignored when a custom login page is configured. &#x60;action&#x3D;device&#x60; renders the device authorization approval UI inline (no redirect to any external app); it signs the user in and calls &#x60;POST /auth/device/verify&#x60;. 
    # @option opts [String] :user_code Device user code (from &#x60;POST /auth/device/authorize&#x60;) used with &#x60;action&#x3D;device&#x60;.
    # @option opts [String] :anon_key Project anon key used by built-in managed auth flows (required for login/signup/device actions).
    # @option opts [String] :state Opaque one-time nonce generated by the client SDK before redirecting here. On successful login/signup it is echoed back in the post-auth redirect fragment as &#x60;state&#x60;, so the SDK can bind the returned session to the flow it initiated (login-CSRF / session-fixation defense). The SDK rejects a returned session whose &#x60;state&#x60; does not match. 
    # @return [String]
    def render_default_managed_auth_page(id, opts = {})
      data, _status_code, _headers = render_default_managed_auth_page_with_http_info(id, opts)
      data
    end

    # Render default managed auth page
    # Public HTML endpoint for the managed login page. Requires &#x60;Accept: text/html&#x60;. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Optional deep-link action for the unified hosted page. Ignored when a custom login page is configured. &#x60;action&#x3D;device&#x60; renders the device authorization approval UI inline (no redirect to any external app); it signs the user in and calls &#x60;POST /auth/device/verify&#x60;. 
    # @option opts [String] :user_code Device user code (from &#x60;POST /auth/device/authorize&#x60;) used with &#x60;action&#x3D;device&#x60;.
    # @option opts [String] :anon_key Project anon key used by built-in managed auth flows (required for login/signup/device actions).
    # @option opts [String] :state Opaque one-time nonce generated by the client SDK before redirecting here. On successful login/signup it is echoed back in the post-auth redirect fragment as &#x60;state&#x60;, so the SDK can bind the returned session to the flow it initiated (login-CSRF / session-fixation defense). The SDK rejects a returned session whose &#x60;state&#x60; does not match. 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def render_default_managed_auth_page_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.render_default_managed_auth_page ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.render_default_managed_auth_page"
      end
      allowable_values = ["login", "signup", "forgot-password", "device"]
      if @api_client.config.client_side_validation && opts[:'action'] && !allowable_values.include?(opts[:'action'])
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'user_code'] = opts[:'user_code'] if !opts[:'user_code'].nil?
      query_params[:'anon_key'] = opts[:'anon_key'] if !opts[:'anon_key'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.render_default_managed_auth_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#render_default_managed_auth_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render a managed auth page
    # Public HTML endpoint for signup, forgot-password, device approval, verify-email, and reset-password pages. Login uses the path without a page type. Requires `Accept: text/html`. Returns 404 when managed hosted pages are disabled for the project. 
    # @param id [String] Project ID
    # @param page_type [HostedRenderablePageType] 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def render_managed_auth_page(id, page_type, opts = {})
      data, _status_code, _headers = render_managed_auth_page_with_http_info(id, page_type, opts)
      data
    end

    # Render a managed auth page
    # Public HTML endpoint for signup, forgot-password, device approval, verify-email, and reset-password pages. Login uses the path without a page type. Requires &#x60;Accept: text/html&#x60;. Returns 404 when managed hosted pages are disabled for the project. 
    # @param id [String] Project ID
    # @param page_type [HostedRenderablePageType] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def render_managed_auth_page_with_http_info(id, page_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.render_managed_auth_page ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.render_managed_auth_page"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.render_managed_auth_page"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted/{pageType}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/html']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.render_managed_auth_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#render_managed_auth_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a test email using the project's saved SMTP config
    # Sends a diagnostic email to `to_email` using the project's persisted `auth_config` SMTP credentials. If `html_body` or `text_body` is supplied, the override path is taken: those values (plus optional `subject`) are rendered through html/text templates against the project's `Data` and used as the body — used by the template editor's \"Send Test\" affordance to preview an unsaved template. With both bodies omitted, a hardcoded diagnostic message is sent and any `subject` field is ignored. Sending `subject` alone (no bodies) is rejected with 400 to avoid a silently-dropped subject or a blank message. Also rejects with 400 if `email_enabled=false` or `smtp_host` is empty. 
    # @param id [String] Project ID
    # @param test_email_request [TestEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TestEmailResponse]
    def test_email_config(id, test_email_request, opts = {})
      data, _status_code, _headers = test_email_config_with_http_info(id, test_email_request, opts)
      data
    end

    # Send a test email using the project&#39;s saved SMTP config
    # Sends a diagnostic email to &#x60;to_email&#x60; using the project&#39;s persisted &#x60;auth_config&#x60; SMTP credentials. If &#x60;html_body&#x60; or &#x60;text_body&#x60; is supplied, the override path is taken: those values (plus optional &#x60;subject&#x60;) are rendered through html/text templates against the project&#39;s &#x60;Data&#x60; and used as the body — used by the template editor&#39;s \&quot;Send Test\&quot; affordance to preview an unsaved template. With both bodies omitted, a hardcoded diagnostic message is sent and any &#x60;subject&#x60; field is ignored. Sending &#x60;subject&#x60; alone (no bodies) is rejected with 400 to avoid a silently-dropped subject or a blank message. Also rejects with 400 if &#x60;email_enabled&#x3D;false&#x60; or &#x60;smtp_host&#x60; is empty. 
    # @param id [String] Project ID
    # @param test_email_request [TestEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestEmailResponse, Integer, Hash)>] TestEmailResponse data, response status code and response headers
    def test_email_config_with_http_info(id, test_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.test_email_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.test_email_config"
      end
      # verify the required parameter 'test_email_request' is set
      if @api_client.config.client_side_validation && test_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_email_request' when calling AuthConfigurationApi.test_email_config"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/config/test-email'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.test_email_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#test_email_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update auth configuration
    # Updates the project's auth configuration. Only the fields present in the body are changed. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAuthConfigRequest] :update_auth_config_request 
    # @return [AuthConfig]
    def update_auth_config(id, opts = {})
      data, _status_code, _headers = update_auth_config_with_http_info(id, opts)
      data
    end

    # Update auth configuration
    # Updates the project&#39;s auth configuration. Only the fields present in the body are changed. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAuthConfigRequest] :update_auth_config_request 
    # @return [Array<(AuthConfig, Integer, Hash)>] AuthConfig data, response status code and response headers
    def update_auth_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.update_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.update_auth_config"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/config'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_auth_config_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.update_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#update_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update hosted auth page
    # Saves the current HTML/CSS for this page type. Security validation rejects script tags, javascript: URLs, inline event handlers, iframe/object/embed/meta/link tags in HTML, and closing style/head tags in CSS. 
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param update_auth_hosted_page_request [UpdateAuthHostedPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthHostedPageResponse]
    def update_auth_hosted_page(id, page_type, update_auth_hosted_page_request, opts = {})
      data, _status_code, _headers = update_auth_hosted_page_with_http_info(id, page_type, update_auth_hosted_page_request, opts)
      data
    end

    # Update hosted auth page
    # Saves the current HTML/CSS for this page type. Security validation rejects script tags, javascript: URLs, inline event handlers, iframe/object/embed/meta/link tags in HTML, and closing style/head tags in CSS. 
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param update_auth_hosted_page_request [UpdateAuthHostedPageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthHostedPageResponse, Integer, Hash)>] AuthHostedPageResponse data, response status code and response headers
    def update_auth_hosted_page_with_http_info(id, page_type, update_auth_hosted_page_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.update_auth_hosted_page ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.update_auth_hosted_page"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.update_auth_hosted_page"
      end
      # verify the required parameter 'update_auth_hosted_page_request' is set
      if @api_client.config.client_side_validation && update_auth_hosted_page_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_auth_hosted_page_request' when calling AuthConfigurationApi.update_auth_hosted_page"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/hosted-pages/{pageType}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_auth_hosted_page_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthHostedPageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.update_auth_hosted_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#update_auth_hosted_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save one managed auth page layout
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param update_auth_page_layout_request [UpdateAuthPageLayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAuthPageLayoutRequest]
    def update_auth_page_layout(id, page_type, update_auth_page_layout_request, opts = {})
      data, _status_code, _headers = update_auth_page_layout_with_http_info(id, page_type, update_auth_page_layout_request, opts)
      data
    end

    # Save one managed auth page layout
    # @param id [String] Project ID
    # @param page_type [HostedAuthPageType] 
    # @param update_auth_page_layout_request [UpdateAuthPageLayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAuthPageLayoutRequest, Integer, Hash)>] UpdateAuthPageLayoutRequest data, response status code and response headers
    def update_auth_page_layout_with_http_info(id, page_type, update_auth_page_layout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.update_auth_page_layout ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.update_auth_page_layout"
      end
      # verify the required parameter 'page_type' is set
      if @api_client.config.client_side_validation && page_type.nil?
        fail ArgumentError, "Missing the required parameter 'page_type' when calling AuthConfigurationApi.update_auth_page_layout"
      end
      # verify the required parameter 'update_auth_page_layout_request' is set
      if @api_client.config.client_side_validation && update_auth_page_layout_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_auth_page_layout_request' when calling AuthConfigurationApi.update_auth_page_layout"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/{pageType}/layout'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'pageType' + '}', CGI.escape(page_type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_auth_page_layout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAuthPageLayoutRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.update_auth_page_layout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#update_auth_page_layout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save the managed auth page theme
    # @param id [String] Project ID
    # @param update_auth_page_theme_request [UpdateAuthPageThemeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAuthPageThemeRequest]
    def update_auth_page_theme(id, update_auth_page_theme_request, opts = {})
      data, _status_code, _headers = update_auth_page_theme_with_http_info(id, update_auth_page_theme_request, opts)
      data
    end

    # Save the managed auth page theme
    # @param id [String] Project ID
    # @param update_auth_page_theme_request [UpdateAuthPageThemeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAuthPageThemeRequest, Integer, Hash)>] UpdateAuthPageThemeRequest data, response status code and response headers
    def update_auth_page_theme_with_http_info(id, update_auth_page_theme_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.update_auth_page_theme ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.update_auth_page_theme"
      end
      # verify the required parameter 'update_auth_page_theme_request' is set
      if @api_client.config.client_side_validation && update_auth_page_theme_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_auth_page_theme_request' when calling AuthConfigurationApi.update_auth_page_theme"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/pages/theme'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_auth_page_theme_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAuthPageThemeRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.update_auth_page_theme",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#update_auth_page_theme\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update email template
    # Updates a custom email template. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403 (including after a PRO→FREE downgrade), so a FREE project cannot modify templates and always sends the built-in defaults. 
    # @param id [String] Project ID
    # @param type [String] 
    # @param update_email_template_request [UpdateEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EmailTemplate]
    def update_email_template(id, type, update_email_template_request, opts = {})
      data, _status_code, _headers = update_email_template_with_http_info(id, type, update_email_template_request, opts)
      data
    end

    # Update email template
    # Updates a custom email template. Custom email templates are a PRO-plan feature: requests from a FREE-plan project owner are rejected with 403 (including after a PRO→FREE downgrade), so a FREE project cannot modify templates and always sends the built-in defaults. 
    # @param id [String] Project ID
    # @param type [String] 
    # @param update_email_template_request [UpdateEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailTemplate, Integer, Hash)>] EmailTemplate data, response status code and response headers
    def update_email_template_with_http_info(id, type, update_email_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthConfigurationApi.update_email_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthConfigurationApi.update_email_template"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AuthConfigurationApi.update_email_template"
      end
      # verify enum value
      allowable_values = ["welcome", "confirmation", "password_reset", "password_changed"]
      if @api_client.config.client_side_validation && !allowable_values.include?(type)
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'update_email_template_request' is set
      if @api_client.config.client_side_validation && update_email_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_email_template_request' when calling AuthConfigurationApi.update_email_template"
      end
      # resource path
      local_var_path = '/projects/{id}/email-templates/{type}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'type' + '}', CGI.escape(type.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_email_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthConfigurationApi.update_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthConfigurationApi#update_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
