=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class AuthAdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ban a user
    # Bans a user temporarily or permanently. Banned users cannot sign in and all their active sessions are immediately revoked.  - Omit `banned_until` for a permanent ban - Provide `banned_until` ISO timestamp for a temporary ban 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BanAuthUserRequest] :ban_auth_user_request 
    # @return [BanUserResponse]
    def ban_auth_user(id, user_id, opts = {})
      data, _status_code, _headers = ban_auth_user_with_http_info(id, user_id, opts)
      data
    end

    # Ban a user
    # Bans a user temporarily or permanently. Banned users cannot sign in and all their active sessions are immediately revoked.  - Omit &#x60;banned_until&#x60; for a permanent ban - Provide &#x60;banned_until&#x60; ISO timestamp for a temporary ban 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BanAuthUserRequest] :ban_auth_user_request 
    # @return [Array<(BanUserResponse, Integer, Hash)>] BanUserResponse data, response status code and response headers
    def ban_auth_user_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.ban_auth_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.ban_auth_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.ban_auth_user"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}/ban'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ban_auth_user_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BanUserResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.ban_auth_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#ban_auth_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete all user sessions
    # Revokes all sessions for a user, forcing them to re-authenticate on all devices. Use this to log out a user from everywhere. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_user_sessions(id, user_id, opts = {})
      delete_all_user_sessions_with_http_info(id, user_id, opts)
      nil
    end

    # Delete all user sessions
    # Revokes all sessions for a user, forcing them to re-authenticate on all devices. Use this to log out a user from everywhere. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_all_user_sessions_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.delete_all_user_sessions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.delete_all_user_sessions"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.delete_all_user_sessions"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}/sessions'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.delete_all_user_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#delete_all_user_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete auth user (admin)
    # Soft-deletes user and revokes all sessions
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_auth_user(id, user_id, opts = {})
      delete_auth_user_with_http_info(id, user_id, opts)
      nil
    end

    # Delete auth user (admin)
    # Soft-deletes user and revokes all sessions
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_auth_user_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.delete_auth_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.delete_auth_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.delete_auth_user"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.delete_auth_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#delete_auth_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete specific session
    # Revokes a specific session for a user. Use this to log out a user from a single device. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_session(id, user_id, session_id, opts = {})
      delete_user_session_with_http_info(id, user_id, session_id, opts)
      nil
    end

    # Delete specific session
    # Revokes a specific session for a user. Use this to log out a user from a single device. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_session_with_http_info(id, user_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.delete_user_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.delete_user_session"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.delete_user_session"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling AuthAdminApi.delete_user_session"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}/sessions/{sessionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s)).sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.delete_user_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#delete_user_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get auth user insights
    # Returns current auth-user totals, rolling 30-day active users, and zero-filled signup and successful sign-in counts for an inclusive UTC date range. Weeks start on Monday. Sign-in counts and active-user activity begin when collection is deployed. Historical signup counts are backfilled from users present at deployment. Token refreshes affect active users but not the sign-in series. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from Inclusive UTC start date. Defaults to 29 days before &#x60;to&#x60;.
    # @option opts [Date] :to Inclusive UTC end date. Defaults to today.
    # @option opts [AuthInsightsInterval] :interval Chart bucket size. Defaults to &#x60;day&#x60;.
    # @return [AuthInsightsResponse]
    def get_auth_insights(id, opts = {})
      data, _status_code, _headers = get_auth_insights_with_http_info(id, opts)
      data
    end

    # Get auth user insights
    # Returns current auth-user totals, rolling 30-day active users, and zero-filled signup and successful sign-in counts for an inclusive UTC date range. Weeks start on Monday. Sign-in counts and active-user activity begin when collection is deployed. Historical signup counts are backfilled from users present at deployment. Token refreshes affect active users but not the sign-in series. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :from Inclusive UTC start date. Defaults to 29 days before &#x60;to&#x60;.
    # @option opts [Date] :to Inclusive UTC end date. Defaults to today.
    # @option opts [AuthInsightsInterval] :interval Chart bucket size. Defaults to &#x60;day&#x60;.
    # @return [Array<(AuthInsightsResponse, Integer, Hash)>] AuthInsightsResponse data, response status code and response headers
    def get_auth_insights_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.get_auth_insights ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.get_auth_insights"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/insights'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'interval'] = opts[:'interval'] if !opts[:'interval'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.get_auth_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#get_auth_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get specific auth user (admin)
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuthUser]
    def get_auth_user(id, user_id, opts = {})
      data, _status_code, _headers = get_auth_user_with_http_info(id, user_id, opts)
      data
    end

    # Get specific auth user (admin)
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthUser, Integer, Hash)>] AuthUser data, response status code and response headers
    def get_auth_user_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.get_auth_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.get_auth_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.get_auth_user"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthUser'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.get_auth_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#get_auth_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all auth users (admin)
    # List auth users in project. Requires platform token.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [String] :status Filter by effective status. &#x60;banned&#x60; returns only currently-banned users; an expired temporary ban lists as &#x60;active&#x60;.
    # @return [PaginatedAuthUsers]
    def list_auth_users(id, opts = {})
      data, _status_code, _headers = list_auth_users_with_http_info(id, opts)
      data
    end

    # List all auth users (admin)
    # List auth users in project. Requires platform token.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [String] :status Filter by effective status. &#x60;banned&#x60; returns only currently-banned users; an expired temporary ban lists as &#x60;active&#x60;.
    # @return [Array<(PaginatedAuthUsers, Integer, Hash)>] PaginatedAuthUsers data, response status code and response headers
    def list_auth_users_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.list_auth_users ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.list_auth_users"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AuthAdminApi.list_auth_users, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthAdminApi.list_auth_users, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthAdminApi.list_auth_users, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AuthAdminApi.list_auth_users, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AuthAdminApi.list_auth_users, the character length must be smaller than or equal to 256.'
      end

      allowable_values = ["active", "banned"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedAuthUsers'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.list_auth_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#list_auth_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List user sessions
    # List paginated sessions for a specific auth user. Returns session details including device info, IP address, and activity timestamps.  Ordering and pagination match `GET /auth/user/sessions`: the default is activity order with `page`/`limit` and the legacy `sessions` body, and `sort=created_at` opts into the standard cursor/offset hybrid with the shared `data` envelope. Cursor pagination is only available for `sort=created_at`, because the activity timestamp changes under paging. The `status=expired` filter is offset-only because sessions can expire above a cursor anchor during a walk. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :limit Number of sessions per page (max 100) (default to 20)
    # @option opts [String] :sort Sort key. &#x60;last_activity&#x60; (default) orders by most recent activity and supports offset pagination only. &#x60;created_at&#x60; orders by session start and supports both offset and cursor pagination.  (default to 'last_activity')
    # @option opts [String] :status Filter by whether the session can still be refreshed. Omit for every stored session, including expired ones. &#x60;expired&#x60; is not supported with cursor pagination. 
    # @option opts [String] :cursor Opaque keyset cursor from a previous response&#39;s &#x60;next_cursor&#x60;. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;. 
    # @option opts [String] :ending_before Opaque keyset cursor from a previous response&#39;s &#x60;prev_cursor&#x60;, paging backward. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;. 
    # @option opts [Integer] :offset Bounded number of rows to skip past the cursor anchor (the hybrid jump, maximum 100000). Ignored unless &#x60;cursor&#x60; or &#x60;ending_before&#x60; is supplied. 
    # @return [AuthGetMySessions200Response]
    def list_user_sessions(id, user_id, opts = {})
      data, _status_code, _headers = list_user_sessions_with_http_info(id, user_id, opts)
      data
    end

    # List user sessions
    # List paginated sessions for a specific auth user. Returns session details including device info, IP address, and activity timestamps.  Ordering and pagination match &#x60;GET /auth/user/sessions&#x60;: the default is activity order with &#x60;page&#x60;/&#x60;limit&#x60; and the legacy &#x60;sessions&#x60; body, and &#x60;sort&#x3D;created_at&#x60; opts into the standard cursor/offset hybrid with the shared &#x60;data&#x60; envelope. Cursor pagination is only available for &#x60;sort&#x3D;created_at&#x60;, because the activity timestamp changes under paging. The &#x60;status&#x3D;expired&#x60; filter is offset-only because sessions can expire above a cursor anchor during a walk. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) (default to 1)
    # @option opts [Integer] :limit Number of sessions per page (max 100) (default to 20)
    # @option opts [String] :sort Sort key. &#x60;last_activity&#x60; (default) orders by most recent activity and supports offset pagination only. &#x60;created_at&#x60; orders by session start and supports both offset and cursor pagination.  (default to 'last_activity')
    # @option opts [String] :status Filter by whether the session can still be refreshed. Omit for every stored session, including expired ones. &#x60;expired&#x60; is not supported with cursor pagination. 
    # @option opts [String] :cursor Opaque keyset cursor from a previous response&#39;s &#x60;next_cursor&#x60;. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;. 
    # @option opts [String] :ending_before Opaque keyset cursor from a previous response&#39;s &#x60;prev_cursor&#x60;, paging backward. Requires &#x60;sort&#x3D;created_at&#x60;; mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;. 
    # @option opts [Integer] :offset Bounded number of rows to skip past the cursor anchor (the hybrid jump, maximum 100000). Ignored unless &#x60;cursor&#x60; or &#x60;ending_before&#x60; is supplied. 
    # @return [Array<(AuthGetMySessions200Response, Integer, Hash)>] AuthGetMySessions200Response data, response status code and response headers
    def list_user_sessions_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.list_user_sessions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.list_user_sessions"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.list_user_sessions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AuthAdminApi.list_user_sessions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthAdminApi.list_user_sessions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AuthAdminApi.list_user_sessions, must be greater than or equal to 1.'
      end

      allowable_values = ["last_activity", "created_at"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "expired"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] > 100000
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AuthAdminApi.list_user_sessions, must be smaller than or equal to 100000.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling AuthAdminApi.list_user_sessions, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}/sessions'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthGetMySessions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.list_user_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#list_user_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unban a user
    # Removes a ban from a user, restoring their ability to sign in. The user's status is set back to 'active'. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UnbanUserResponse]
    def unban_auth_user(id, user_id, opts = {})
      data, _status_code, _headers = unban_auth_user_with_http_info(id, user_id, opts)
      data
    end

    # Unban a user
    # Removes a ban from a user, restoring their ability to sign in. The user&#39;s status is set back to &#39;active&#39;. 
    # @param id [String] Project ID
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnbanUserResponse, Integer, Hash)>] UnbanUserResponse data, response status code and response headers
    def unban_auth_user_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthAdminApi.unban_auth_user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthAdminApi.unban_auth_user"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AuthAdminApi.unban_auth_user"
      end
      # resource path
      local_var_path = '/projects/{id}/auth/users/{userId}/unban'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnbanUserResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"AuthAdminApi.unban_auth_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthAdminApi#unban_auth_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
