=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class DatabaseBranchesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a branch of a database
    # Forks the database into a new branch. The branch starts as an exact copy of the parent's data and diverges from there.  Provisioning is asynchronous: the response is `202` with the branch in `provisioning` and no connection string. Poll the branch until it reports `active`, at which point it carries its own connection string.  Retrying a create with a name that already exists returns `409` rather than a second branch, so a retried request cannot silently consume two slots of the branch allowance. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_branch_request [CreateDatabaseBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranch]
    def create_database_branch(id, database_name, create_database_branch_request, opts = {})
      data, _status_code, _headers = create_database_branch_with_http_info(id, database_name, create_database_branch_request, opts)
      data
    end

    # Create a branch of a database
    # Forks the database into a new branch. The branch starts as an exact copy of the parent&#39;s data and diverges from there.  Provisioning is asynchronous: the response is &#x60;202&#x60; with the branch in &#x60;provisioning&#x60; and no connection string. Poll the branch until it reports &#x60;active&#x60;, at which point it carries its own connection string.  Retrying a create with a name that already exists returns &#x60;409&#x60; rather than a second branch, so a retried request cannot silently consume two slots of the branch allowance. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_branch_request [CreateDatabaseBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranch, Integer, Hash)>] DatabaseBranch data, response status code and response headers
    def create_database_branch_with_http_info(id, database_name, create_database_branch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.create_database_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.create_database_branch"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.create_database_branch"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.create_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.create_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_database_branch_request' is set
      if @api_client.config.client_side_validation && create_database_branch_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_database_branch_request' when calling DatabaseBranchesApi.create_database_branch"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_database_branch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.create_database_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#create_database_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a branch
    # Marks the branch for teardown and returns immediately. The branch stops accepting connections at once; its fork and its row are removed by a background job, so a provider outage cannot leave the call hanging or the branch half-deleted.  Deleting a branch that is still provisioning is allowed and stops the build, and repeating the call while teardown is in progress is accepted again. Once the branch is gone the call returns `404`. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DeleteDatabaseBranch202Response]
    def delete_database_branch(id, database_name, branch_name, opts = {})
      data, _status_code, _headers = delete_database_branch_with_http_info(id, database_name, branch_name, opts)
      data
    end

    # Delete a branch
    # Marks the branch for teardown and returns immediately. The branch stops accepting connections at once; its fork and its row are removed by a background job, so a provider outage cannot leave the call hanging or the branch half-deleted.  Deleting a branch that is still provisioning is allowed and stops the build, and repeating the call while teardown is in progress is accepted again. Once the branch is gone the call returns &#x60;404&#x60;. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDatabaseBranch202Response, Integer, Hash)>] DeleteDatabaseBranch202Response data, response status code and response headers
    def delete_database_branch_with_http_info(id, database_name, branch_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.delete_database_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.delete_database_branch"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.delete_database_branch"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.delete_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.delete_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseBranchesApi.delete_database_branch"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseBranchesApi.delete_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseBranchesApi.delete_database_branch, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches/{branchName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDatabaseBranch202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.delete_database_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#delete_database_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a branch
    # Returns the branch, including its connection string once it is `active`. Poll this after creating a branch to learn when it is connectable. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranch]
    def get_database_branch(id, database_name, branch_name, opts = {})
      data, _status_code, _headers = get_database_branch_with_http_info(id, database_name, branch_name, opts)
      data
    end

    # Get a branch
    # Returns the branch, including its connection string once it is &#x60;active&#x60;. Poll this after creating a branch to learn when it is connectable. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranch, Integer, Hash)>] DatabaseBranch data, response status code and response headers
    def get_database_branch_with_http_info(id, database_name, branch_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.get_database_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.get_database_branch"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.get_database_branch"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.get_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.get_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseBranchesApi.get_database_branch"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseBranchesApi.get_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseBranchesApi.get_database_branch, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches/{branchName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.get_database_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#get_database_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a database's branches
    # Returns every branch of the database, including those still provisioning and those that failed, since each still holds a name.  Connection strings are omitted. Fetch a single branch to get its connection string. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranchList]
    def list_database_branches(id, database_name, opts = {})
      data, _status_code, _headers = list_database_branches_with_http_info(id, database_name, opts)
      data
    end

    # List a database&#39;s branches
    # Returns every branch of the database, including those still provisioning and those that failed, since each still holds a name.  Connection strings are omitted. Fetch a single branch to get its connection string. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranchList, Integer, Hash)>] DatabaseBranchList data, response status code and response headers
    def list_database_branches_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.list_database_branches ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.list_database_branches"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.list_database_branches"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.list_database_branches, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.list_database_branches, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranchList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.list_database_branches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#list_database_branches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset a branch to its parent's current state
    # Discards everything written on the branch and re-forks it from the parent as it is now.  Returns immediately with the branch in `provisioning`. The rewind runs in the background; poll the branch until it reports `active` before connecting again.  The branch keeps its name and its connection string, so anything holding that string keeps working once it is active again, and its lifetime is re-armed to the duration it was created with. The branch does not serve connections for the duration of the reset. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranch]
    def reset_database_branch(id, database_name, branch_name, opts = {})
      data, _status_code, _headers = reset_database_branch_with_http_info(id, database_name, branch_name, opts)
      data
    end

    # Reset a branch to its parent&#39;s current state
    # Discards everything written on the branch and re-forks it from the parent as it is now.  Returns immediately with the branch in &#x60;provisioning&#x60;. The rewind runs in the background; poll the branch until it reports &#x60;active&#x60; before connecting again.  The branch keeps its name and its connection string, so anything holding that string keeps working once it is active again, and its lifetime is re-armed to the duration it was created with. The branch does not serve connections for the duration of the reset. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranch, Integer, Hash)>] DatabaseBranch data, response status code and response headers
    def reset_database_branch_with_http_info(id, database_name, branch_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.reset_database_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.reset_database_branch"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.reset_database_branch"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.reset_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.reset_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseBranchesApi.reset_database_branch"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseBranchesApi.reset_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseBranchesApi.reset_database_branch, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches/{branchName}/reset'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.reset_database_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#reset_database_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate a branch's password
    # Issues a new password for the branch and invalidates the previous connection string. Existing connections are not interrupted; new ones must use the returned string. Proxies pick the rotation up within a few seconds, so the previous password can still open new connections until then.  The parent database's credentials are untouched. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranch]
    def reset_database_branch_password(id, database_name, branch_name, opts = {})
      data, _status_code, _headers = reset_database_branch_password_with_http_info(id, database_name, branch_name, opts)
      data
    end

    # Rotate a branch&#39;s password
    # Issues a new password for the branch and invalidates the previous connection string. Existing connections are not interrupted; new ones must use the returned string. Proxies pick the rotation up within a few seconds, so the previous password can still open new connections until then.  The parent database&#39;s credentials are untouched. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranch, Integer, Hash)>] DatabaseBranch data, response status code and response headers
    def reset_database_branch_password_with_http_info(id, database_name, branch_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.reset_database_branch_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.reset_database_branch_password"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.reset_database_branch_password"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.reset_database_branch_password, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.reset_database_branch_password, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseBranchesApi.reset_database_branch_password"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseBranchesApi.reset_database_branch_password, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseBranchesApi.reset_database_branch_password, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches/{branchName}/reset-password'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.reset_database_branch_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#reset_database_branch_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extend a branch's lifetime
    # Replaces the branch's lifetime and restarts the countdown from now, so a branch you are still working on is not swept mid-session. The new duration is remembered, so a later reset re-arms the same lifetime. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param update_database_branch_request [UpdateDatabaseBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBranch]
    def update_database_branch(id, database_name, branch_name, update_database_branch_request, opts = {})
      data, _status_code, _headers = update_database_branch_with_http_info(id, database_name, branch_name, update_database_branch_request, opts)
      data
    end

    # Extend a branch&#39;s lifetime
    # Replaces the branch&#39;s lifetime and restarts the countdown from now, so a branch you are still working on is not swept mid-session. The new duration is remembered, so a later reset re-arms the same lifetime. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param update_database_branch_request [UpdateDatabaseBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBranch, Integer, Hash)>] DatabaseBranch data, response status code and response headers
    def update_database_branch_with_http_info(id, database_name, branch_name, update_database_branch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBranchesApi.update_database_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBranchesApi.update_database_branch"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBranchesApi.update_database_branch"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBranchesApi.update_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBranchesApi.update_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseBranchesApi.update_database_branch"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseBranchesApi.update_database_branch, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseBranchesApi.update_database_branch, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_database_branch_request' is set
      if @api_client.config.client_side_validation && update_database_branch_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_database_branch_request' when calling DatabaseBranchesApi.update_database_branch"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/branches/{branchName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_database_branch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBranch'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBranchesApi.update_database_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBranchesApi#update_database_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
