=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class DatabaseBackupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Back up a database
    # Captures the database as it is now. The backup is available immediately; its `size_bytes` appears once the storage provider has costed it.  Backups are rate-limited to one per minute per database, and capped by the owner's plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_backup_request [CreateDatabaseBackupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBackup]
    def create_database_backup(id, database_name, create_database_backup_request, opts = {})
      data, _status_code, _headers = create_database_backup_with_http_info(id, database_name, create_database_backup_request, opts)
      data
    end

    # Back up a database
    # Captures the database as it is now. The backup is available immediately; its &#x60;size_bytes&#x60; appears once the storage provider has costed it.  Backups are rate-limited to one per minute per database, and capped by the owner&#39;s plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_backup_request [CreateDatabaseBackupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBackup, Integer, Hash)>] DatabaseBackup data, response status code and response headers
    def create_database_backup_with_http_info(id, database_name, create_database_backup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.create_database_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.create_database_backup"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.create_database_backup"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.create_database_backup, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.create_database_backup, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_database_backup_request' is set
      if @api_client.config.client_side_validation && create_database_backup_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_database_backup_request' when calling DatabaseBackupsApi.create_database_backup"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backups'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_database_backup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBackup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.create_database_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#create_database_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore a database
    # Replaces the database's data, either with a named backup or with its state at a point in time. This is destructive: everything written after that point is discarded.  Asynchronous: the response is `202` with the restore `pending` and the database `restoring`. The database does not accept connections until the restore reports `completed`; its connection string is unchanged throughout, so nothing holding it needs updating.  Restores are in place. There is no way to restore into a second database, and a database's branches are never restored — they keep serving their own data, but resetting a branch from its parent is refused by the storage provider for up to 24 hours afterwards. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_restore_request [CreateDatabaseRestoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseRestore]
    def create_database_restore(id, database_name, create_database_restore_request, opts = {})
      data, _status_code, _headers = create_database_restore_with_http_info(id, database_name, create_database_restore_request, opts)
      data
    end

    # Restore a database
    # Replaces the database&#39;s data, either with a named backup or with its state at a point in time. This is destructive: everything written after that point is discarded.  Asynchronous: the response is &#x60;202&#x60; with the restore &#x60;pending&#x60; and the database &#x60;restoring&#x60;. The database does not accept connections until the restore reports &#x60;completed&#x60;; its connection string is unchanged throughout, so nothing holding it needs updating.  Restores are in place. There is no way to restore into a second database, and a database&#39;s branches are never restored — they keep serving their own data, but resetting a branch from its parent is refused by the storage provider for up to 24 hours afterwards. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param create_database_restore_request [CreateDatabaseRestoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseRestore, Integer, Hash)>] DatabaseRestore data, response status code and response headers
    def create_database_restore_with_http_info(id, database_name, create_database_restore_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.create_database_restore ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.create_database_restore"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.create_database_restore"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.create_database_restore, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.create_database_restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_database_restore_request' is set
      if @api_client.config.client_side_validation && create_database_restore_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_database_restore_request' when calling DatabaseBackupsApi.create_database_restore"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/restores'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_database_restore_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseRestore'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.create_database_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#create_database_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a backup
    # Deletes the backup and frees its storage. Scheduled backups can be deleted too. A backup that is already gone reports `404`, so a name that never existed and a name that no longer does read the same. Refused with `409` while the database is being restored. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param backup_name [String] Backup name, unique within the database, exactly as returned by the list endpoint.  Deliberately looser than the names you can create: a backup made by a schedule is named for you, so reading or deleting one accepts any name a backup can have. 
    # @param [Hash] opts the optional parameters
    # @return [DeleteDatabaseBackup200Response]
    def delete_database_backup(id, database_name, backup_name, opts = {})
      data, _status_code, _headers = delete_database_backup_with_http_info(id, database_name, backup_name, opts)
      data
    end

    # Delete a backup
    # Deletes the backup and frees its storage. Scheduled backups can be deleted too. A backup that is already gone reports &#x60;404&#x60;, so a name that never existed and a name that no longer does read the same. Refused with &#x60;409&#x60; while the database is being restored. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param backup_name [String] Backup name, unique within the database, exactly as returned by the list endpoint.  Deliberately looser than the names you can create: a backup made by a schedule is named for you, so reading or deleting one accepts any name a backup can have. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDatabaseBackup200Response, Integer, Hash)>] DeleteDatabaseBackup200Response data, response status code and response headers
    def delete_database_backup_with_http_info(id, database_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.delete_database_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.delete_database_backup"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.delete_database_backup"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.delete_database_backup, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.delete_database_backup, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling DatabaseBackupsApi.delete_database_backup"
      end
      if @api_client.config.client_side_validation && backup_name.to_s.length > 128
        fail ArgumentError, 'invalid value for "backup_name" when calling DatabaseBackupsApi.delete_database_backup, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && backup_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "backup_name" when calling DatabaseBackupsApi.delete_database_backup, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backups/{backupName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'backupName' + '}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDatabaseBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.delete_database_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#delete_database_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a backup
    # Returns one backup of the database.
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param backup_name [String] Backup name, unique within the database, exactly as returned by the list endpoint.  Deliberately looser than the names you can create: a backup made by a schedule is named for you, so reading or deleting one accepts any name a backup can have. 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBackup]
    def get_database_backup(id, database_name, backup_name, opts = {})
      data, _status_code, _headers = get_database_backup_with_http_info(id, database_name, backup_name, opts)
      data
    end

    # Get a backup
    # Returns one backup of the database.
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param backup_name [String] Backup name, unique within the database, exactly as returned by the list endpoint.  Deliberately looser than the names you can create: a backup made by a schedule is named for you, so reading or deleting one accepts any name a backup can have. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBackup, Integer, Hash)>] DatabaseBackup data, response status code and response headers
    def get_database_backup_with_http_info(id, database_name, backup_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.get_database_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.get_database_backup"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.get_database_backup"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.get_database_backup, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.get_database_backup, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'backup_name' is set
      if @api_client.config.client_side_validation && backup_name.nil?
        fail ArgumentError, "Missing the required parameter 'backup_name' when calling DatabaseBackupsApi.get_database_backup"
      end
      if @api_client.config.client_side_validation && backup_name.to_s.length > 128
        fail ArgumentError, 'invalid value for "backup_name" when calling DatabaseBackupsApi.get_database_backup, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && backup_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "backup_name" when calling DatabaseBackupsApi.get_database_backup, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backups/{backupName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'backupName' + '}', CGI.escape(backup_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBackup'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.get_database_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#get_database_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the automated backup schedule
    # Returns the database's backup schedule. An empty list means no scheduled backups. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBackupSchedule]
    def get_database_backup_schedule(id, database_name, opts = {})
      data, _status_code, _headers = get_database_backup_schedule_with_http_info(id, database_name, opts)
      data
    end

    # Get the automated backup schedule
    # Returns the database&#39;s backup schedule. An empty list means no scheduled backups. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBackupSchedule, Integer, Hash)>] DatabaseBackupSchedule data, response status code and response headers
    def get_database_backup_schedule_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.get_database_backup_schedule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.get_database_backup_schedule"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.get_database_backup_schedule"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.get_database_backup_schedule, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.get_database_backup_schedule, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backup-schedule'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBackupSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.get_database_backup_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#get_database_backup_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a restore
    # Returns the restore. Poll this after starting one; the database is connectable again once it reports `completed`. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param restore_id [String] Database restore ID
    # @param [Hash] opts the optional parameters
    # @return [DatabaseRestore]
    def get_database_restore(id, database_name, restore_id, opts = {})
      data, _status_code, _headers = get_database_restore_with_http_info(id, database_name, restore_id, opts)
      data
    end

    # Get a restore
    # Returns the restore. Poll this after starting one; the database is connectable again once it reports &#x60;completed&#x60;. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param restore_id [String] Database restore ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseRestore, Integer, Hash)>] DatabaseRestore data, response status code and response headers
    def get_database_restore_with_http_info(id, database_name, restore_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.get_database_restore ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.get_database_restore"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.get_database_restore"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.get_database_restore, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.get_database_restore, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'restore_id' is set
      if @api_client.config.client_side_validation && restore_id.nil?
        fail ArgumentError, "Missing the required parameter 'restore_id' when calling DatabaseBackupsApi.get_database_restore"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/restores/{restoreId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'restoreId' + '}', CGI.escape(restore_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseRestore'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.get_database_restore",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#get_database_restore\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a database's backups
    # Returns every backup of the database, newest first, together with the window a point-in-time restore may target.  Both backups you took and backups the schedule produced are listed; `source` tells them apart. Only manual backups count against the plan's backup allowance. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBackupList]
    def list_database_backups(id, database_name, opts = {})
      data, _status_code, _headers = list_database_backups_with_http_info(id, database_name, opts)
      data
    end

    # List a database&#39;s backups
    # Returns every backup of the database, newest first, together with the window a point-in-time restore may target.  Both backups you took and backups the schedule produced are listed; &#x60;source&#x60; tells them apart. Only manual backups count against the plan&#39;s backup allowance. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBackupList, Integer, Hash)>] DatabaseBackupList data, response status code and response headers
    def list_database_backups_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.list_database_backups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.list_database_backups"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.list_database_backups"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.list_database_backups, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.list_database_backups, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backups'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBackupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.list_database_backups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#list_database_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a database's restores
    # Returns the database's restore history, newest first, capped at the 50 most recent. There is no pagination: a database that has been restored more than 50 times keeps the older records but does not return them. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseRestoreList]
    def list_database_restores(id, database_name, opts = {})
      data, _status_code, _headers = list_database_restores_with_http_info(id, database_name, opts)
      data
    end

    # List a database&#39;s restores
    # Returns the database&#39;s restore history, newest first, capped at the 50 most recent. There is no pagination: a database that has been restored more than 50 times keeps the older records but does not return them. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseRestoreList, Integer, Hash)>] DatabaseRestoreList data, response status code and response headers
    def list_database_restores_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.list_database_restores ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.list_database_restores"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.list_database_restores"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.list_database_restores, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.list_database_restores, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/restores'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseRestoreList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.list_database_restores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#list_database_restores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace the automated backup schedule
    # Replaces the schedule wholesale. Send an empty `entries` list to stop scheduled backups.  Scheduled backups do not count against the plan's backup allowance, but their retention is clamped to the plan's. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_backup_schedule [DatabaseBackupSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseBackupSchedule]
    def update_database_backup_schedule(id, database_name, database_backup_schedule, opts = {})
      data, _status_code, _headers = update_database_backup_schedule_with_http_info(id, database_name, database_backup_schedule, opts)
      data
    end

    # Replace the automated backup schedule
    # Replaces the schedule wholesale. Send an empty &#x60;entries&#x60; list to stop scheduled backups.  Scheduled backups do not count against the plan&#39;s backup allowance, but their retention is clamped to the plan&#39;s. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_backup_schedule [DatabaseBackupSchedule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseBackupSchedule, Integer, Hash)>] DatabaseBackupSchedule data, response status code and response headers
    def update_database_backup_schedule_with_http_info(id, database_name, database_backup_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseBackupsApi.update_database_backup_schedule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabaseBackupsApi.update_database_backup_schedule"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseBackupsApi.update_database_backup_schedule"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseBackupsApi.update_database_backup_schedule, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseBackupsApi.update_database_backup_schedule, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_backup_schedule' is set
      if @api_client.config.client_side_validation && database_backup_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'database_backup_schedule' when calling DatabaseBackupsApi.update_database_backup_schedule"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/backup-schedule'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_backup_schedule)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseBackupSchedule'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabaseBackupsApi.update_database_backup_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseBackupsApi#update_database_backup_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
