=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class DatabasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new serverless PostgreSQL database
    # Creates a serverless PostgreSQL database in the project. Each project can hold 1 database on Free and up to 10,000 on Pro. Requests over the plan's cap return 403. 
    # @param id [String] Project ID
    # @param create_database_request [CreateDatabaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Database]
    def create_database(id, create_database_request, opts = {})
      data, _status_code, _headers = create_database_with_http_info(id, create_database_request, opts)
      data
    end

    # Create a new serverless PostgreSQL database
    # Creates a serverless PostgreSQL database in the project. Each project can hold 1 database on Free and up to 10,000 on Pro. Requests over the plan&#39;s cap return 403. 
    # @param id [String] Project ID
    # @param create_database_request [CreateDatabaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Database, Integer, Hash)>] Database data, response status code and response headers
    def create_database_with_http_info(id, create_database_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.create_database ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.create_database"
      end
      # verify the required parameter 'create_database_request' is set
      if @api_client.config.client_side_validation && create_database_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_database_request' when calling DatabasesApi.create_database"
      end
      # resource path
      local_var_path = '/projects/{id}/databases'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_database_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Database'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.create_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#create_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a database
    # Deletes a database and the instance backing it. When the instance is removed synchronously the database row is deleted and the response is `204`. If the instance cannot be deleted right away, the database row is retained (status `deleting`) and its teardown is handed to the background reconciler, which retries the deletion and removes the row once the instance is gone; in that case the response is `202`. The database row is never dropped while its instance still exists, so an instance is never orphaned without a record to retry from. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DeleteDatabase202Response]
    def delete_database(id, database_name, opts = {})
      data, _status_code, _headers = delete_database_with_http_info(id, database_name, opts)
      data
    end

    # Delete a database
    # Deletes a database and the instance backing it. When the instance is removed synchronously the database row is deleted and the response is &#x60;204&#x60;. If the instance cannot be deleted right away, the database row is retained (status &#x60;deleting&#x60;) and its teardown is handed to the background reconciler, which retries the deletion and removes the row once the instance is gone; in that case the response is &#x60;202&#x60;. The database row is never dropped while its instance still exists, so an instance is never orphaned without a record to retry from. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteDatabase202Response, Integer, Hash)>] DeleteDatabase202Response data, response status code and response headers
    def delete_database_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.delete_database ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.delete_database"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.delete_database"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.delete_database, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.delete_database, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteDatabase202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.delete_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#delete_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get database details
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Database]
    def get_database(id, database_name, opts = {})
      data, _status_code, _headers = get_database_with_http_info(id, database_name, opts)
      data
    end

    # Get database details
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Database, Integer, Hash)>] Database data, response status code and response headers
    def get_database_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_database ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.get_database"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.get_database"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.get_database, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.get_database, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Database'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_database",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_database\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get database consumption metrics
    # Retrieve consumption metrics including storage, compute time, and data transfer. Metrics are aggregated at the project level. Defaults to last 24 hours.  **Note:** Advanced metrics require an upgraded plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Start time in RFC3339 format (e.g., \&quot;2024-01-01T00:00:00Z\&quot;). Defaults to 24 hours ago.
    # @option opts [Time] :to End time in RFC3339 format (e.g., \&quot;2024-01-02T00:00:00Z\&quot;). Defaults to now.
    # @option opts [String] :granularity Level of detail for metrics aggregation (default to 'hourly')
    # @return [DatabaseStats]
    def get_database_stats(id, database_name, opts = {})
      data, _status_code, _headers = get_database_stats_with_http_info(id, database_name, opts)
      data
    end

    # Get database consumption metrics
    # Retrieve consumption metrics including storage, compute time, and data transfer. Metrics are aggregated at the project level. Defaults to last 24 hours.  **Note:** Advanced metrics require an upgraded plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from Start time in RFC3339 format (e.g., \&quot;2024-01-01T00:00:00Z\&quot;). Defaults to 24 hours ago.
    # @option opts [Time] :to End time in RFC3339 format (e.g., \&quot;2024-01-02T00:00:00Z\&quot;). Defaults to now.
    # @option opts [String] :granularity Level of detail for metrics aggregation (default to 'hourly')
    # @return [Array<(DatabaseStats, Integer, Hash)>] DatabaseStats data, response status code and response headers
    def get_database_stats_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_database_stats ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.get_database_stats"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.get_database_stats"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.get_database_stats, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.get_database_stats, must conform to the pattern #{pattern}."
      end

      allowable_values = ["hourly", "daily", "monthly"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/stats'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_database_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_database_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get database queries
    # Returns the database's current top queries from pg_stat_statements ranked by total execution time.  **PRO plan required.** This endpoint is only available to projects owned by users on the PRO billing plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of queries to return. (default to 10)
    # @return [DatabaseQueryPerformanceResponse]
    def get_project_database_queries(id, database_name, opts = {})
      data, _status_code, _headers = get_project_database_queries_with_http_info(id, database_name, opts)
      data
    end

    # Get database queries
    # Returns the database&#39;s current top queries from pg_stat_statements ranked by total execution time.  **PRO plan required.** This endpoint is only available to projects owned by users on the PRO billing plan. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of queries to return. (default to 10)
    # @return [Array<(DatabaseQueryPerformanceResponse, Integer, Hash)>] DatabaseQueryPerformanceResponse data, response status code and response headers
    def get_project_database_queries_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.get_project_database_queries ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.get_project_database_queries"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.get_project_database_queries"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.get_project_database_queries, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.get_project_database_queries, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabasesApi.get_project_database_queries, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabasesApi.get_project_database_queries, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/queries'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryPerformanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.get_project_database_queries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#get_project_database_queries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List platform-supported regions for database provisioning
    # Returns the regions enabled for database provisioning in this platform environment. This is a public endpoint that doesn't require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<ListDatabaseRegions200ResponseInner>]
    def list_database_regions(opts = {})
      data, _status_code, _headers = list_database_regions_with_http_info(opts)
      data
    end

    # List platform-supported regions for database provisioning
    # Returns the regions enabled for database provisioning in this platform environment. This is a public endpoint that doesn&#39;t require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ListDatabaseRegions200ResponseInner>, Integer, Hash)>] Array<ListDatabaseRegions200ResponseInner> data, response status code and response headers
    def list_database_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.list_database_regions ...'
      end
      # resource path
      local_var_path = '/databases/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListDatabaseRegions200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DatabasesApi.list_database_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#list_database_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all databases for a project
    # Supports two mutually exclusive pagination modes. Offset mode uses `page` and `limit`. Cursor mode uses `cursor` and `limit`, supports `search` (case-insensitive name match), and returns `next_cursor`/`prev_cursor`. The optional `status` filter applies in both modes and is bound to the cursor. Sending both `page` and `cursor` (or `page` and `search`) returns 400. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [String] :status Return only the databases in this status.
    # @return [PaginatedDatabases]
    def list_databases(id, opts = {})
      data, _status_code, _headers = list_databases_with_http_info(id, opts)
      data
    end

    # List all databases for a project
    # Supports two mutually exclusive pagination modes. Offset mode uses &#x60;page&#x60; and &#x60;limit&#x60;. Cursor mode uses &#x60;cursor&#x60; and &#x60;limit&#x60;, supports &#x60;search&#x60; (case-insensitive name match), and returns &#x60;next_cursor&#x60;/&#x60;prev_cursor&#x60;. The optional &#x60;status&#x60; filter applies in both modes and is bound to the cursor. Sending both &#x60;page&#x60; and &#x60;cursor&#x60; (or &#x60;page&#x60; and &#x60;search&#x60;) returns 400. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [String] :status Return only the databases in this status.
    # @return [Array<(PaginatedDatabases, Integer, Hash)>] PaginatedDatabases data, response status code and response headers
    def list_databases_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.list_databases ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.list_databases"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DatabasesApi.list_databases, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabasesApi.list_databases, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DatabasesApi.list_databases, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling DatabasesApi.list_databases, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling DatabasesApi.list_databases, the character length must be smaller than or equal to 256.'
      end

      allowable_values = ["provisioning", "active", "restoring", "failed", "deleting"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/databases'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDatabases'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.list_databases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#list_databases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available PostgreSQL versions
    # Returns a list of supported PostgreSQL major versions for database provisioning. This is a public endpoint that doesn't require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<ListPostgresVersions200ResponseInner>]
    def list_postgres_versions(opts = {})
      data, _status_code, _headers = list_postgres_versions_with_http_info(opts)
      data
    end

    # List available PostgreSQL versions
    # Returns a list of supported PostgreSQL major versions for database provisioning. This is a public endpoint that doesn&#39;t require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ListPostgresVersions200ResponseInner>, Integer, Hash)>] Array<ListPostgresVersions200ResponseInner> data, response status code and response headers
    def list_postgres_versions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.list_postgres_versions ...'
      end
      # resource path
      local_var_path = '/databases/postgres-versions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListPostgresVersions200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DatabasesApi.list_postgres_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#list_postgres_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset database password
    # Rotates the Volcano-managed PostgreSQL password used by clients when connecting through pgproxy. This does not rotate or expose the internal owner password. The returned password and connection string are the only client credentials that will authenticate through pgproxy after reset.  Existing connections are not interrupted; new ones must use the returned string. Proxies pick the rotation up within a few seconds, so the previous password can still open new connections until then. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [ResetDatabasePassword200Response]
    def reset_database_password(id, database_name, opts = {})
      data, _status_code, _headers = reset_database_password_with_http_info(id, database_name, opts)
      data
    end

    # Reset database password
    # Rotates the Volcano-managed PostgreSQL password used by clients when connecting through pgproxy. This does not rotate or expose the internal owner password. The returned password and connection string are the only client credentials that will authenticate through pgproxy after reset.  Existing connections are not interrupted; new ones must use the returned string. Proxies pick the rotation up within a few seconds, so the previous password can still open new connections until then. 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResetDatabasePassword200Response, Integer, Hash)>] ResetDatabasePassword200Response data, response status code and response headers
    def reset_database_password_with_http_info(id, database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.reset_database_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.reset_database_password"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.reset_database_password"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.reset_database_password, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.reset_database_password, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/reset-password'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResetDatabasePassword200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.reset_database_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#reset_database_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update database size
    # Change the size tier of a database. This may briefly interrupt active connections.  **Available sizes:** - `volcano-db-xs`: Up to ~1GB RAM - Development, small apps - `volcano-db-s`: Up to ~4GB RAM - Production-ready, light traffic - `volcano-db-m`: Up to ~8GB RAM - Medium traffic applications - `volcano-db-l`: Up to ~16GB RAM - High traffic, larger datasets - `volcano-db-xl`: Up to ~32GB RAM - Heavy workloads - `volcano-db-2xl`: Up to ~64GB RAM - Enterprise-scale 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param update_database_type_request [UpdateDatabaseTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Database]
    def update_database_type(id, database_name, update_database_type_request, opts = {})
      data, _status_code, _headers = update_database_type_with_http_info(id, database_name, update_database_type_request, opts)
      data
    end

    # Update database size
    # Change the size tier of a database. This may briefly interrupt active connections.  **Available sizes:** - &#x60;volcano-db-xs&#x60;: Up to ~1GB RAM - Development, small apps - &#x60;volcano-db-s&#x60;: Up to ~4GB RAM - Production-ready, light traffic - &#x60;volcano-db-m&#x60;: Up to ~8GB RAM - Medium traffic applications - &#x60;volcano-db-l&#x60;: Up to ~16GB RAM - High traffic, larger datasets - &#x60;volcano-db-xl&#x60;: Up to ~32GB RAM - Heavy workloads - &#x60;volcano-db-2xl&#x60;: Up to ~64GB RAM - Enterprise-scale 
    # @param id [String] Project ID
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param update_database_type_request [UpdateDatabaseTypeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Database, Integer, Hash)>] Database data, response status code and response headers
    def update_database_type_with_http_info(id, database_name, update_database_type_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabasesApi.update_database_type ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DatabasesApi.update_database_type"
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabasesApi.update_database_type"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabasesApi.update_database_type, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabasesApi.update_database_type, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_database_type_request' is set
      if @api_client.config.client_side_validation && update_database_type_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_database_type_request' when calling DatabasesApi.update_database_type"
      end
      # resource path
      local_var_path = '/projects/{id}/databases/{databaseName}/type'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_database_type_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Database'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DatabasesApi.update_database_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabasesApi#update_database_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
