=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class DatabaseQueriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete data from database (REST API)
    # Delete rows from your database using REST API.  **Safety:** Requires at least one filter to prevent accidental mass deletions  **Security:** Row-Level Security ensures you can only delete data you have access to  **Note:** If RLS blocks the delete, an empty result is returned (not an error)  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch's own credentials. The branch must be `active` and unexpired. Nothing about this request can reach the parent's data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_delete_request [DatabaseDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_branch_delete(database_name, branch_name, database_delete_request, opts = {})
      data, _status_code, _headers = query_database_branch_delete_with_http_info(database_name, branch_name, database_delete_request, opts)
      data
    end

    # Delete data from database (REST API)
    # Delete rows from your database using REST API.  **Safety:** Requires at least one filter to prevent accidental mass deletions  **Security:** Row-Level Security ensures you can only delete data you have access to  **Note:** If RLS blocks the delete, an empty result is returned (not an error)  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch&#39;s own credentials. The branch must be &#x60;active&#x60; and unexpired. Nothing about this request can reach the parent&#39;s data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_delete_request [DatabaseDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_branch_delete_with_http_info(database_name, branch_name, database_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_branch_delete ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_branch_delete"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_branch_delete, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_branch_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseQueriesApi.query_database_branch_delete"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseQueriesApi.query_database_branch_delete, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseQueriesApi.query_database_branch_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_delete_request' is set
      if @api_client.config.client_side_validation && database_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_delete_request' when calling DatabaseQueriesApi.query_database_branch_delete"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/branches/{branchName}/query/delete'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_delete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_branch_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_branch_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Insert data into database (REST API)
    # Insert new rows into your database using REST API.  **Authentication:** Requires auth user access token  **Auto-set user_id:** If your table has a trigger using `auth.uid()`, user_id will be automatically set to the authenticated user  **Security:** Row-Level Security policies are enforced  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch's own credentials. The branch must be `active` and unexpired. Nothing about this request can reach the parent's data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_insert_request [DatabaseInsertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_branch_insert(database_name, branch_name, database_insert_request, opts = {})
      data, _status_code, _headers = query_database_branch_insert_with_http_info(database_name, branch_name, database_insert_request, opts)
      data
    end

    # Insert data into database (REST API)
    # Insert new rows into your database using REST API.  **Authentication:** Requires auth user access token  **Auto-set user_id:** If your table has a trigger using &#x60;auth.uid()&#x60;, user_id will be automatically set to the authenticated user  **Security:** Row-Level Security policies are enforced  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch&#39;s own credentials. The branch must be &#x60;active&#x60; and unexpired. Nothing about this request can reach the parent&#39;s data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_insert_request [DatabaseInsertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_branch_insert_with_http_info(database_name, branch_name, database_insert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_branch_insert ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_branch_insert"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_branch_insert, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_branch_insert, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseQueriesApi.query_database_branch_insert"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseQueriesApi.query_database_branch_insert, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseQueriesApi.query_database_branch_insert, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_insert_request' is set
      if @api_client.config.client_side_validation && database_insert_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_insert_request' when calling DatabaseQueriesApi.query_database_branch_insert"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/branches/{branchName}/query/insert'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_insert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_branch_insert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_branch_insert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Database connectivity probe (REST API)
    # Connectivity probe that runs a fixed `SELECT 1` through pgproxy, using the same authentication, status/bandwidth gating, and metering as the other `/query/*` endpoints.  Unlike those endpoints, ping takes **no request body** and performs **no table-name validation**, so it works on any database — including a freshly provisioned, empty one. It is a real committed round-trip through pgproxy, so a `200` means the database is reachable and queryable. Used by the dashboard's database connection test.  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch's own credentials. The branch must be `active` and unexpired. Nothing about this request can reach the parent's data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_branch_ping(database_name, branch_name, opts = {})
      data, _status_code, _headers = query_database_branch_ping_with_http_info(database_name, branch_name, opts)
      data
    end

    # Database connectivity probe (REST API)
    # Connectivity probe that runs a fixed &#x60;SELECT 1&#x60; through pgproxy, using the same authentication, status/bandwidth gating, and metering as the other &#x60;/query/*&#x60; endpoints.  Unlike those endpoints, ping takes **no request body** and performs **no table-name validation**, so it works on any database — including a freshly provisioned, empty one. It is a real committed round-trip through pgproxy, so a &#x60;200&#x60; means the database is reachable and queryable. Used by the dashboard&#39;s database connection test.  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch&#39;s own credentials. The branch must be &#x60;active&#x60; and unexpired. Nothing about this request can reach the parent&#39;s data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_branch_ping_with_http_info(database_name, branch_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_branch_ping ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_branch_ping"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_branch_ping, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_branch_ping, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseQueriesApi.query_database_branch_ping"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseQueriesApi.query_database_branch_ping, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseQueriesApi.query_database_branch_ping, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/databases/{databaseName}/branches/{branchName}/query/ping'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_branch_ping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_branch_ping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query database with SELECT (REST API)
    # Query your database using a simple REST API - no SQL required!  **Authentication:** Requires auth user access token (from signup/signin)  **Row-Level Security:** Automatically enforced - you see only data you have access to  **Use Cases:** - Query from browser/mobile apps - Simple data retrieval - Filtered searches with sorting and pagination  **Note:** For complex queries (JOINs, CTEs), use Lambda functions with direct SQL  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch's own credentials. The branch must be `active` and unexpired. Nothing about this request can reach the parent's data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_select_request [DatabaseSelectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_branch_select(database_name, branch_name, database_select_request, opts = {})
      data, _status_code, _headers = query_database_branch_select_with_http_info(database_name, branch_name, database_select_request, opts)
      data
    end

    # Query database with SELECT (REST API)
    # Query your database using a simple REST API - no SQL required!  **Authentication:** Requires auth user access token (from signup/signin)  **Row-Level Security:** Automatically enforced - you see only data you have access to  **Use Cases:** - Query from browser/mobile apps - Simple data retrieval - Filtered searches with sorting and pagination  **Note:** For complex queries (JOINs, CTEs), use Lambda functions with direct SQL  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch&#39;s own credentials. The branch must be &#x60;active&#x60; and unexpired. Nothing about this request can reach the parent&#39;s data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_select_request [DatabaseSelectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_branch_select_with_http_info(database_name, branch_name, database_select_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_branch_select ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_branch_select"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_branch_select, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_branch_select, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseQueriesApi.query_database_branch_select"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseQueriesApi.query_database_branch_select, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseQueriesApi.query_database_branch_select, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_select_request' is set
      if @api_client.config.client_side_validation && database_select_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_select_request' when calling DatabaseQueriesApi.query_database_branch_select"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/branches/{branchName}/query/select'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_select_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_branch_select",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_branch_select\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update data in database (REST API)
    # Update existing rows in your database using REST API.  **Security:** Row-Level Security ensures you can only update data you have access to  **Safety:** Requires at least one filter to prevent accidental mass updates. A request with no `filters` is rejected with `400` (mirrors delete). This matters for service-key queries, which run with full access and bypass RLS.  **Note:** If RLS blocks the update, an empty result is returned (not an error)  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch's own credentials. The branch must be `active` and unexpired. Nothing about this request can reach the parent's data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_update_request [DatabaseUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_branch_update(database_name, branch_name, database_update_request, opts = {})
      data, _status_code, _headers = query_database_branch_update_with_http_info(database_name, branch_name, database_update_request, opts)
      data
    end

    # Update data in database (REST API)
    # Update existing rows in your database using REST API.  **Security:** Row-Level Security ensures you can only update data you have access to  **Safety:** Requires at least one filter to prevent accidental mass updates. A request with no &#x60;filters&#x60; is rejected with &#x60;400&#x60; (mirrors delete). This matters for service-key queries, which run with full access and bypass RLS.  **Note:** If RLS blocks the update, an empty result is returned (not an error)  **Branch-targeted.** Runs against the named branch instead of the parent database, using the branch&#39;s own credentials. The branch must be &#x60;active&#x60; and unexpired. Nothing about this request can reach the parent&#39;s data. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param branch_name [String] Branch name (unique within the parent database, lowercase letters, numbers, and underscores only)
    # @param database_update_request [DatabaseUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_branch_update_with_http_info(database_name, branch_name, database_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_branch_update ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_branch_update"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_branch_update, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_branch_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'branch_name' is set
      if @api_client.config.client_side_validation && branch_name.nil?
        fail ArgumentError, "Missing the required parameter 'branch_name' when calling DatabaseQueriesApi.query_database_branch_update"
      end
      if @api_client.config.client_side_validation && branch_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "branch_name" when calling DatabaseQueriesApi.query_database_branch_update, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && branch_name !~ pattern
        fail ArgumentError, "invalid value for 'branch_name' when calling DatabaseQueriesApi.query_database_branch_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_update_request' is set
      if @api_client.config.client_side_validation && database_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_update_request' when calling DatabaseQueriesApi.query_database_branch_update"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/branches/{branchName}/query/update'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s)).sub('{' + 'branchName' + '}', CGI.escape(branch_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_branch_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_branch_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete data from database (REST API)
    # Delete rows from your database using REST API.  **Safety:** Requires at least one filter to prevent accidental mass deletions  **Security:** Row-Level Security ensures you can only delete data you have access to  **Note:** If RLS blocks the delete, an empty result is returned (not an error) 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_delete_request [DatabaseDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_delete(database_name, database_delete_request, opts = {})
      data, _status_code, _headers = query_database_delete_with_http_info(database_name, database_delete_request, opts)
      data
    end

    # Delete data from database (REST API)
    # Delete rows from your database using REST API.  **Safety:** Requires at least one filter to prevent accidental mass deletions  **Security:** Row-Level Security ensures you can only delete data you have access to  **Note:** If RLS blocks the delete, an empty result is returned (not an error) 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_delete_request [DatabaseDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_delete_with_http_info(database_name, database_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_delete ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_delete"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_delete, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_delete, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_delete_request' is set
      if @api_client.config.client_side_validation && database_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_delete_request' when calling DatabaseQueriesApi.query_database_delete"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/query/delete'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_delete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Insert data into database (REST API)
    # Insert new rows into your database using REST API.  **Authentication:** Requires auth user access token  **Auto-set user_id:** If your table has a trigger using `auth.uid()`, user_id will be automatically set to the authenticated user  **Security:** Row-Level Security policies are enforced 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_insert_request [DatabaseInsertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_insert(database_name, database_insert_request, opts = {})
      data, _status_code, _headers = query_database_insert_with_http_info(database_name, database_insert_request, opts)
      data
    end

    # Insert data into database (REST API)
    # Insert new rows into your database using REST API.  **Authentication:** Requires auth user access token  **Auto-set user_id:** If your table has a trigger using &#x60;auth.uid()&#x60;, user_id will be automatically set to the authenticated user  **Security:** Row-Level Security policies are enforced 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_insert_request [DatabaseInsertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_insert_with_http_info(database_name, database_insert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_insert ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_insert"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_insert, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_insert, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_insert_request' is set
      if @api_client.config.client_side_validation && database_insert_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_insert_request' when calling DatabaseQueriesApi.query_database_insert"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/query/insert'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_insert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_insert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_insert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Database connectivity probe (REST API)
    # Connectivity probe that runs a fixed `SELECT 1` through pgproxy, using the same authentication, status/bandwidth gating, and metering as the other `/query/*` endpoints.  Unlike those endpoints, ping takes **no request body** and performs **no table-name validation**, so it works on any database — including a freshly provisioned, empty one. It is a real committed round-trip through pgproxy, so a `200` means the database is reachable and queryable. Used by the dashboard's database connection test. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_ping(database_name, opts = {})
      data, _status_code, _headers = query_database_ping_with_http_info(database_name, opts)
      data
    end

    # Database connectivity probe (REST API)
    # Connectivity probe that runs a fixed &#x60;SELECT 1&#x60; through pgproxy, using the same authentication, status/bandwidth gating, and metering as the other &#x60;/query/*&#x60; endpoints.  Unlike those endpoints, ping takes **no request body** and performs **no table-name validation**, so it works on any database — including a freshly provisioned, empty one. It is a real committed round-trip through pgproxy, so a &#x60;200&#x60; means the database is reachable and queryable. Used by the dashboard&#39;s database connection test. 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_ping_with_http_info(database_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_ping ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_ping"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_ping, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_ping, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/databases/{databaseName}/query/ping'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_ping",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_ping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Query database with SELECT (REST API)
    # Query your database using a simple REST API - no SQL required!  **Authentication:** Requires auth user access token (from signup/signin)  **Row-Level Security:** Automatically enforced - you see only data you have access to  **Use Cases:** - Query from browser/mobile apps - Simple data retrieval - Filtered searches with sorting and pagination  **Note:** For complex queries (JOINs, CTEs), use functions with direct SQL 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_select_request [DatabaseSelectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_select(database_name, database_select_request, opts = {})
      data, _status_code, _headers = query_database_select_with_http_info(database_name, database_select_request, opts)
      data
    end

    # Query database with SELECT (REST API)
    # Query your database using a simple REST API - no SQL required!  **Authentication:** Requires auth user access token (from signup/signin)  **Row-Level Security:** Automatically enforced - you see only data you have access to  **Use Cases:** - Query from browser/mobile apps - Simple data retrieval - Filtered searches with sorting and pagination  **Note:** For complex queries (JOINs, CTEs), use functions with direct SQL 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_select_request [DatabaseSelectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_select_with_http_info(database_name, database_select_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_select ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_select"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_select, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_select, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_select_request' is set
      if @api_client.config.client_side_validation && database_select_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_select_request' when calling DatabaseQueriesApi.query_database_select"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/query/select'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_select_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_select",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_select\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update data in database (REST API)
    # Update existing rows in your database using REST API.  **Security:** Row-Level Security ensures you can only update data you have access to  **Safety:** Requires at least one filter to prevent accidental mass updates. A request with no `filters` is rejected with `400` (mirrors delete). This matters for service-key queries, which run with full access and bypass RLS.  **Note:** If RLS blocks the update, an empty result is returned (not an error) 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_update_request [DatabaseUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DatabaseQueryResult]
    def query_database_update(database_name, database_update_request, opts = {})
      data, _status_code, _headers = query_database_update_with_http_info(database_name, database_update_request, opts)
      data
    end

    # Update data in database (REST API)
    # Update existing rows in your database using REST API.  **Security:** Row-Level Security ensures you can only update data you have access to  **Safety:** Requires at least one filter to prevent accidental mass updates. A request with no &#x60;filters&#x60; is rejected with &#x60;400&#x60; (mirrors delete). This matters for service-key queries, which run with full access and bypass RLS.  **Note:** If RLS blocks the update, an empty result is returned (not an error) 
    # @param database_name [String] Database name (unique within project, lowercase letters, numbers, and underscores only)
    # @param database_update_request [DatabaseUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DatabaseQueryResult, Integer, Hash)>] DatabaseQueryResult data, response status code and response headers
    def query_database_update_with_http_info(database_name, database_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DatabaseQueriesApi.query_database_update ...'
      end
      # verify the required parameter 'database_name' is set
      if @api_client.config.client_side_validation && database_name.nil?
        fail ArgumentError, "Missing the required parameter 'database_name' when calling DatabaseQueriesApi.query_database_update"
      end
      if @api_client.config.client_side_validation && database_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "database_name" when calling DatabaseQueriesApi.query_database_update, the character length must be smaller than or equal to 64.'
      end

      pattern = Regexp.new(/^[a-z0-9_]+$/)
      if @api_client.config.client_side_validation && database_name !~ pattern
        fail ArgumentError, "invalid value for 'database_name' when calling DatabaseQueriesApi.query_database_update, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'database_update_request' is set
      if @api_client.config.client_side_validation && database_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'database_update_request' when calling DatabaseQueriesApi.query_database_update"
      end
      # resource path
      local_var_path = '/databases/{databaseName}/query/update'.sub('{' + 'databaseName' + '}', CGI.escape(database_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(database_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DatabaseQueryResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"DatabaseQueriesApi.query_database_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DatabaseQueriesApi#query_database_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
