=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class DurableFunctionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve a durable approval
    # Approves a pending approval. The workflow resumes with the decision.  Only a person can decide: use the dashboard or a platform token from `volcano login`. Project access tokens are refused with `403`.  Approving an approval that is already approved returns it unchanged. If the workflow cannot be reached right away, the decision still stands and Volcano keeps delivering it. 
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @option opts [DurableApprovalDecisionRequest] :durable_approval_decision_request 
    # @return [DurableApproval]
    def approve_durable_approval(id, approval_id, opts = {})
      data, _status_code, _headers = approve_durable_approval_with_http_info(id, approval_id, opts)
      data
    end

    # Approve a durable approval
    # Approves a pending approval. The workflow resumes with the decision.  Only a person can decide: use the dashboard or a platform token from &#x60;volcano login&#x60;. Project access tokens are refused with &#x60;403&#x60;.  Approving an approval that is already approved returns it unchanged. If the workflow cannot be reached right away, the decision still stands and Volcano keeps delivering it. 
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @option opts [DurableApprovalDecisionRequest] :durable_approval_decision_request 
    # @return [Array<(DurableApproval, Integer, Hash)>] DurableApproval data, response status code and response headers
    def approve_durable_approval_with_http_info(id, approval_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.approve_durable_approval ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.approve_durable_approval"
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling DurableFunctionsApi.approve_durable_approval"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-approvals/{approvalId}/approve'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'approvalId' + '}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'durable_approval_decision_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DurableApproval'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.approve_durable_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#approve_durable_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a durable function
    # Upload a durable function source bundle. Creates the function on the first call for a name and redeploys it on every call after that, the same create-or-update contract `POST /projects/{id}/functions` has.  Volcano builds and deploys asynchronously. A deployment that starts immediately returns `status: provisioning`, then transitions to `active` or `failed`; a deployment that has to wait for a running one is exposed through `pending_deployment_id`. Existing executions keep running against the runtime they started on.  The `durable` configuration is derived from the project's plan rather than supplied here, and is fixed once the function exists. A name already held by a standard function is rejected with 409: a function cannot change kind. 
    # @param id [String] Project ID
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param code [File] ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles.
    # @param runtime [String] Runtime environment. Required. Durable execution needs the durable authoring API, which ships for these runtimes only; any other runtime is rejected with 400 and the response names the ones that work. Note that a durable Python function needs a newer runtime than a standard one defaults to. &#x60;GET /functions/runtimes&#x60; reports &#x60;durable_capable&#x60; per runtime. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handler The name of the function to invoke. Defaults to \\\&quot;handler\\\&quot; if not specified. (default to 'handler')
    # @option opts [Boolean] :is_public Whether anon keys with &#x60;functions.invoke&#x60; may start an execution. Redeploying is the only way to change it, since the collection has no update endpoint; omit it to keep the current visibility, and a new function starts private.  The standard collection&#39;s synchronous invocation fields — &#x60;invocation_mode&#x60;, &#x60;http_auth_mode&#x60;, &#x60;openapi_spec&#x60; — configure a request path no durable route serves, and are rejected with 400 rather than ignored. 
    # @option opts [String] :variable_scope Which project variables this function receives. &#x60;all&#x60; (the default) gives it every project variable; &#x60;scoped&#x60; gives it only the variables it selects. Omitting this leaves an existing function&#39;s scope unchanged. 
    # @option opts [String] :variables JSON-encoded array of project variable names this function requires, on top of the ones detected in its source. A declared name the project does not define is rejected with 400; a detected name it does not define is ignored. Only used when &#x60;variable_scope&#x60; is &#x60;scoped&#x60;. Omitting this leaves an existing function&#39;s declared names unchanged. 
    # @return [DurableFunction]
    def create_durable_function(id, name, code, runtime, opts = {})
      data, _status_code, _headers = create_durable_function_with_http_info(id, name, code, runtime, opts)
      data
    end

    # Create or update a durable function
    # Upload a durable function source bundle. Creates the function on the first call for a name and redeploys it on every call after that, the same create-or-update contract &#x60;POST /projects/{id}/functions&#x60; has.  Volcano builds and deploys asynchronously. A deployment that starts immediately returns &#x60;status: provisioning&#x60;, then transitions to &#x60;active&#x60; or &#x60;failed&#x60;; a deployment that has to wait for a running one is exposed through &#x60;pending_deployment_id&#x60;. Existing executions keep running against the runtime they started on.  The &#x60;durable&#x60; configuration is derived from the project&#39;s plan rather than supplied here, and is fixed once the function exists. A name already held by a standard function is rejected with 409: a function cannot change kind. 
    # @param id [String] Project ID
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param code [File] ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles.
    # @param runtime [String] Runtime environment. Required. Durable execution needs the durable authoring API, which ships for these runtimes only; any other runtime is rejected with 400 and the response names the ones that work. Note that a durable Python function needs a newer runtime than a standard one defaults to. &#x60;GET /functions/runtimes&#x60; reports &#x60;durable_capable&#x60; per runtime. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handler The name of the function to invoke. Defaults to \\\&quot;handler\\\&quot; if not specified. (default to 'handler')
    # @option opts [Boolean] :is_public Whether anon keys with &#x60;functions.invoke&#x60; may start an execution. Redeploying is the only way to change it, since the collection has no update endpoint; omit it to keep the current visibility, and a new function starts private.  The standard collection&#39;s synchronous invocation fields — &#x60;invocation_mode&#x60;, &#x60;http_auth_mode&#x60;, &#x60;openapi_spec&#x60; — configure a request path no durable route serves, and are rejected with 400 rather than ignored. 
    # @option opts [String] :variable_scope Which project variables this function receives. &#x60;all&#x60; (the default) gives it every project variable; &#x60;scoped&#x60; gives it only the variables it selects. Omitting this leaves an existing function&#39;s scope unchanged. 
    # @option opts [String] :variables JSON-encoded array of project variable names this function requires, on top of the ones detected in its source. A declared name the project does not define is rejected with 400; a detected name it does not define is ignored. Only used when &#x60;variable_scope&#x60; is &#x60;scoped&#x60;. Omitting this leaves an existing function&#39;s declared names unchanged. 
    # @return [Array<(DurableFunction, Integer, Hash)>] DurableFunction data, response status code and response headers
    def create_durable_function_with_http_info(id, name, code, runtime, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.create_durable_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.create_durable_function"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DurableFunctionsApi.create_durable_function"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 63
        fail ArgumentError, 'invalid value for "name" when calling DurableFunctionsApi.create_durable_function, the character length must be smaller than or equal to 63.'
      end

      pattern = Regexp.new(/^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling DurableFunctionsApi.create_durable_function, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling DurableFunctionsApi.create_durable_function"
      end
      # verify the required parameter 'runtime' is set
      if @api_client.config.client_side_validation && runtime.nil?
        fail ArgumentError, "Missing the required parameter 'runtime' when calling DurableFunctionsApi.create_durable_function"
      end
      # verify enum value
      allowable_values = ["nodejs22.x", "nodejs24.x", "python3.13", "python3.14"]
      if @api_client.config.client_side_validation && !allowable_values.include?(runtime)
        fail ArgumentError, "invalid value for \"runtime\", must be one of #{allowable_values}"
      end
      allowable_values = ["all", "scoped"]
      if @api_client.config.client_side_validation && opts[:'variable_scope'] && !allowable_values.include?(opts[:'variable_scope'])
        fail ArgumentError, "invalid value for \"variable_scope\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['code'] = code
      form_params['runtime'] = runtime
      form_params['handler'] = opts[:'handler'] if !opts[:'handler'].nil?
      form_params['is_public'] = opts[:'is_public'] if !opts[:'is_public'].nil?
      form_params['variable_scope'] = opts[:'variable_scope'] if !opts[:'variable_scope'].nil?
      form_params['variables'] = opts[:'variables'] if !opts[:'variables'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableFunction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.create_durable_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#create_durable_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a scheduler for a durable function
    # Each tick starts an execution rather than invoking the function, under an execution name derived from the run, so a retried tick resolves to the execution it already started. Requested regions must be a subset of the function's deployed regions.  A tick draws on the same durable allowances and concurrency cap a manual start does, and a tick that would exceed the cap fails that run. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param create_function_scheduler_request [CreateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def create_durable_function_scheduler(id, function_id, create_function_scheduler_request, opts = {})
      data, _status_code, _headers = create_durable_function_scheduler_with_http_info(id, function_id, create_function_scheduler_request, opts)
      data
    end

    # Create a scheduler for a durable function
    # Each tick starts an execution rather than invoking the function, under an execution name derived from the run, so a retried tick resolves to the execution it already started. Requested regions must be a subset of the function&#39;s deployed regions.  A tick draws on the same durable allowances and concurrency cap a manual start does, and a tick that would exceed the cap fails that run. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param create_function_scheduler_request [CreateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
    def create_durable_function_scheduler_with_http_info(id, function_id, create_function_scheduler_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.create_durable_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.create_durable_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.create_durable_function_scheduler"
      end
      # verify the required parameter 'create_function_scheduler_request' is set
      if @api_client.config.client_side_validation && create_function_scheduler_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_function_scheduler_request' when calling DurableFunctionsApi.create_durable_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/schedulers'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_function_scheduler_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionScheduler'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.create_durable_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#create_durable_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a durable function
    # Accepted for asynchronous teardown; the work continues after the response. The function's executions go with it: history stops being readable whatever `retention_days` had left, and the executions still running stop counting against the project's concurrency cap. Stop an execution first if you need it to end before the function does. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_durable_function(id, function_id, opts = {})
      delete_durable_function_with_http_info(id, function_id, opts)
      nil
    end

    # Delete a durable function
    # Accepted for asynchronous teardown; the work continues after the response. The function&#39;s executions go with it: history stops being readable whatever &#x60;retention_days&#x60; had left, and the executions still running stop counting against the project&#39;s concurrency cap. Stop an execution first if you need it to end before the function does. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_durable_function_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.delete_durable_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.delete_durable_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.delete_durable_function"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.delete_durable_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#delete_durable_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_durable_function_scheduler(id, function_id, scheduler_id, opts = {})
      delete_durable_function_scheduler_with_http_info(id, function_id, scheduler_id, opts)
      nil
    end

    # Delete a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_durable_function_scheduler_with_http_info(id, function_id, scheduler_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.delete_durable_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.delete_durable_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.delete_durable_function_scheduler"
      end
      # verify the required parameter 'scheduler_id' is set
      if @api_client.config.client_side_validation && scheduler_id.nil?
        fail ArgumentError, "Missing the required parameter 'scheduler_id' when calling DurableFunctionsApi.delete_durable_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/schedulers/{schedulerId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'schedulerId' + '}', CGI.escape(scheduler_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.delete_durable_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#delete_durable_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deny a durable approval
    # Denies a pending approval. The workflow resumes with the decision; a denial is a value the workflow branches on, not an error.  Only a person can decide: use the dashboard or a platform token from `volcano login`. Project access tokens are refused with `403`.  Denying an approval that is already denied returns it unchanged. If the workflow cannot be reached right away, the decision still stands and Volcano keeps delivering it. 
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @option opts [DurableApprovalDecisionRequest] :durable_approval_decision_request 
    # @return [DurableApproval]
    def deny_durable_approval(id, approval_id, opts = {})
      data, _status_code, _headers = deny_durable_approval_with_http_info(id, approval_id, opts)
      data
    end

    # Deny a durable approval
    # Denies a pending approval. The workflow resumes with the decision; a denial is a value the workflow branches on, not an error.  Only a person can decide: use the dashboard or a platform token from &#x60;volcano login&#x60;. Project access tokens are refused with &#x60;403&#x60;.  Denying an approval that is already denied returns it unchanged. If the workflow cannot be reached right away, the decision still stands and Volcano keeps delivering it. 
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @option opts [DurableApprovalDecisionRequest] :durable_approval_decision_request 
    # @return [Array<(DurableApproval, Integer, Hash)>] DurableApproval data, response status code and response headers
    def deny_durable_approval_with_http_info(id, approval_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.deny_durable_approval ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.deny_durable_approval"
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling DurableFunctionsApi.deny_durable_approval"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-approvals/{approvalId}/deny'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'approvalId' + '}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'durable_approval_decision_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DurableApproval'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.deny_durable_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#deny_durable_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a durable approval
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @return [DurableApproval]
    def get_durable_approval(id, approval_id, opts = {})
      data, _status_code, _headers = get_durable_approval_with_http_info(id, approval_id, opts)
      data
    end

    # Get a durable approval
    # @param id [String] Project ID
    # @param approval_id [String] Durable approval ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DurableApproval, Integer, Hash)>] DurableApproval data, response status code and response headers
    def get_durable_approval_with_http_info(id, approval_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.get_durable_approval ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.get_durable_approval"
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling DurableFunctionsApi.get_durable_approval"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-approvals/{approvalId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'approvalId' + '}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableApproval'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.get_durable_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#get_durable_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get durable approval statistics
    # Counts the project's approvals by outcome over a time window, overall, per workflow, and per day. The window defaults to the last 30 days and can cover up to a year. An approval is counted on the day it was requested.  Project access tokens can read statistics, including read-only ones. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :function Only approvals requested by this durable function, given by id or by name. A name also matches approvals from a deleted function of that name. 
    # @option opts [Time] :from Start of the window. Defaults to 30 days before &#x60;to&#x60;.
    # @option opts [Time] :to End of the window. Defaults to now.
    # @return [DurableApprovalStats]
    def get_durable_approval_stats(id, opts = {})
      data, _status_code, _headers = get_durable_approval_stats_with_http_info(id, opts)
      data
    end

    # Get durable approval statistics
    # Counts the project&#39;s approvals by outcome over a time window, overall, per workflow, and per day. The window defaults to the last 30 days and can cover up to a year. An approval is counted on the day it was requested.  Project access tokens can read statistics, including read-only ones. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :function Only approvals requested by this durable function, given by id or by name. A name also matches approvals from a deleted function of that name. 
    # @option opts [Time] :from Start of the window. Defaults to 30 days before &#x60;to&#x60;.
    # @option opts [Time] :to End of the window. Defaults to now.
    # @return [Array<(DurableApprovalStats, Integer, Hash)>] DurableApprovalStats data, response status code and response headers
    def get_durable_approval_stats_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.get_durable_approval_stats ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.get_durable_approval_stats"
      end
      if @api_client.config.client_side_validation && !opts[:'function'].nil? && opts[:'function'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"function"]" when calling DurableFunctionsApi.get_durable_approval_stats, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'function'].nil? && opts[:'function'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"function"]" when calling DurableFunctionsApi.get_durable_approval_stats, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/durable-approvals/stats'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'function'] = opts[:'function'] if !opts[:'function'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableApprovalStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.get_durable_approval_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#get_durable_approval_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a durable execution
    # Returns the execution's current state, including its `result` once it has succeeded. Poll this to wait for an execution to finish. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param execution_id [String] Durable execution ID
    # @param [Hash] opts the optional parameters
    # @return [DurableExecution]
    def get_durable_execution(id, function_id, execution_id, opts = {})
      data, _status_code, _headers = get_durable_execution_with_http_info(id, function_id, execution_id, opts)
      data
    end

    # Get a durable execution
    # Returns the execution&#39;s current state, including its &#x60;result&#x60; once it has succeeded. Poll this to wait for an execution to finish. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param execution_id [String] Durable execution ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DurableExecution, Integer, Hash)>] DurableExecution data, response status code and response headers
    def get_durable_execution_with_http_info(id, function_id, execution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.get_durable_execution ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.get_durable_execution"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.get_durable_execution"
      end
      # verify the required parameter 'execution_id' is set
      if @api_client.config.client_side_validation && execution_id.nil?
        fail ArgumentError, "Missing the required parameter 'execution_id' when calling DurableFunctionsApi.get_durable_execution"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/executions/{executionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'executionId' + '}', CGI.escape(execution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableExecution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.get_durable_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#get_durable_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get durable function by ID or name
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [DurableFunction]
    def get_durable_function(id, function_id, opts = {})
      data, _status_code, _headers = get_durable_function_with_http_info(id, function_id, opts)
      data
    end

    # Get durable function by ID or name
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [Array<(DurableFunction, Integer, Hash)>] DurableFunction data, response status code and response headers
    def get_durable_function_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.get_durable_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.get_durable_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.get_durable_function"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableFunction'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.get_durable_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#get_durable_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def get_durable_function_scheduler(id, function_id, scheduler_id, opts = {})
      data, _status_code, _headers = get_durable_function_scheduler_with_http_info(id, function_id, scheduler_id, opts)
      data
    end

    # Get a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
    def get_durable_function_scheduler_with_http_info(id, function_id, scheduler_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.get_durable_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.get_durable_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.get_durable_function_scheduler"
      end
      # verify the required parameter 'scheduler_id' is set
      if @api_client.config.client_side_validation && scheduler_id.nil?
        fail ArgumentError, "Missing the required parameter 'scheduler_id' when calling DurableFunctionsApi.get_durable_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/schedulers/{schedulerId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'schedulerId' + '}', CGI.escape(scheduler_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionScheduler'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.get_durable_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#get_durable_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List durable approvals
    # Lists the approvals durable workflows in the project have requested, newest first. Pending approvals are the ones a workflow is waiting on; decided, expired, and cancelled ones are kept for a year.  Project access tokens can list approvals, including read-only ones. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [DurableApprovalStatus] :status Return only approvals in this status.
    # @option opts [String] :function Only approvals requested by this durable function, given by id or by name. A name also matches approvals from a deleted function of that name. 
    # @option opts [String] :execution_id Return only approvals requested by this durable execution.
    # @option opts [Time] :from Return only approvals requested at or after this time.
    # @option opts [Time] :to Return only approvals requested before this time.
    # @return [PaginatedDurableApprovals]
    def list_durable_approvals(id, opts = {})
      data, _status_code, _headers = list_durable_approvals_with_http_info(id, opts)
      data
    end

    # List durable approvals
    # Lists the approvals durable workflows in the project have requested, newest first. Pending approvals are the ones a workflow is waiting on; decided, expired, and cancelled ones are kept for a year.  Project access tokens can list approvals, including read-only ones. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [DurableApprovalStatus] :status Return only approvals in this status.
    # @option opts [String] :function Only approvals requested by this durable function, given by id or by name. A name also matches approvals from a deleted function of that name. 
    # @option opts [String] :execution_id Return only approvals requested by this durable execution.
    # @option opts [Time] :from Return only approvals requested at or after this time.
    # @option opts [Time] :to Return only approvals requested before this time.
    # @return [Array<(PaginatedDurableApprovals, Integer, Hash)>] PaginatedDurableApprovals data, response status code and response headers
    def list_durable_approvals_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.list_durable_approvals ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.list_durable_approvals"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DurableFunctionsApi.list_durable_approvals, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_approvals, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_approvals, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'function'].nil? && opts[:'function'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"function"]" when calling DurableFunctionsApi.list_durable_approvals, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'function'].nil? && opts[:'function'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"function"]" when calling DurableFunctionsApi.list_durable_approvals, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/durable-approvals'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'function'] = opts[:'function'] if !opts[:'function'].nil?
      query_params[:'execution_id'] = opts[:'execution_id'] if !opts[:'execution_id'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDurableApprovals'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.list_durable_approvals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#list_durable_approvals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a durable function's executions
    # Returns the platform's last observed status for each execution; listing does not poll each one. Fetch a single execution for its live state. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [DurableExecutionStatus] :status Return only executions in this status.
    # @return [PaginatedDurableExecutions]
    def list_durable_executions(id, function_id, opts = {})
      data, _status_code, _headers = list_durable_executions_with_http_info(id, function_id, opts)
      data
    end

    # List a durable function&#39;s executions
    # Returns the platform&#39;s last observed status for each execution; listing does not poll each one. Fetch a single execution for its live state. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [DurableExecutionStatus] :status Return only executions in this status.
    # @return [Array<(PaginatedDurableExecutions, Integer, Hash)>] PaginatedDurableExecutions data, response status code and response headers
    def list_durable_executions_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.list_durable_executions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.list_durable_executions"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.list_durable_executions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DurableFunctionsApi.list_durable_executions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_executions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_executions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/executions'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDurableExecutions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.list_durable_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#list_durable_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List durable function deployments
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @return [PaginatedFunctionDeployments]
    def list_durable_function_deployments(id, function_id, opts = {})
      data, _status_code, _headers = list_durable_function_deployments_with_http_info(id, function_id, opts)
      data
    end

    # List durable function deployments
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @return [Array<(PaginatedFunctionDeployments, Integer, Hash)>] PaginatedFunctionDeployments data, response status code and response headers
    def list_durable_function_deployments_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.list_durable_function_deployments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.list_durable_function_deployments"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.list_durable_function_deployments"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DurableFunctionsApi.list_durable_function_deployments, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_function_deployments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_function_deployments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/deployments'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedFunctionDeployments'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.list_durable_function_deployments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#list_durable_function_deployments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List schedulers for a durable function
    # The durable collection's counterpart to `/projects/{id}/functions/{functionId}/schedulers`. A standard function's id is not accepted here, and a durable function's id is not accepted there. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [FunctionSchedulerListResponse]
    def list_durable_function_schedulers(id, function_id, opts = {})
      data, _status_code, _headers = list_durable_function_schedulers_with_http_info(id, function_id, opts)
      data
    end

    # List schedulers for a durable function
    # The durable collection&#39;s counterpart to &#x60;/projects/{id}/functions/{functionId}/schedulers&#x60;. A standard function&#39;s id is not accepted here, and a durable function&#39;s id is not accepted there. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionSchedulerListResponse, Integer, Hash)>] FunctionSchedulerListResponse data, response status code and response headers
    def list_durable_function_schedulers_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.list_durable_function_schedulers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.list_durable_function_schedulers"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.list_durable_function_schedulers"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/schedulers'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionSchedulerListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.list_durable_function_schedulers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#list_durable_function_schedulers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all durable functions in a project
    # Standard functions never appear here, and durable functions never appear under `/projects/{id}/functions`. The two are separate collections. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [PaginatedDurableFunctions]
    def list_durable_functions(id, opts = {})
      data, _status_code, _headers = list_durable_functions_with_http_info(id, opts)
      data
    end

    # List all durable functions in a project
    # Standard functions never appear here, and durable functions never appear under &#x60;/projects/{id}/functions&#x60;. The two are separate collections. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [Array<(PaginatedDurableFunctions, Integer, Hash)>] PaginatedDurableFunctions data, response status code and response headers
    def list_durable_functions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.list_durable_functions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.list_durable_functions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling DurableFunctionsApi.list_durable_functions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_functions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DurableFunctionsApi.list_durable_functions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling DurableFunctionsApi.list_durable_functions, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/durable-functions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedDurableFunctions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.list_durable_functions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#list_durable_functions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request an approval from inside a workflow
    # Registers an approval request for a running durable execution. The Volcano SDK calls this from `ctx.waitForApproval`; applications do not call it directly.  `execution_ref` and `callback_id` are opaque values the SDK reads from the running workflow. Together they are the request's credential, so the operation takes no other authentication. The approval belongs to the project that owns the execution, and expires when the workflow's own approval timeout does.  Retrying is safe: a request for an approval that is already registered returns it with `200`. 
    # @param request_durable_approval_request [RequestDurableApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DurableApprovalRegistration]
    def request_durable_approval(request_durable_approval_request, opts = {})
      data, _status_code, _headers = request_durable_approval_with_http_info(request_durable_approval_request, opts)
      data
    end

    # Request an approval from inside a workflow
    # Registers an approval request for a running durable execution. The Volcano SDK calls this from &#x60;ctx.waitForApproval&#x60;; applications do not call it directly.  &#x60;execution_ref&#x60; and &#x60;callback_id&#x60; are opaque values the SDK reads from the running workflow. Together they are the request&#39;s credential, so the operation takes no other authentication. The approval belongs to the project that owns the execution, and expires when the workflow&#39;s own approval timeout does.  Retrying is safe: a request for an approval that is already registered returns it with &#x60;200&#x60;. 
    # @param request_durable_approval_request [RequestDurableApprovalRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DurableApprovalRegistration, Integer, Hash)>] DurableApprovalRegistration data, response status code and response headers
    def request_durable_approval_with_http_info(request_durable_approval_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.request_durable_approval ...'
      end
      # verify the required parameter 'request_durable_approval_request' is set
      if @api_client.config.client_side_validation && request_durable_approval_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_durable_approval_request' when calling DurableFunctionsApi.request_durable_approval"
      end
      # resource path
      local_var_path = '/durable-approvals'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_durable_approval_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DurableApprovalRegistration'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.request_durable_approval",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#request_durable_approval\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a durable execution
    # Starts an execution and returns its handle. Never returns a result: an execution can outlive any request a client could hold open, so the result is read back from `GET /projects/{id}/durable-functions/{functionId}/executions/{executionId}`.  The request body is the execution's input and must be valid JSON if present. An empty body starts the execution with no input.  Send `X-Volcano-Execution-Name` to make the start idempotent: repeating a start with the same name returns the existing execution instead of beginning a second one.  Each execution counts against the project's durable execution allowance, the operations it performs count against the durable operations allowance when it finishes, and the number of executions in flight at once is capped by the plan. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_volcano_execution_name Idempotency key for this execution. Generated when omitted. A repeat under a name that already names a running execution returns that execution and is not charged again.  Letters, digits, &#x60;-&#x60;, &#x60;_&#x60; and &#x60;.&#x60;, up to 255 characters. Anything else is rejected with &#x60;400&#x60;. 
    # @option opts [Object] :body 
    # @return [DurableExecution]
    def start_durable_execution(id, function_id, opts = {})
      data, _status_code, _headers = start_durable_execution_with_http_info(id, function_id, opts)
      data
    end

    # Start a durable execution
    # Starts an execution and returns its handle. Never returns a result: an execution can outlive any request a client could hold open, so the result is read back from &#x60;GET /projects/{id}/durable-functions/{functionId}/executions/{executionId}&#x60;.  The request body is the execution&#39;s input and must be valid JSON if present. An empty body starts the execution with no input.  Send &#x60;X-Volcano-Execution-Name&#x60; to make the start idempotent: repeating a start with the same name returns the existing execution instead of beginning a second one.  Each execution counts against the project&#39;s durable execution allowance, the operations it performs count against the durable operations allowance when it finishes, and the number of executions in flight at once is capped by the plan. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_volcano_execution_name Idempotency key for this execution. Generated when omitted. A repeat under a name that already names a running execution returns that execution and is not charged again.  Letters, digits, &#x60;-&#x60;, &#x60;_&#x60; and &#x60;.&#x60;, up to 255 characters. Anything else is rejected with &#x60;400&#x60;. 
    # @option opts [Object] :body 
    # @return [Array<(DurableExecution, Integer, Hash)>] DurableExecution data, response status code and response headers
    def start_durable_execution_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.start_durable_execution ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.start_durable_execution"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.start_durable_execution"
      end
      if @api_client.config.client_side_validation && !opts[:'x_volcano_execution_name'].nil? && opts[:'x_volcano_execution_name'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"x_volcano_execution_name"]" when calling DurableFunctionsApi.start_durable_execution, the character length must be smaller than or equal to 255.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9._-]+$/)
      if @api_client.config.client_side_validation && !opts[:'x_volcano_execution_name'].nil? && opts[:'x_volcano_execution_name'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"x_volcano_execution_name\"]' when calling DurableFunctionsApi.start_durable_execution, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/executions'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Volcano-Execution-Name'] = opts[:'x_volcano_execution_name'] if !opts[:'x_volcano_execution_name'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DurableExecution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.start_durable_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#start_durable_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a durable execution from an application
    # Starts an execution of a durable function using an application credential, and returns its handle.  This is the durable counterpart of `POST /functions/{functionId}/invoke`, and it is the endpoint an application calls. Like that one, it is not project-scoped: an anon key, a service key and an auth user token each carry their own project. The project-scoped collection under `/projects/{id}/durable-functions/...` remains the owner's management surface.  **With a service key or an auth user token:** any durable function in the project.  **With an anon key:** requires the `functions.invoke` permission, and the function must have `is_public: true`.  Starting is all this endpoint does. Reading a result or stopping an execution requires the project owner's token, because an anon key is shared by everyone who loads the page and an execution is addressed by id alone.  Send `X-Volcano-Execution-Name` to make the start idempotent: repeating a start with the same name returns the existing execution instead of beginning a second one.  Each execution counts once against the project's durable execution allowance, however many times the start is retried under the same execution name, and the number in flight at once is capped by the plan. The operations the execution performs are counted against the durable operations allowance when it finishes. 
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_volcano_execution_name Idempotency key for this execution. Generated when omitted. A repeat under a name that already names a running execution returns that execution and is not charged again.  Letters, digits, &#x60;-&#x60;, &#x60;_&#x60; and &#x60;.&#x60;, up to 255 characters. Anything else is rejected with &#x60;400&#x60;. 
    # @option opts [Object] :body 
    # @return [DurableExecution]
    def start_durable_execution_from_application(function_id, opts = {})
      data, _status_code, _headers = start_durable_execution_from_application_with_http_info(function_id, opts)
      data
    end

    # Start a durable execution from an application
    # Starts an execution of a durable function using an application credential, and returns its handle.  This is the durable counterpart of &#x60;POST /functions/{functionId}/invoke&#x60;, and it is the endpoint an application calls. Like that one, it is not project-scoped: an anon key, a service key and an auth user token each carry their own project. The project-scoped collection under &#x60;/projects/{id}/durable-functions/...&#x60; remains the owner&#39;s management surface.  **With a service key or an auth user token:** any durable function in the project.  **With an anon key:** requires the &#x60;functions.invoke&#x60; permission, and the function must have &#x60;is_public: true&#x60;.  Starting is all this endpoint does. Reading a result or stopping an execution requires the project owner&#39;s token, because an anon key is shared by everyone who loads the page and an execution is addressed by id alone.  Send &#x60;X-Volcano-Execution-Name&#x60; to make the start idempotent: repeating a start with the same name returns the existing execution instead of beginning a second one.  Each execution counts once against the project&#39;s durable execution allowance, however many times the start is retried under the same execution name, and the number in flight at once is capped by the plan. The operations the execution performs are counted against the durable operations allowance when it finishes. 
    # @param function_id [String] Durable function ID, or its name within the project
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_volcano_execution_name Idempotency key for this execution. Generated when omitted. A repeat under a name that already names a running execution returns that execution and is not charged again.  Letters, digits, &#x60;-&#x60;, &#x60;_&#x60; and &#x60;.&#x60;, up to 255 characters. Anything else is rejected with &#x60;400&#x60;. 
    # @option opts [Object] :body 
    # @return [Array<(DurableExecution, Integer, Hash)>] DurableExecution data, response status code and response headers
    def start_durable_execution_from_application_with_http_info(function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.start_durable_execution_from_application ...'
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.start_durable_execution_from_application"
      end
      if @api_client.config.client_side_validation && !opts[:'x_volcano_execution_name'].nil? && opts[:'x_volcano_execution_name'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"x_volcano_execution_name"]" when calling DurableFunctionsApi.start_durable_execution_from_application, the character length must be smaller than or equal to 255.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9._-]+$/)
      if @api_client.config.client_side_validation && !opts[:'x_volcano_execution_name'].nil? && opts[:'x_volcano_execution_name'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"x_volcano_execution_name\"]' when calling DurableFunctionsApi.start_durable_execution_from_application, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/durable-functions/{functionId}/executions'.sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Volcano-Execution-Name'] = opts[:'x_volcano_execution_name'] if !opts[:'x_volcano_execution_name'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'DurableExecution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.start_durable_execution_from_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#start_durable_execution_from_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop a durable execution
    # Cancels a running execution. Its completed steps are not undone.  The call is accepted rather than awaited: cancellation happens behind it, so the response reports the execution as it was read back and may still say `running`. Do not branch on that status — the execution settles into `stopped` shortly after, and polling `GET /projects/{id}/durable-functions/{functionId}/executions/{executionId}` is how you see it get there.  Stopping an execution that already finished is not an error: the response carries the state it settled in. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param execution_id [String] Durable execution ID
    # @param [Hash] opts the optional parameters
    # @return [DurableExecution]
    def stop_durable_execution(id, function_id, execution_id, opts = {})
      data, _status_code, _headers = stop_durable_execution_with_http_info(id, function_id, execution_id, opts)
      data
    end

    # Stop a durable execution
    # Cancels a running execution. Its completed steps are not undone.  The call is accepted rather than awaited: cancellation happens behind it, so the response reports the execution as it was read back and may still say &#x60;running&#x60;. Do not branch on that status — the execution settles into &#x60;stopped&#x60; shortly after, and polling &#x60;GET /projects/{id}/durable-functions/{functionId}/executions/{executionId}&#x60; is how you see it get there.  Stopping an execution that already finished is not an error: the response carries the state it settled in. 
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param execution_id [String] Durable execution ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DurableExecution, Integer, Hash)>] DurableExecution data, response status code and response headers
    def stop_durable_execution_with_http_info(id, function_id, execution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DurableFunctionsApi.stop_durable_execution ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DurableFunctionsApi.stop_durable_execution"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling DurableFunctionsApi.stop_durable_execution"
      end
      # verify the required parameter 'execution_id' is set
      if @api_client.config.client_side_validation && execution_id.nil?
        fail ArgumentError, "Missing the required parameter 'execution_id' when calling DurableFunctionsApi.stop_durable_execution"
      end
      # resource path
      local_var_path = '/projects/{id}/durable-functions/{functionId}/executions/{executionId}/stop'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'executionId' + '}', CGI.escape(execution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DurableExecution'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"DurableFunctionsApi.stop_durable_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DurableFunctionsApi#stop_durable_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param update_function_scheduler_request [UpdateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def update_durable_function_scheduler(id, function_id, scheduler_id, update_function_scheduler_request, opts = {})
      data, _status_code, _headers = update_durable_function_scheduler_with_http_info(id, function_id, scheduler_id, update_function_scheduler_request, opts)
      data
    end

    # Update a durable function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Durable function ID, or its name within the project
    # @param scheduler_id [String] Function scheduler ID
    # @param update_function_scheduler_request [UpdateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
[...]
