=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class FunctionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Configure or rotate a function custom domain
    # PRO capability. The function must be public, active, and use HTTP invocation mode. Configuration and rotation preserve the function's HTTP authentication mode and stored OpenAPI document. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param configure_function_custom_domain_request [ConfigureFunctionCustomDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionCustomDomainResponse]
    def configure_function_custom_domain(id, function_id, configure_function_custom_domain_request, opts = {})
      data, _status_code, _headers = configure_function_custom_domain_with_http_info(id, function_id, configure_function_custom_domain_request, opts)
      data
    end

    # Configure or rotate a function custom domain
    # PRO capability. The function must be public, active, and use HTTP invocation mode. Configuration and rotation preserve the function&#39;s HTTP authentication mode and stored OpenAPI document. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param configure_function_custom_domain_request [ConfigureFunctionCustomDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionCustomDomainResponse, Integer, Hash)>] FunctionCustomDomainResponse data, response status code and response headers
    def configure_function_custom_domain_with_http_info(id, function_id, configure_function_custom_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.configure_function_custom_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.configure_function_custom_domain"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.configure_function_custom_domain"
      end
      # verify the required parameter 'configure_function_custom_domain_request' is set
      if @api_client.config.client_side_validation && configure_function_custom_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_function_custom_domain_request' when calling FunctionsApi.configure_function_custom_domain"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/domain'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_function_custom_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionCustomDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.configure_function_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#configure_function_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update function code
    # Upload a serverless function source bundle. Direct API clients may send the function code as a ZIP or tar.gz archive via multipart/form-data. The API stores a normalized tar.gz source archive. Cloud deploys should include source files and dependency manifests/lockfiles, not installed dependency directories. Volcano installs Node.js, Python, and Ruby dependencies during the function compile build. Source archive size is enforced by the API with `SOURCE_ARCHIVE_SIZE_LIMIT_MB`; the CLI does not apply its own source archive size limit. After the final container image is built, the publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB` before pushing. Uploaded source archives cannot contain symlink entries. Safe symlinks created during the cloud build are materialized before publish. Volcano builds and deploys the function asynchronously after upload. A deployment that starts immediately returns a Function resource with `status: provisioning`, then transitions to `active` or `failed`. If another deployment is running, the response preserves the resource's current status and exposes the queued deployment through `pending_deployment_id`. Existing function traffic continues to use the last known-good runtime during an update. A failed update keeps that runtime available and records the attempted deployment as failed. Only one deployment runs for a given function. A newer request supersedes any queued request and starts after the running deployment. Different functions and projects deploy concurrently. If a function with the same name already exists in the project, this operation updates that function's runtime, handler, and source bundle and returns `200 OK`. Each project can contain up to 10,000 functions. Creating a new function over this cap returns 403. 
    # @param id [String] Project ID
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param code [File] ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles. The API enforces SOURCE_ARCHIVE_SIZE_LIMIT_MB and stores a normalized tar.gz source archive.
    # @param runtime [String] Runtime environment. Required. - Node.js: nodejs22.x, nodejs24.x - Python: python3.10, python3.11, python3.12, python3.13, python3.14 - Ruby: ruby3.3, ruby3.4, ruby4.0 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handler The name of the function to invoke. Defaults to \\\&quot;handler\\\&quot; if not specified. Your code must export/define a function with this name: - Node.js: exports.handler (in index.js) - Python: def handler() (in main.py) - Ruby: def handler() (in main.rb)  (default to 'handler')
    # @option opts [Boolean] :is_public Whether the function can be reached through public invocation ingress. (default to false)
    # @option opts [FunctionInvocationMode] :invocation_mode 
    # @option opts [FunctionHTTPAuthMode] :http_auth_mode 
    # @option opts [String] :openapi_spec JSON-encoded OpenAPI 3.0 or 3.1 metadata for an HTTP-mode function.
    # @return [Function]
    def create_function(id, name, code, runtime, opts = {})
      data, _status_code, _headers = create_function_with_http_info(id, name, code, runtime, opts)
      data
    end

    # Create or update function code
    # Upload a serverless function source bundle. Direct API clients may send the function code as a ZIP or tar.gz archive via multipart/form-data. The API stores a normalized tar.gz source archive. Cloud deploys should include source files and dependency manifests/lockfiles, not installed dependency directories. Volcano installs Node.js, Python, and Ruby dependencies during the function compile build. Source archive size is enforced by the API with &#x60;SOURCE_ARCHIVE_SIZE_LIMIT_MB&#x60;; the CLI does not apply its own source archive size limit. After the final container image is built, the publish build enforces &#x60;LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB&#x60; before pushing. Uploaded source archives cannot contain symlink entries. Safe symlinks created during the cloud build are materialized before publish. Volcano builds and deploys the function asynchronously after upload. A deployment that starts immediately returns a Function resource with &#x60;status: provisioning&#x60;, then transitions to &#x60;active&#x60; or &#x60;failed&#x60;. If another deployment is running, the response preserves the resource&#39;s current status and exposes the queued deployment through &#x60;pending_deployment_id&#x60;. Existing function traffic continues to use the last known-good runtime during an update. A failed update keeps that runtime available and records the attempted deployment as failed. Only one deployment runs for a given function. A newer request supersedes any queued request and starts after the running deployment. Different functions and projects deploy concurrently. If a function with the same name already exists in the project, this operation updates that function&#39;s runtime, handler, and source bundle and returns &#x60;200 OK&#x60;. Each project can contain up to 10,000 functions. Creating a new function over this cap returns 403. 
    # @param id [String] Project ID
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param code [File] ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles. The API enforces SOURCE_ARCHIVE_SIZE_LIMIT_MB and stores a normalized tar.gz source archive.
    # @param runtime [String] Runtime environment. Required. - Node.js: nodejs22.x, nodejs24.x - Python: python3.10, python3.11, python3.12, python3.13, python3.14 - Ruby: ruby3.3, ruby3.4, ruby4.0 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :handler The name of the function to invoke. Defaults to \\\&quot;handler\\\&quot; if not specified. Your code must export/define a function with this name: - Node.js: exports.handler (in index.js) - Python: def handler() (in main.py) - Ruby: def handler() (in main.rb)  (default to 'handler')
    # @option opts [Boolean] :is_public Whether the function can be reached through public invocation ingress. (default to false)
    # @option opts [FunctionInvocationMode] :invocation_mode 
    # @option opts [FunctionHTTPAuthMode] :http_auth_mode 
    # @option opts [String] :openapi_spec JSON-encoded OpenAPI 3.0 or 3.1 metadata for an HTTP-mode function.
    # @return [Array<(Function, Integer, Hash)>] Function data, response status code and response headers
    def create_function_with_http_info(id, name, code, runtime, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.create_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.create_function"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling FunctionsApi.create_function"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 63
        fail ArgumentError, 'invalid value for "name" when calling FunctionsApi.create_function, the character length must be smaller than or equal to 63.'
      end

      pattern = Regexp.new(/^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling FunctionsApi.create_function, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling FunctionsApi.create_function"
      end
      # verify the required parameter 'runtime' is set
      if @api_client.config.client_side_validation && runtime.nil?
        fail ArgumentError, "Missing the required parameter 'runtime' when calling FunctionsApi.create_function"
      end
      # verify enum value
      allowable_values = ["nodejs22.x", "nodejs24.x", "python3.10", "python3.11", "python3.12", "python3.13", "python3.14", "ruby3.3", "ruby3.4", "ruby4.0"]
      if @api_client.config.client_side_validation && !allowable_values.include?(runtime)
        fail ArgumentError, "invalid value for \"runtime\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/functions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['code'] = code
      form_params['runtime'] = runtime
      form_params['handler'] = opts[:'handler'] if !opts[:'handler'].nil?
      form_params['is_public'] = opts[:'is_public'] if !opts[:'is_public'].nil?
      form_params['invocation_mode'] = opts[:'invocation_mode'] if !opts[:'invocation_mode'].nil?
      form_params['http_auth_mode'] = opts[:'http_auth_mode'] if !opts[:'http_auth_mode'].nil?
      form_params['openapi_spec'] = opts[:'openapi_spec'] if !opts[:'openapi_spec'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Function'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.create_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#create_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a scheduler for a function
    # Creates regional scheduled invocation jobs. Requested regions must be a subset of the function's deployed regions.
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param create_function_scheduler_request [CreateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def create_function_scheduler(id, function_id, create_function_scheduler_request, opts = {})
      data, _status_code, _headers = create_function_scheduler_with_http_info(id, function_id, create_function_scheduler_request, opts)
      data
    end

    # Create a scheduler for a function
    # Creates regional scheduled invocation jobs. Requested regions must be a subset of the function&#39;s deployed regions.
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param create_function_scheduler_request [CreateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
    def create_function_scheduler_with_http_info(id, function_id, create_function_scheduler_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.create_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.create_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.create_function_scheduler"
      end
      # verify the required parameter 'create_function_scheduler_request' is set
      if @api_client.config.client_side_validation && create_function_scheduler_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_function_scheduler_request' when calling FunctionsApi.create_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/schedulers'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_function_scheduler_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionScheduler'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.create_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#create_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deploy multiple functions in one request
    # Upload multiple function source archives in one multipart request. Each archive should contain source files plus dependency manifests/lockfiles, not installed dependency directories. ZIP and tar.gz uploads are accepted and normalized to tar.gz before storage. The API enforces `SOURCE_ARCHIVE_SIZE_LIMIT_MB` for each uploaded and normalized source archive. The server records a shared deployment batch ID for the resulting function deployments. Each function deployment runs its own compile/publish workflow concurrently, and each publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB` for the final container image. One batch request can include up to 100 functions. Submit multiple batch requests for larger projects. If one function fails before its workflow starts, already-started function deployments are left running and the failed function is reported in the `failed` array. Failed new functions are deleted; failed updates are rolled back to their previous metadata/status where possible. 
    # @param id [String] Project ID
    # @param functions [String] JSON array of functions with &#x60;name&#x60;, &#x60;runtime&#x60;, optional &#x60;handler&#x60;, and &#x60;file_field&#x60;. Each &#x60;file_field&#x60; must name a multipart file field containing that function&#39;s ZIP or tar.gz source bundle.
    # @param [Hash] opts the optional parameters
    # @option opts [File] :code_0 Function ZIP or tar.gz archive referenced by the first manifest entry&#39;s &#x60;file_field&#x60;; additional code_N file fields may be included. Each archive is subject to SOURCE_ARCHIVE_SIZE_LIMIT_MB.
    # @return [BatchFunctionDeployResponse]
    def create_functions_batch(id, functions, opts = {})
      data, _status_code, _headers = create_functions_batch_with_http_info(id, functions, opts)
      data
    end

    # Deploy multiple functions in one request
    # Upload multiple function source archives in one multipart request. Each archive should contain source files plus dependency manifests/lockfiles, not installed dependency directories. ZIP and tar.gz uploads are accepted and normalized to tar.gz before storage. The API enforces &#x60;SOURCE_ARCHIVE_SIZE_LIMIT_MB&#x60; for each uploaded and normalized source archive. The server records a shared deployment batch ID for the resulting function deployments. Each function deployment runs its own compile/publish workflow concurrently, and each publish build enforces &#x60;LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB&#x60; for the final container image. One batch request can include up to 100 functions. Submit multiple batch requests for larger projects. If one function fails before its workflow starts, already-started function deployments are left running and the failed function is reported in the &#x60;failed&#x60; array. Failed new functions are deleted; failed updates are rolled back to their previous metadata/status where possible. 
    # @param id [String] Project ID
    # @param functions [String] JSON array of functions with &#x60;name&#x60;, &#x60;runtime&#x60;, optional &#x60;handler&#x60;, and &#x60;file_field&#x60;. Each &#x60;file_field&#x60; must name a multipart file field containing that function&#39;s ZIP or tar.gz source bundle.
    # @param [Hash] opts the optional parameters
    # @option opts [File] :code_0 Function ZIP or tar.gz archive referenced by the first manifest entry&#39;s &#x60;file_field&#x60;; additional code_N file fields may be included. Each archive is subject to SOURCE_ARCHIVE_SIZE_LIMIT_MB.
    # @return [Array<(BatchFunctionDeployResponse, Integer, Hash)>] BatchFunctionDeployResponse data, response status code and response headers
    def create_functions_batch_with_http_info(id, functions, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.create_functions_batch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.create_functions_batch"
      end
      # verify the required parameter 'functions' is set
      if @api_client.config.client_side_validation && functions.nil?
        fail ArgumentError, "Missing the required parameter 'functions' when calling FunctionsApi.create_functions_batch"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/batch'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['functions'] = functions
      form_params['code_0'] = opts[:'code_0'] if !opts[:'code_0'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BatchFunctionDeployResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.create_functions_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#create_functions_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a function
    # Schedules asynchronous function deletion. If another deployment is running, the function preserves its current status and exposes the queued deletion through `pending_deployment_id`. Its status changes to `deleting` when cleanup starts. After cleanup, it returns 404 and no longer appears in function lists. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_function(id, function_id, opts = {})
      delete_function_with_http_info(id, function_id, opts)
      nil
    end

    # Delete a function
    # Schedules asynchronous function deletion. If another deployment is running, the function preserves its current status and exposes the queued deletion through &#x60;pending_deployment_id&#x60;. Its status changes to &#x60;deleting&#x60; when cleanup starts. After cleanup, it returns 404 and no longer appears in function lists. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_function_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.delete_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.delete_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.delete_function"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.delete_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#delete_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach a function custom domain
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_function_custom_domain(id, function_id, opts = {})
      delete_function_custom_domain_with_http_info(id, function_id, opts)
      nil
    end

    # Detach a function custom domain
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_function_custom_domain_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.delete_function_custom_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.delete_function_custom_domain"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.delete_function_custom_domain"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/domain'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.delete_function_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#delete_function_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_function_scheduler(id, function_id, scheduler_id, opts = {})
      delete_function_scheduler_with_http_info(id, function_id, scheduler_id, opts)
      nil
    end

    # Delete a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_function_scheduler_with_http_info(id, function_id, scheduler_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.delete_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.delete_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.delete_function_scheduler"
      end
      # verify the required parameter 'scheduler_id' is set
      if @api_client.config.client_side_validation && scheduler_id.nil?
        fail ArgumentError, "Missing the required parameter 'scheduler_id' when calling FunctionsApi.delete_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/schedulers/{schedulerId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'schedulerId' + '}', CGI.escape(scheduler_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.delete_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#delete_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get function by ID
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Function]
    def get_function(id, function_id, opts = {})
      data, _status_code, _headers = get_function_with_http_info(id, function_id, opts)
      data
    end

    # Get function by ID
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Function, Integer, Hash)>] Function data, response status code and response headers
    def get_function_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.get_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Function'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a function custom domain
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [FunctionCustomDomainResponse]
    def get_function_custom_domain(id, function_id, opts = {})
      data, _status_code, _headers = get_function_custom_domain_with_http_info(id, function_id, opts)
      data
    end

    # Get a function custom domain
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionCustomDomainResponse, Integer, Hash)>] FunctionCustomDomainResponse data, response status code and response headers
    def get_function_custom_domain_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function_custom_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.get_function_custom_domain"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function_custom_domain"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/domain'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionCustomDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def get_function_scheduler(id, function_id, scheduler_id, opts = {})
      data, _status_code, _headers = get_function_scheduler_with_http_info(id, function_id, scheduler_id, opts)
      data
    end

    # Get a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
    def get_function_scheduler_with_http_info(id, function_id, scheduler_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.get_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function_scheduler"
      end
      # verify the required parameter 'scheduler_id' is set
      if @api_client.config.client_side_validation && scheduler_id.nil?
        fail ArgumentError, "Missing the required parameter 'scheduler_id' when calling FunctionsApi.get_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/schedulers/{schedulerId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'schedulerId' + '}', CGI.escape(scheduler_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionScheduler'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoke a function
    # Invoke a serverless function.  **With Service Key** (admin/background operations): - Use for background jobs, webhooks, cron, admin operations - Function receives payload only (no user context) - Database queries bypass RLS (admin access)  **With Auth User Token** (user-facing): - Use for user-initiated actions - Function receives payload + `__volcano_auth` context:   ```javascript   {     user_id: \"uuid\",     email: \"user@example.com\",     project_id: \"uuid\",     role: \"authenticated\" or \"anonymous\"   }   ``` - Database queries enforce RLS (user-scoped data)  **With Anon Key** (public function only): - Requires anon key permission: `functions.invoke` - Function must have `is_public: true` - Function receives payload only (no `__volcano_auth`)  **Transport and CORS:** - This operation is the authenticated direct RPC endpoint and always uses the   POST `{payload: ...}` contract, including for functions whose DNS ingress is   configured in HTTP mode. - The geo-routed DNS ingress is `https://{functionId}.functions.<domain>/`. - RPC-mode DNS ingress accepts POST at `/`. HTTP-mode DNS ingress accepts GET,   HEAD, POST, PUT, PATCH, and DELETE at `/` and nested paths. - Direct and RPC-mode CORS preflight advertises `POST, OPTIONS`. HTTP-mode DNS   preflight advertises `GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS`. - `http_auth_mode: none` applies only to public HTTP-mode DNS ingress; this   direct operation always requires a Volcano credential. 
    # @param function_id [String] Function ID
    # @param function_invocation_request [FunctionInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Object>]
    def invoke_function(function_id, function_invocation_request, opts = {})
      data, _status_code, _headers = invoke_function_with_http_info(function_id, function_invocation_request, opts)
      data
    end

    # Invoke a function
    # Invoke a serverless function.  **With Service Key** (admin/background operations): - Use for background jobs, webhooks, cron, admin operations - Function receives payload only (no user context) - Database queries bypass RLS (admin access)  **With Auth User Token** (user-facing): - Use for user-initiated actions - Function receives payload + &#x60;__volcano_auth&#x60; context:   &#x60;&#x60;&#x60;javascript   {     user_id: \&quot;uuid\&quot;,     email: \&quot;user@example.com\&quot;,     project_id: \&quot;uuid\&quot;,     role: \&quot;authenticated\&quot; or \&quot;anonymous\&quot;   }   &#x60;&#x60;&#x60; - Database queries enforce RLS (user-scoped data)  **With Anon Key** (public function only): - Requires anon key permission: &#x60;functions.invoke&#x60; - Function must have &#x60;is_public: true&#x60; - Function receives payload only (no &#x60;__volcano_auth&#x60;)  **Transport and CORS:** - This operation is the authenticated direct RPC endpoint and always uses the   POST &#x60;{payload: ...}&#x60; contract, including for functions whose DNS ingress is   configured in HTTP mode. - The geo-routed DNS ingress is &#x60;https://{functionId}.functions.&lt;domain&gt;/&#x60;. - RPC-mode DNS ingress accepts POST at &#x60;/&#x60;. HTTP-mode DNS ingress accepts GET,   HEAD, POST, PUT, PATCH, and DELETE at &#x60;/&#x60; and nested paths. - Direct and RPC-mode CORS preflight advertises &#x60;POST, OPTIONS&#x60;. HTTP-mode DNS   preflight advertises &#x60;GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS&#x60;. - &#x60;http_auth_mode: none&#x60; applies only to public HTTP-mode DNS ingress; this   direct operation always requires a Volcano credential. 
    # @param function_id [String] Function ID
    # @param function_invocation_request [FunctionInvocationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Object>, Integer, Hash)>] Hash<String, Object> data, response status code and response headers
    def invoke_function_with_http_info(function_id, function_invocation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.invoke_function ...'
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.invoke_function"
      end
      # verify the required parameter 'function_invocation_request' is set
      if @api_client.config.client_side_validation && function_invocation_request.nil?
        fail ArgumentError, "Missing the required parameter 'function_invocation_request' when calling FunctionsApi.invoke_function"
      end
      # resource path
      local_var_path = '/functions/{functionId}/invoke'.sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(function_invocation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Object>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"FunctionsApi.invoke_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#invoke_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List function deployments
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @return [PaginatedFunctionDeployments]
    def list_function_deployments(id, function_id, opts = {})
      data, _status_code, _headers = list_function_deployments_with_http_info(id, function_id, opts)
      data
    end

    # List function deployments
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @return [Array<(PaginatedFunctionDeployments, Integer, Hash)>] PaginatedFunctionDeployments data, response status code and response headers
    def list_function_deployments_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_function_deployments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.list_function_deployments"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.list_function_deployments"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling FunctionsApi.list_function_deployments, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_function_deployments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_function_deployments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/deployments'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedFunctionDeployments'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_function_deployments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_function_deployments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available regions for function deployment
    # Returns the configured regions where functions can be deployed, each annotated with a human-readable label and country flag emoji for use in UI pickers. This is a public endpoint that doesn't require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<FunctionRegion>]
    def list_function_regions(opts = {})
      data, _status_code, _headers = list_function_regions_with_http_info(opts)
      data
    end

    # List available regions for function deployment
    # Returns the configured regions where functions can be deployed, each annotated with a human-readable label and country flag emoji for use in UI pickers. This is a public endpoint that doesn&#39;t require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FunctionRegion>, Integer, Hash)>] Array<FunctionRegion> data, response status code and response headers
    def list_function_regions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_function_regions ...'
      end
      # resource path
      local_var_path = '/functions/regions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FunctionRegion>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_function_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_function_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List supported function runtimes
    # Returns the public function runtime catalog used by CLI clients to select supported runtimes, language defaults, and local source packaging metadata for deployments. This is a public endpoint that doesn't require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [FunctionRuntimesResponse]
    def list_function_runtimes(opts = {})
      data, _status_code, _headers = list_function_runtimes_with_http_info(opts)
      data
    end

    # List supported function runtimes
    # Returns the public function runtime catalog used by CLI clients to select supported runtimes, language defaults, and local source packaging metadata for deployments. This is a public endpoint that doesn&#39;t require authentication. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionRuntimesResponse, Integer, Hash)>] FunctionRuntimesResponse data, response status code and response headers
    def list_function_runtimes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_function_runtimes ...'
      end
      # resource path
      local_var_path = '/functions/runtimes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionRuntimesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_function_runtimes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_function_runtimes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List schedulers for a function
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [FunctionSchedulerListResponse]
    def list_function_schedulers(id, function_id, opts = {})
      data, _status_code, _headers = list_function_schedulers_with_http_info(id, function_id, opts)
      data
    end

    # List schedulers for a function
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionSchedulerListResponse, Integer, Hash)>] FunctionSchedulerListResponse data, response status code and response headers
    def list_function_schedulers_with_http_info(id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_function_schedulers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.list_function_schedulers"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.list_function_schedulers"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/schedulers'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionSchedulerListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_function_schedulers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_function_schedulers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all functions in a project
    # Supports two mutually exclusive pagination modes. Offset mode uses `page` and `limit` and returns `next` (URL). Cursor mode uses `cursor` and `limit`, supports `search` (case-insensitive name match), and returns `next_cursor`/`prev_cursor`. Sending both `page` and `cursor` (or `page` and `search`) returns 400. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [PaginatedFunctions]
    def list_functions(id, opts = {})
      data, _status_code, _headers = list_functions_with_http_info(id, opts)
      data
    end

    # List all functions in a project
    # Supports two mutually exclusive pagination modes. Offset mode uses &#x60;page&#x60; and &#x60;limit&#x60; and returns &#x60;next&#x60; (URL). Cursor mode uses &#x60;cursor&#x60; and &#x60;limit&#x60;, supports &#x60;search&#x60; (case-insensitive name match), and returns &#x60;next_cursor&#x60;/&#x60;prev_cursor&#x60;. Sending both &#x60;page&#x60; and &#x60;cursor&#x60; (or &#x60;page&#x60; and &#x60;search&#x60;) returns 400. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [Array<(PaginatedFunctions, Integer, Hash)>] PaginatedFunctions data, response status code and response headers
    def list_functions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_functions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.list_functions"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling FunctionsApi.list_functions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_functions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_functions, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling FunctionsApi.list_functions, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling FunctionsApi.list_functions, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/functions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedFunctions'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_functions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_functions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List every function scheduler in a project
    # Project-scoped counterpart to `/projects/{id}/functions/{functionId}/schedulers`. Returns schedulers across all functions in the project, ordered by creation time descending, with standard page/limit pagination so clients don't have to fan out one request per function. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [FunctionSchedulerListResponse]
    def list_project_schedulers(id, opts = {})
      data, _status_code, _headers = list_project_schedulers_with_http_info(id, opts)
      data
    end

    # List every function scheduler in a project
    # Project-scoped counterpart to &#x60;/projects/{id}/functions/{functionId}/schedulers&#x60;. Returns schedulers across all functions in the project, ordered by creation time descending, with standard page/limit pagination so clients don&#39;t have to fan out one request per function. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [Array<(FunctionSchedulerListResponse, Integer, Hash)>] FunctionSchedulerListResponse data, response status code and response headers
    def list_project_schedulers_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_project_schedulers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.list_project_schedulers"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling FunctionsApi.list_project_schedulers, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_project_schedulers, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FunctionsApi.list_project_schedulers, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling FunctionsApi.list_project_schedulers, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling FunctionsApi.list_project_schedulers, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/schedulers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionSchedulerListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_project_schedulers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_project_schedulers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve function name for invocation
    # Resolves a DNS-safe function name to its function ID within the caller's project.  SDKs use this endpoint internally to invoke by function name while routing by function ID.  **With Service Key**: - Allowed  **With Auth User Token**: - Allowed  **With Anon Key**: - Requires anon key permission: `functions.invoke` - Function must have `is_public: true` 
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param [Hash] opts the optional parameters
    # @return [ResolveFunctionResponse]
    def resolve_function_for_invocation(name, opts = {})
      data, _status_code, _headers = resolve_function_for_invocation_with_http_info(name, opts)
      data
    end

    # Resolve function name for invocation
    # Resolves a DNS-safe function name to its function ID within the caller&#39;s project.  SDKs use this endpoint internally to invoke by function name while routing by function ID.  **With Service Key**: - Allowed  **With Auth User Token**: - Allowed  **With Anon Key**: - Requires anon key permission: &#x60;functions.invoke&#x60; - Function must have &#x60;is_public: true&#x60; 
    # @param name [String] DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResolveFunctionResponse, Integer, Hash)>] ResolveFunctionResponse data, response status code and response headers
    def resolve_function_for_invocation_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.resolve_function_for_invocation ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling FunctionsApi.resolve_function_for_invocation"
      end
      if @api_client.config.client_side_validation && name.to_s.length > 63
        fail ArgumentError, 'invalid value for "name" when calling FunctionsApi.resolve_function_for_invocation, the character length must be smaller than or equal to 63.'
      end

      pattern = Regexp.new(/^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling FunctionsApi.resolve_function_for_invocation, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/functions/resolve'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResolveFunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"FunctionsApi.resolve_function_for_invocation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#resolve_function_for_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update function settings
    # Updates invocation settings without redeploying the function runtime. A function with a custom domain attached or detaching must remain public and in HTTP invocation mode until the domain has been fully detached. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param update_function_request [UpdateFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Function]
    def update_function(id, function_id, update_function_request, opts = {})
      data, _status_code, _headers = update_function_with_http_info(id, function_id, update_function_request, opts)
      data
    end

    # Update function settings
    # Updates invocation settings without redeploying the function runtime. A function with a custom domain attached or detaching must remain public and in HTTP invocation mode until the domain has been fully detached. 
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param update_function_request [UpdateFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Function, Integer, Hash)>] Function data, response status code and response headers
    def update_function_with_http_info(id, function_id, update_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.update_function ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.update_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.update_function"
      end
      # verify the required parameter 'update_function_request' is set
      if @api_client.config.client_side_validation && update_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_function_request' when calling FunctionsApi.update_function"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Function'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.update_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#update_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param update_function_scheduler_request [UpdateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionScheduler]
    def update_function_scheduler(id, function_id, scheduler_id, update_function_scheduler_request, opts = {})
      data, _status_code, _headers = update_function_scheduler_with_http_info(id, function_id, scheduler_id, update_function_scheduler_request, opts)
      data
    end

    # Update a function scheduler
    # @param id [String] Project ID
    # @param function_id [String] Function ID
    # @param scheduler_id [String] Function scheduler ID
    # @param update_function_scheduler_request [UpdateFunctionSchedulerRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionScheduler, Integer, Hash)>] FunctionScheduler data, response status code and response headers
    def update_function_scheduler_with_http_info(id, function_id, scheduler_id, update_function_scheduler_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.update_function_scheduler ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FunctionsApi.update_function_scheduler"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.update_function_scheduler"
      end
      # verify the required parameter 'scheduler_id' is set
      if @api_client.config.client_side_validation && scheduler_id.nil?
        fail ArgumentError, "Missing the required parameter 'scheduler_id' when calling FunctionsApi.update_function_scheduler"
      end
      # verify the required parameter 'update_function_scheduler_request' is set
      if @api_client.config.client_side_validation && update_function_scheduler_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_function_scheduler_request' when calling FunctionsApi.update_function_scheduler"
      end
      # resource path
      local_var_path = '/projects/{id}/functions/{functionId}/schedulers/{schedulerId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'schedulerId' + '}', CGI.escape(scheduler_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_function_scheduler_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionScheduler'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"FunctionsApi.update_function_scheduler",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#update_function_scheduler\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
