=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class GitConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel an incomplete source export
    # Restores platform source writes while the project is in `git_exporting` or `git_pending`. If Volcano reserved or deployed the root commit, export remains consumed and cannot be run again. The connected repository and any commit already pushed to it are unchanged. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_project_source_export(id, opts = {})
      cancel_project_source_export_with_http_info(id, opts)
      nil
    end

    # Cancel an incomplete source export
    # Restores platform source writes while the project is in &#x60;git_exporting&#x60; or &#x60;git_pending&#x60;. If Volcano reserved or deployed the root commit, export remains consumed and cannot be run again. The connected repository and any commit already pushed to it are unchanged. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_project_source_export_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.cancel_project_source_export ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.cancel_project_source_export"
      end
      # resource path
      local_var_path = '/projects/{id}/source-export'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.cancel_project_source_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#cancel_project_source_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connect or update a project's repo connection
    # Full replace, following Vercel's model: many projects may point at the same repo, so this only binds the project — it never creates or deletes git-provider state. Used for both the initial connect and later edits (repo change, root directory, production branch). Resolves the repository_id or repo_full_name selector against the repos accessible through installation_id via connection_id's stored GitHub user token, then persists repository metadata only from that validated GitHub response. 
    # @param id [String] Project ID
    # @param connect_project_git_request [ConnectProjectGitRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectGitConnection]
    def connect_project_git(id, connect_project_git_request, opts = {})
      data, _status_code, _headers = connect_project_git_with_http_info(id, connect_project_git_request, opts)
      data
    end

    # Connect or update a project&#39;s repo connection
    # Full replace, following Vercel&#39;s model: many projects may point at the same repo, so this only binds the project — it never creates or deletes git-provider state. Used for both the initial connect and later edits (repo change, root directory, production branch). Resolves the repository_id or repo_full_name selector against the repos accessible through installation_id via connection_id&#39;s stored GitHub user token, then persists repository metadata only from that validated GitHub response. 
    # @param id [String] Project ID
    # @param connect_project_git_request [ConnectProjectGitRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectGitConnection, Integer, Hash)>] ProjectGitConnection data, response status code and response headers
    def connect_project_git_with_http_info(id, connect_project_git_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.connect_project_git ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.connect_project_git"
      end
      # verify the required parameter 'connect_project_git_request' is set
      if @api_client.config.client_side_validation && connect_project_git_request.nil?
        fail ArgumentError, "Missing the required parameter 'connect_project_git_request' when calling GitConnectionsApi.connect_project_git"
      end
      # resource path
      local_var_path = '/projects/{id}/git-connection'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_project_git_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectGitConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.connect_project_git",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#connect_project_git\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a git provider connection
    # @param connection_id [String] Connection ID to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_git_connection(connection_id, opts = {})
      delete_git_connection_with_http_info(connection_id, opts)
      nil
    end

    # Delete a git provider connection
    # @param connection_id [String] Connection ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_git_connection_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.delete_git_connection ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling GitConnectionsApi.delete_git_connection"
      end
      # resource path
      local_var_path = '/user/git/connections/{connectionId}'.sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.delete_git_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#delete_git_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect a project's repo connection
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disconnect_project_git(id, opts = {})
      disconnect_project_git_with_http_info(id, opts)
      nil
    end

    # Disconnect a project&#39;s repo connection
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disconnect_project_git_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.disconnect_project_git ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.disconnect_project_git"
      end
      # resource path
      local_var_path = '/projects/{id}/git-connection'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.disconnect_project_git",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#disconnect_project_git\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize an empty repository with a project's stored source
    # Creates the first commit in the connected repository and pushes it directly to the configured production branch. The push enters the ordinary Git auto-deploy flow. Direct source writes remain frozen until that deployment succeeds and the repository becomes the source of truth.  The caller confirms the production branch shown before export. Starting export pins that branch: later GitHub default-branch changes do not repoint the project. If the configured branch changed after the caller read it, the request fails without exporting so the caller can show and confirm the new value.  The response lists what the export could not carry: resources with no successful deployment to take source from (`skipped`), and things no export can hand back (`omitted`) — migrations, which Volcano stores no copy of, and credential-shaped files, which are left for their owner to add.  Requires a connected repository with no commits or branches, and runs once. Volcano never creates the repository. If GitHub did not confirm the push, retrying creates the same commit and adopts it when it already reached the repository. 
    # @param id [String] Project ID
    # @param export_project_source_request [ExportProjectSourceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectSourceExport]
    def export_project_source(id, export_project_source_request, opts = {})
      data, _status_code, _headers = export_project_source_with_http_info(id, export_project_source_request, opts)
      data
    end

    # Initialize an empty repository with a project&#39;s stored source
    # Creates the first commit in the connected repository and pushes it directly to the configured production branch. The push enters the ordinary Git auto-deploy flow. Direct source writes remain frozen until that deployment succeeds and the repository becomes the source of truth.  The caller confirms the production branch shown before export. Starting export pins that branch: later GitHub default-branch changes do not repoint the project. If the configured branch changed after the caller read it, the request fails without exporting so the caller can show and confirm the new value.  The response lists what the export could not carry: resources with no successful deployment to take source from (&#x60;skipped&#x60;), and things no export can hand back (&#x60;omitted&#x60;) — migrations, which Volcano stores no copy of, and credential-shaped files, which are left for their owner to add.  Requires a connected repository with no commits or branches, and runs once. Volcano never creates the repository. If GitHub did not confirm the push, retrying creates the same commit and adopts it when it already reached the repository. 
    # @param id [String] Project ID
    # @param export_project_source_request [ExportProjectSourceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectSourceExport, Integer, Hash)>] ProjectSourceExport data, response status code and response headers
    def export_project_source_with_http_info(id, export_project_source_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.export_project_source ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.export_project_source"
      end
      # verify the required parameter 'export_project_source_request' is set
      if @api_client.config.client_side_validation && export_project_source_request.nil?
        fail ArgumentError, "Missing the required parameter 'export_project_source_request' when calling GitConnectionsApi.export_project_source"
      end
      # resource path
      local_var_path = '/projects/{id}/source-export'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(export_project_source_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectSourceExport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.export_project_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#export_project_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project's repo connection
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ProjectGitConnection]
    def get_project_git_connection(id, opts = {})
      data, _status_code, _headers = get_project_git_connection_with_http_info(id, opts)
      data
    end

    # Get a project&#39;s repo connection
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectGitConnection, Integer, Hash)>] ProjectGitConnection data, response status code and response headers
    def get_project_git_connection_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.get_project_git_connection ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.get_project_git_connection"
      end
      # resource path
      local_var_path = '/projects/{id}/git-connection'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectGitConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.get_project_git_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#get_project_git_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project's Git auto-deploy settings
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ProjectGitDeploySettings]
    def get_project_git_deploy_settings(id, opts = {})
      data, _status_code, _headers = get_project_git_deploy_settings_with_http_info(id, opts)
      data
    end

    # Get a project&#39;s Git auto-deploy settings
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectGitDeploySettings, Integer, Hash)>] ProjectGitDeploySettings data, response status code and response headers
    def get_project_git_deploy_settings_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.get_project_git_deploy_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.get_project_git_deploy_settings"
      end
      # resource path
      local_var_path = '/projects/{id}/git-deploy-settings'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectGitDeploySettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.get_project_git_deploy_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#get_project_git_deploy_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Report the project's source-of-truth state
    # Volcano stores the source of the functions and frontend it runs for a project. This reports whether that source has been written to the connected repository, and whether the repository has taken over as the project's source of truth.  `mode` is `platform`, `git_exporting`, `git_pending`, or `git`. Export enters `git_exporting` before reading stored source. GitHub's signed push event confirms that the initial commit reached the production branch. That push or a newer production push changes the mode to `git_pending` when it starts a deployment. `exported_at` records that transition.  A successful Git run completes the transition when it matches the recorded repository, production branch, and root directory and actually dispatches every recorded resource. Ordinary production-branch pushes deploy without changing a platform-managed project's source ownership. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ProjectSourceExportState]
    def get_project_source_export(id, opts = {})
      data, _status_code, _headers = get_project_source_export_with_http_info(id, opts)
      data
    end

    # Report the project&#39;s source-of-truth state
    # Volcano stores the source of the functions and frontend it runs for a project. This reports whether that source has been written to the connected repository, and whether the repository has taken over as the project&#39;s source of truth.  &#x60;mode&#x60; is &#x60;platform&#x60;, &#x60;git_exporting&#x60;, &#x60;git_pending&#x60;, or &#x60;git&#x60;. Export enters &#x60;git_exporting&#x60; before reading stored source. GitHub&#39;s signed push event confirms that the initial commit reached the production branch. That push or a newer production push changes the mode to &#x60;git_pending&#x60; when it starts a deployment. &#x60;exported_at&#x60; records that transition.  A successful Git run completes the transition when it matches the recorded repository, production branch, and root directory and actually dispatches every recorded resource. Ordinary production-branch pushes deploy without changing a platform-managed project&#39;s source ownership. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectSourceExportState, Integer, Hash)>] ProjectSourceExportState data, response status code and response headers
    def get_project_source_export_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.get_project_source_export ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.get_project_source_export"
      end
      # resource path
      local_var_path = '/projects/{id}/source-export'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectSourceExportState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.get_project_source_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#get_project_source_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete a GitHub App connection callback
    # Public GitHub App callback. The signed state and callback binding cookie bind the provider authorization to the browser that started the flow. 
    # @param state [String] Signed connect state generated by startGitConnect.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code GitHub user authorization code.
    # @option opts [String] :error Provider error returned by GitHub.
    # @return [nil]
    def git_connect_callback(state, opts = {})
      git_connect_callback_with_http_info(state, opts)
      nil
    end

    # Complete a GitHub App connection callback
    # Public GitHub App callback. The signed state and callback binding cookie bind the provider authorization to the browser that started the flow. 
    # @param state [String] Signed connect state generated by startGitConnect.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code GitHub user authorization code.
    # @option opts [String] :error Provider error returned by GitHub.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def git_connect_callback_with_http_info(state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.git_connect_callback ...'
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling GitConnectionsApi.git_connect_callback"
      end
      # resource path
      local_var_path = '/github/callback'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'state'] = state
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'error'] = opts[:'error'] if !opts[:'error'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.git_connect_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#git_connect_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List git provider connections
    # @param [Hash] opts the optional parameters
    # @return [GitConnectionsResponse]
    def list_git_connections(opts = {})
      data, _status_code, _headers = list_git_connections_with_http_info(opts)
      data
    end

    # List git provider connections
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitConnectionsResponse, Integer, Hash)>] GitConnectionsResponse data, response status code and response headers
    def list_git_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.list_git_connections ...'
      end
      # resource path
      local_var_path = '/user/git/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GitConnectionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.list_git_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#list_git_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List repos accessible to a connection through an installation
    # Live proxy to GitHub: lists the repos the connection's stored user token can access through installationId. Nothing is persisted by this call. 
    # @param connection_id [String] Connection ID to browse repositories for.
    # @param installation_id [Integer] GitHub App installation ID.
    # @param [Hash] opts the optional parameters
    # @return [GitRepositoriesResponse]
    def list_git_installation_repositories(connection_id, installation_id, opts = {})
      data, _status_code, _headers = list_git_installation_repositories_with_http_info(connection_id, installation_id, opts)
      data
    end

    # List repos accessible to a connection through an installation
    # Live proxy to GitHub: lists the repos the connection&#39;s stored user token can access through installationId. Nothing is persisted by this call. 
    # @param connection_id [String] Connection ID to browse repositories for.
    # @param installation_id [Integer] GitHub App installation ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitRepositoriesResponse, Integer, Hash)>] GitRepositoriesResponse data, response status code and response headers
    def list_git_installation_repositories_with_http_info(connection_id, installation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.list_git_installation_repositories ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling GitConnectionsApi.list_git_installation_repositories"
      end
      # verify the required parameter 'installation_id' is set
      if @api_client.config.client_side_validation && installation_id.nil?
        fail ArgumentError, "Missing the required parameter 'installation_id' when calling GitConnectionsApi.list_git_installation_repositories"
      end
      # resource path
      local_var_path = '/user/git/connections/{connectionId}/installations/{installationId}/repositories'.sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s)).sub('{' + 'installationId' + '}', CGI.escape(installation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GitRepositoriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.list_git_installation_repositories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#list_git_installation_repositories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List GitHub App installations accessible to a connection
    # Live proxy to GitHub: lists the platform GitHub App installations the connection's stored user token can access. Nothing is persisted by this call. 
    # @param connection_id [String] Connection ID to browse installations for.
    # @param [Hash] opts the optional parameters
    # @return [GitInstallationsResponse]
    def list_git_installations(connection_id, opts = {})
      data, _status_code, _headers = list_git_installations_with_http_info(connection_id, opts)
      data
    end

    # List GitHub App installations accessible to a connection
    # Live proxy to GitHub: lists the platform GitHub App installations the connection&#39;s stored user token can access. Nothing is persisted by this call. 
    # @param connection_id [String] Connection ID to browse installations for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GitInstallationsResponse, Integer, Hash)>] GitInstallationsResponse data, response status code and response headers
    def list_git_installations_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.list_git_installations ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling GitConnectionsApi.list_git_installations"
      end
      # resource path
      local_var_path = '/user/git/connections/{connectionId}/installations'.sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GitInstallationsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.list_git_installations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#list_git_installations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the branch a project deploys from
    # Changes only the production branch, leaving the repository binding alone. PUT /projects/{id}/git-connection can also set it, but that is a full rebind: it needs connection_id, installation_id and a repository selector resent, and re-resolves the repository against GitHub for a field that does not depend on it.  The branch does not have to exist. It is validated as a Git branch name and nothing more, so a project can be pointed at a branch that is about to be pushed — the case a repository created empty depends on.  Setting the branch here marks it as the project's own choice, so a later default-branch rename on GitHub no longer moves it. Projects that never set one keep following the repository's default branch. 
    # @param id [String] Project ID
    # @param set_project_git_production_branch_request [SetProjectGitProductionBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectGitConnection]
    def set_project_git_production_branch(id, set_project_git_production_branch_request, opts = {})
      data, _status_code, _headers = set_project_git_production_branch_with_http_info(id, set_project_git_production_branch_request, opts)
      data
    end

    # Set the branch a project deploys from
    # Changes only the production branch, leaving the repository binding alone. PUT /projects/{id}/git-connection can also set it, but that is a full rebind: it needs connection_id, installation_id and a repository selector resent, and re-resolves the repository against GitHub for a field that does not depend on it.  The branch does not have to exist. It is validated as a Git branch name and nothing more, so a project can be pointed at a branch that is about to be pushed — the case a repository created empty depends on.  Setting the branch here marks it as the project&#39;s own choice, so a later default-branch rename on GitHub no longer moves it. Projects that never set one keep following the repository&#39;s default branch. 
    # @param id [String] Project ID
    # @param set_project_git_production_branch_request [SetProjectGitProductionBranchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectGitConnection, Integer, Hash)>] ProjectGitConnection data, response status code and response headers
    def set_project_git_production_branch_with_http_info(id, set_project_git_production_branch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.set_project_git_production_branch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.set_project_git_production_branch"
      end
      # verify the required parameter 'set_project_git_production_branch_request' is set
      if @api_client.config.client_side_validation && set_project_git_production_branch_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_project_git_production_branch_request' when calling GitConnectionsApi.set_project_git_production_branch"
      end
      # resource path
      local_var_path = '/projects/{id}/git-connection/production-branch'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_project_git_production_branch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectGitConnection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.set_project_git_production_branch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#set_project_git_production_branch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a git provider connection
    # Starts a first-party dashboard user's git provider connection flow and returns the provider authorization URL. The response also sets a short-lived HttpOnly callback binding cookie tied to the authenticated user through the signed provider state. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider Git provider to connect. Defaults to github. (default to 'github')
    # @option opts [String] :redirect URL to redirect the browser to after the provider callback completes.
    # @return [GitConnectStartResponse]
    def start_git_connect(opts = {})
      data, _status_code, _headers = start_git_connect_with_http_info(opts)
      data
    end

    # Start a git provider connection
    # Starts a first-party dashboard user&#39;s git provider connection flow and returns the provider authorization URL. The response also sets a short-lived HttpOnly callback binding cookie tied to the authenticated user through the signed provider state. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider Git provider to connect. Defaults to github. (default to 'github')
    # @option opts [String] :redirect URL to redirect the browser to after the provider callback completes.
    # @return [Array<(GitConnectStartResponse, Integer, Hash)>] GitConnectStartResponse data, response status code and response headers
    def start_git_connect_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.start_git_connect ...'
      end
      allowable_values = ["github"]
      if @api_client.config.client_side_validation && opts[:'provider'] && !allowable_values.include?(opts[:'provider'])
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/user/git/connect'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'redirect'] = opts[:'redirect'] if !opts[:'redirect'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GitConnectStartResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.start_git_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#start_git_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a project's Git auto-deploy settings
    # Full replace of the project's Git auto-deploy settings: what a push to the connected repo's production branch deploys.  Connecting a repository sets auto_deploy_enabled and deploy_functions to true for a project that has never called this endpoint, so a push deploys without any further setup. Once these settings have been saved here they are the project's own: connecting, rebinding, disconnecting and reconnecting all leave them untouched, including when they were saved before any repository was connected. Frontend settings are off until set here; the frontend need not exist when they are saved, since frontend_name is resolved at deploy time. 
    # @param id [String] Project ID
    # @param update_project_git_deploy_settings_request [UpdateProjectGitDeploySettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectGitDeploySettings]
    def update_project_git_deploy_settings(id, update_project_git_deploy_settings_request, opts = {})
      data, _status_code, _headers = update_project_git_deploy_settings_with_http_info(id, update_project_git_deploy_settings_request, opts)
      data
    end

    # Update a project&#39;s Git auto-deploy settings
    # Full replace of the project&#39;s Git auto-deploy settings: what a push to the connected repo&#39;s production branch deploys.  Connecting a repository sets auto_deploy_enabled and deploy_functions to true for a project that has never called this endpoint, so a push deploys without any further setup. Once these settings have been saved here they are the project&#39;s own: connecting, rebinding, disconnecting and reconnecting all leave them untouched, including when they were saved before any repository was connected. Frontend settings are off until set here; the frontend need not exist when they are saved, since frontend_name is resolved at deploy time. 
    # @param id [String] Project ID
    # @param update_project_git_deploy_settings_request [UpdateProjectGitDeploySettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectGitDeploySettings, Integer, Hash)>] ProjectGitDeploySettings data, response status code and response headers
    def update_project_git_deploy_settings_with_http_info(id, update_project_git_deploy_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GitConnectionsApi.update_project_git_deploy_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling GitConnectionsApi.update_project_git_deploy_settings"
      end
      # verify the required parameter 'update_project_git_deploy_settings_request' is set
      if @api_client.config.client_side_validation && update_project_git_deploy_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_project_git_deploy_settings_request' when calling GitConnectionsApi.update_project_git_deploy_settings"
      end
      # resource path
      local_var_path = '/projects/{id}/git-deploy-settings'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_project_git_deploy_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectGitDeploySettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"GitConnectionsApi.update_project_git_deploy_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GitConnectionsApi#update_project_git_deploy_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
