=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class LocksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Acquire a project lock
    # Acquires a project-scoped lease using the project embedded in the service-role key. The caller must hold the `locks.manage` permission. Repeating the request with the same lock token is idempotent and resets that lease to the requested TTL. A different live owner receives `409 lock_held`; a caller whose own lease already lapsed receives `409 lock_ownership_lost`. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param project_lock_lease_request [ProjectLockLeaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectLockLease]
    def acquire_project_lock(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts = {})
      data, _status_code, _headers = acquire_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts)
      data
    end

    # Acquire a project lock
    # Acquires a project-scoped lease using the project embedded in the service-role key. The caller must hold the &#x60;locks.manage&#x60; permission. Repeating the request with the same lock token is idempotent and resets that lease to the requested TTL. A different live owner receives &#x60;409 lock_held&#x60;; a caller whose own lease already lapsed receives &#x60;409 lock_ownership_lost&#x60;. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param project_lock_lease_request [ProjectLockLeaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectLockLease, Integer, Hash)>] ProjectLockLease data, response status code and response headers
    def acquire_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocksApi.acquire_project_lock ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling LocksApi.acquire_project_lock"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 128
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.acquire_project_lock, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.acquire_project_lock, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling LocksApi.acquire_project_lock, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'x_volcano_lock_token' is set
      if @api_client.config.client_side_validation && x_volcano_lock_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_lock_token' when calling LocksApi.acquire_project_lock"
      end
      # verify the required parameter 'x_volcano_request_id' is set
      if @api_client.config.client_side_validation && x_volcano_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_request_id' when calling LocksApi.acquire_project_lock"
      end
      # verify the required parameter 'project_lock_lease_request' is set
      if @api_client.config.client_side_validation && project_lock_lease_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_lock_lease_request' when calling LocksApi.acquire_project_lock"
      end
      # resource path
      local_var_path = '/locks/{key}/lease'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Volcano-Lock-Token'] = x_volcano_lock_token
      header_params[:'X-Volcano-Request-Id'] = x_volcano_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_lock_lease_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectLockLease'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey']

      new_options = opts.merge(
        :operation => :"LocksApi.acquire_project_lock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocksApi#acquire_project_lock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Force release a project lock
    # Drops the lease whatever token holds it, for recovering a lock whose holder died without releasing. Use `DELETE /locks/{key}/lease` for normal release.  This breaks mutual exclusion by itself: the previous holder keeps working until its own renewal fails. Guard the protected resource with the lease's `fencing_token`, which the next acquisition raises, so a write from the displaced holder can be rejected. Succeeds when the lock is already absent. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def force_release_project_lock(key, x_volcano_request_id, opts = {})
      force_release_project_lock_with_http_info(key, x_volcano_request_id, opts)
      nil
    end

    # Force release a project lock
    # Drops the lease whatever token holds it, for recovering a lock whose holder died without releasing. Use &#x60;DELETE /locks/{key}/lease&#x60; for normal release.  This breaks mutual exclusion by itself: the previous holder keeps working until its own renewal fails. Guard the protected resource with the lease&#39;s &#x60;fencing_token&#x60;, which the next acquisition raises, so a write from the displaced holder can be rejected. Succeeds when the lock is already absent. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def force_release_project_lock_with_http_info(key, x_volcano_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocksApi.force_release_project_lock ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling LocksApi.force_release_project_lock"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 128
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.force_release_project_lock, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.force_release_project_lock, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling LocksApi.force_release_project_lock, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'x_volcano_request_id' is set
      if @api_client.config.client_side_validation && x_volcano_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_request_id' when calling LocksApi.force_release_project_lock"
      end
      # resource path
      local_var_path = '/locks/{key}'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Volcano-Request-Id'] = x_volcano_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey']

      new_options = opts.merge(
        :operation => :"LocksApi.force_release_project_lock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocksApi#force_release_project_lock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a project lock
    # Reports whether the lock is currently held, when its lease expires, and the holder's fencing token. `held` follows takeover eligibility rather than raw expiry, so `held: false` means an acquire would succeed now. No lock token is required, making this usable for monitoring and recovery. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [ProjectLockState]
    def get_project_lock(key, x_volcano_request_id, opts = {})
      data, _status_code, _headers = get_project_lock_with_http_info(key, x_volcano_request_id, opts)
      data
    end

    # Read a project lock
    # Reports whether the lock is currently held, when its lease expires, and the holder&#39;s fencing token. &#x60;held&#x60; follows takeover eligibility rather than raw expiry, so &#x60;held: false&#x60; means an acquire would succeed now. No lock token is required, making this usable for monitoring and recovery. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectLockState, Integer, Hash)>] ProjectLockState data, response status code and response headers
    def get_project_lock_with_http_info(key, x_volcano_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocksApi.get_project_lock ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling LocksApi.get_project_lock"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 128
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.get_project_lock, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.get_project_lock, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling LocksApi.get_project_lock, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'x_volcano_request_id' is set
      if @api_client.config.client_side_validation && x_volcano_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_request_id' when calling LocksApi.get_project_lock"
      end
      # resource path
      local_var_path = '/locks/{key}'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Volcano-Request-Id'] = x_volcano_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectLockState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey']

      new_options = opts.merge(
        :operation => :"LocksApi.get_project_lock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocksApi#get_project_lock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Release a project lock
    # Releases a lease only when the supplied lock token still owns it.
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def release_project_lock(key, x_volcano_lock_token, x_volcano_request_id, opts = {})
      release_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, opts)
      nil
    end

    # Release a project lock
    # Releases a lease only when the supplied lock token still owns it.
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def release_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocksApi.release_project_lock ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling LocksApi.release_project_lock"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 128
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.release_project_lock, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.release_project_lock, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling LocksApi.release_project_lock, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'x_volcano_lock_token' is set
      if @api_client.config.client_side_validation && x_volcano_lock_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_lock_token' when calling LocksApi.release_project_lock"
      end
      # verify the required parameter 'x_volcano_request_id' is set
      if @api_client.config.client_side_validation && x_volcano_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_request_id' when calling LocksApi.release_project_lock"
      end
      # resource path
      local_var_path = '/locks/{key}/lease'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Volcano-Lock-Token'] = x_volcano_lock_token
      header_params[:'X-Volcano-Request-Id'] = x_volcano_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey']

      new_options = opts.merge(
        :operation => :"LocksApi.release_project_lock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocksApi#release_project_lock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Renew a project lock
    # Renews a lease owned by the supplied lock token. The request must arrive more than one second before `expires_at`; this safety margin prevents clock skew between regional API instances from resurrecting an expired lease. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param project_lock_lease_request [ProjectLockLeaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectLockLease]
    def renew_project_lock(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts = {})
      data, _status_code, _headers = renew_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts)
      data
    end

    # Renew a project lock
    # Renews a lease owned by the supplied lock token. The request must arrive more than one second before &#x60;expires_at&#x60;; this safety margin prevents clock skew between regional API instances from resurrecting an expired lease. 
    # @param key [String] Project-local lock name.
    # @param x_volcano_lock_token [String] Opaque UUID generated once by the caller and retained for the lease lifetime.
    # @param x_volcano_request_id [String] UUID correlating this request across client and server logs. Repeat safety comes from the lock token, so a retry under a reused request ID still counts against the quota. 
    # @param project_lock_lease_request [ProjectLockLeaseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectLockLease, Integer, Hash)>] ProjectLockLease data, response status code and response headers
    def renew_project_lock_with_http_info(key, x_volcano_lock_token, x_volcano_request_id, project_lock_lease_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocksApi.renew_project_lock ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling LocksApi.renew_project_lock"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 128
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.renew_project_lock, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling LocksApi.renew_project_lock, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling LocksApi.renew_project_lock, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'x_volcano_lock_token' is set
      if @api_client.config.client_side_validation && x_volcano_lock_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_lock_token' when calling LocksApi.renew_project_lock"
      end
      # verify the required parameter 'x_volcano_request_id' is set
      if @api_client.config.client_side_validation && x_volcano_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_volcano_request_id' when calling LocksApi.renew_project_lock"
      end
      # verify the required parameter 'project_lock_lease_request' is set
      if @api_client.config.client_side_validation && project_lock_lease_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_lock_lease_request' when calling LocksApi.renew_project_lock"
      end
      # resource path
      local_var_path = '/locks/{key}/lease'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Volcano-Lock-Token'] = x_volcano_lock_token
      header_params[:'X-Volcano-Request-Id'] = x_volcano_request_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_lock_lease_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectLockLease'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey']

      new_options = opts.merge(
        :operation => :"LocksApi.renew_project_lock",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocksApi#renew_project_lock\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
