=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class LogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get project log activity
    # Retrieve bucketed log counts for one resource type in the project. Set `resource.type` to `function`, `frontend`, or `database`. Add `resource.ids` to filter to one or more resources, and add `resource.deployments.ids` to count deployment logs instead of runtime logs for functions and frontends. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; `resource.type=database` from a FREE-plan project owner returns 403. The activity window is limited to the plan's retention window (FREE: 1 day, PRO: 30 days); older start times are clamped to that window. 
    # @param id [String] Project ID
    # @param log_activity_request [LogActivityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LogActivityResponse]
    def get_project_log_activity(id, log_activity_request, opts = {})
      data, _status_code, _headers = get_project_log_activity_with_http_info(id, log_activity_request, opts)
      data
    end

    # Get project log activity
    # Retrieve bucketed log counts for one resource type in the project. Set &#x60;resource.type&#x60; to &#x60;function&#x60;, &#x60;frontend&#x60;, or &#x60;database&#x60;. Add &#x60;resource.ids&#x60; to filter to one or more resources, and add &#x60;resource.deployments.ids&#x60; to count deployment logs instead of runtime logs for functions and frontends. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; &#x60;resource.type&#x3D;database&#x60; from a FREE-plan project owner returns 403. The activity window is limited to the plan&#39;s retention window (FREE: 1 day, PRO: 30 days); older start times are clamped to that window. 
    # @param id [String] Project ID
    # @param log_activity_request [LogActivityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogActivityResponse, Integer, Hash)>] LogActivityResponse data, response status code and response headers
    def get_project_log_activity_with_http_info(id, log_activity_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogsApi.get_project_log_activity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.get_project_log_activity"
      end
      # verify the required parameter 'log_activity_request' is set
      if @api_client.config.client_side_validation && log_activity_request.nil?
        fail ArgumentError, "Missing the required parameter 'log_activity_request' when calling LogsApi.get_project_log_activity"
      end
      # resource path
      local_var_path = '/projects/{id}/logs/activity'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_activity_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LogActivityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"LogsApi.get_project_log_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#get_project_log_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search project logs
    # Search or filter logs for one resource type in the project. Set `resource.type` to `function`, `frontend`, or `database`. Add `resource.ids` to filter to one or more resources, and add `resource.deployments.ids` to read deployment logs instead of runtime logs for functions and frontends. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; requests for `resource.type=database` from a FREE-plan project owner return 403. Log history (runtime and deployment) is limited to the plan's retention window (FREE: 1 day, PRO: 30 days); older time ranges are clamped to that window. 
    # @param id [String] Project ID
    # @param log_search_request [LogSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LogSearchResponse]
    def search_project_logs(id, log_search_request, opts = {})
      data, _status_code, _headers = search_project_logs_with_http_info(id, log_search_request, opts)
      data
    end

    # Search project logs
    # Search or filter logs for one resource type in the project. Set &#x60;resource.type&#x60; to &#x60;function&#x60;, &#x60;frontend&#x60;, or &#x60;database&#x60;. Add &#x60;resource.ids&#x60; to filter to one or more resources, and add &#x60;resource.deployments.ids&#x60; to read deployment logs instead of runtime logs for functions and frontends. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; requests for &#x60;resource.type&#x3D;database&#x60; from a FREE-plan project owner return 403. Log history (runtime and deployment) is limited to the plan&#39;s retention window (FREE: 1 day, PRO: 30 days); older time ranges are clamped to that window. 
    # @param id [String] Project ID
    # @param log_search_request [LogSearchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogSearchResponse, Integer, Hash)>] LogSearchResponse data, response status code and response headers
    def search_project_logs_with_http_info(id, log_search_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogsApi.search_project_logs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.search_project_logs"
      end
      # verify the required parameter 'log_search_request' is set
      if @api_client.config.client_side_validation && log_search_request.nil?
        fail ArgumentError, "Missing the required parameter 'log_search_request' when calling LogsApi.search_project_logs"
      end
      # resource path
      local_var_path = '/projects/{id}/logs/search'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_search_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LogSearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"LogsApi.search_project_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#search_project_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stream project logs
    # Live-tail project logs as Server-Sent Events. The request body uses the resource selector plus `q`, `start_time`, and `limit`, including runtime logs and function/frontend deployment logs selected with `resource.deployments`. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; `resource.type=database` from a FREE-plan project owner returns 403. The `q` field uses the same syntax as search and activity requests. Do not send `cursor` or `end_time`; use `/logs/search` for range backfills. Explicit historical `start_time` values are limited to the plan's retention window (FREE: 1 day, PRO: 30 days). Resume with `Last-Event-ID` or the `last_event_id` query parameter. The cursor is bound to the request body: the resource selector and every filter must match the original request when reconnecting, otherwise the request is rejected with `400`.  This is a live tail, not a gap-free backfill. On connect or reconnect the server delivers at most `limit` of the most recent matching events from the cursor position and then follows new events; events older than that window are not replayed. Use `/logs/search` to backfill a time range. 
    # @param id [String] Project ID
    # @param log_stream_request [LogStreamRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :last_event_id Opaque stream cursor from the most recent SSE &#x60;id&#x60; field.
    # @option opts [String] :last_event_id2 Opaque stream cursor fallback when setting &#x60;Last-Event-ID&#x60; is not practical.
    # @return [String]
    def stream_project_logs(id, log_stream_request, opts = {})
      data, _status_code, _headers = stream_project_logs_with_http_info(id, log_stream_request, opts)
      data
    end

    # Stream project logs
    # Live-tail project logs as Server-Sent Events. The request body uses the resource selector plus &#x60;q&#x60;, &#x60;start_time&#x60;, and &#x60;limit&#x60;, including runtime logs and function/frontend deployment logs selected with &#x60;resource.deployments&#x60;. Deployment logs are not supported for databases. Database logs are a PRO-plan feature; &#x60;resource.type&#x3D;database&#x60; from a FREE-plan project owner returns 403. The &#x60;q&#x60; field uses the same syntax as search and activity requests. Do not send &#x60;cursor&#x60; or &#x60;end_time&#x60;; use &#x60;/logs/search&#x60; for range backfills. Explicit historical &#x60;start_time&#x60; values are limited to the plan&#39;s retention window (FREE: 1 day, PRO: 30 days). Resume with &#x60;Last-Event-ID&#x60; or the &#x60;last_event_id&#x60; query parameter. The cursor is bound to the request body: the resource selector and every filter must match the original request when reconnecting, otherwise the request is rejected with &#x60;400&#x60;.  This is a live tail, not a gap-free backfill. On connect or reconnect the server delivers at most &#x60;limit&#x60; of the most recent matching events from the cursor position and then follows new events; events older than that window are not replayed. Use &#x60;/logs/search&#x60; to backfill a time range. 
    # @param id [String] Project ID
    # @param log_stream_request [LogStreamRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :last_event_id Opaque stream cursor from the most recent SSE &#x60;id&#x60; field.
    # @option opts [String] :last_event_id2 Opaque stream cursor fallback when setting &#x60;Last-Event-ID&#x60; is not practical.
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def stream_project_logs_with_http_info(id, log_stream_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LogsApi.stream_project_logs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LogsApi.stream_project_logs"
      end
      # verify the required parameter 'log_stream_request' is set
      if @api_client.config.client_side_validation && log_stream_request.nil?
        fail ArgumentError, "Missing the required parameter 'log_stream_request' when calling LogsApi.stream_project_logs"
      end
      # resource path
      local_var_path = '/projects/{id}/logs/stream'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'last_event_id'] = opts[:'last_event_id2'] if !opts[:'last_event_id2'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/event-stream', 'application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Last-Event-ID'] = opts[:'last_event_id'] if !opts[:'last_event_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_stream_request)

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"LogsApi.stream_project_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LogsApi#stream_project_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
