=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class OAuthConfigurationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create OAuth configuration
    # Configure OAuth provider (Google, GitHub, Microsoft, Apple, Device)
    # @param id [String] Project ID
    # @param create_o_auth_config_request [CreateOAuthConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OAuthConfig]
    def create_o_auth_config(id, create_o_auth_config_request, opts = {})
      data, _status_code, _headers = create_o_auth_config_with_http_info(id, create_o_auth_config_request, opts)
      data
    end

    # Create OAuth configuration
    # Configure OAuth provider (Google, GitHub, Microsoft, Apple, Device)
    # @param id [String] Project ID
    # @param create_o_auth_config_request [CreateOAuthConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OAuthConfig, Integer, Hash)>] OAuthConfig data, response status code and response headers
    def create_o_auth_config_with_http_info(id, create_o_auth_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.create_o_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.create_o_auth_config"
      end
      # verify the required parameter 'create_o_auth_config_request' is set
      if @api_client.config.client_side_validation && create_o_auth_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_o_auth_config_request' when calling OAuthConfigurationApi.create_o_auth_config"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/configs'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_o_auth_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.create_o_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#create_o_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @return [nil]
    def delete_o_auth_config(id, provider, opts = {})
      delete_o_auth_config_with_http_info(id, provider, opts)
      nil
    end

    # Delete OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_o_auth_config_with_http_info(id, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.delete_o_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.delete_o_auth_config"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthConfigurationApi.delete_o_auth_config"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple", "device"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/configs/{provider}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.delete_o_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#delete_o_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @return [OAuthConfig]
    def get_o_auth_config(id, provider, opts = {})
      data, _status_code, _headers = get_o_auth_config_with_http_info(id, provider, opts)
      data
    end

    # Get OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @return [Array<(OAuthConfig, Integer, Hash)>] OAuthConfig data, response status code and response headers
    def get_o_auth_config_with_http_info(id, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.get_o_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.get_o_auth_config"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthConfigurationApi.get_o_auth_config"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple", "device"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/configs/{provider}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.get_o_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#get_o_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available OAuth providers
    # Get list of supported OAuth providers and their default scopes
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ListAvailableOAuthProviders200Response]
    def list_available_o_auth_providers(id, opts = {})
      data, _status_code, _headers = list_available_o_auth_providers_with_http_info(id, opts)
      data
    end

    # List available OAuth providers
    # Get list of supported OAuth providers and their default scopes
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAvailableOAuthProviders200Response, Integer, Hash)>] ListAvailableOAuthProviders200Response data, response status code and response headers
    def list_available_o_auth_providers_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.list_available_o_auth_providers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.list_available_o_auth_providers"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/providers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAvailableOAuthProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.list_available_o_auth_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#list_available_o_auth_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List OAuth configurations
    # List all OAuth provider configurations for this project
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ListOAuthConfigs200Response]
    def list_o_auth_configs(id, opts = {})
      data, _status_code, _headers = list_o_auth_configs_with_http_info(id, opts)
      data
    end

    # List OAuth configurations
    # List all OAuth provider configurations for this project
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOAuthConfigs200Response, Integer, Hash)>] ListOAuthConfigs200Response data, response status code and response headers
    def list_o_auth_configs_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.list_o_auth_configs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.list_o_auth_configs"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/configs'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOAuthConfigs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.list_o_auth_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#list_o_auth_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @option opts [UpdateOAuthConfigRequest] :update_o_auth_config_request 
    # @return [OAuthConfig]
    def update_o_auth_config(id, provider, opts = {})
      data, _status_code, _headers = update_o_auth_config_with_http_info(id, provider, opts)
      data
    end

    # Update OAuth configuration
    # @param id [String] Project ID
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_id Required when &#x60;provider&#x3D;device&#x60; to select a specific device client.
    # @option opts [UpdateOAuthConfigRequest] :update_o_auth_config_request 
    # @return [Array<(OAuthConfig, Integer, Hash)>] OAuthConfig data, response status code and response headers
    def update_o_auth_config_with_http_info(id, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthConfigurationApi.update_o_auth_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OAuthConfigurationApi.update_o_auth_config"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthConfigurationApi.update_o_auth_config"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple", "device"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/oauth/configs/{provider}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client_id'] = opts[:'client_id'] if !opts[:'client_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_o_auth_config_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"OAuthConfigurationApi.update_o_auth_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthConfigurationApi#update_o_auth_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
