=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class OAuthAuthenticationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start RFC8628 device authorization
    # Starts OAuth 2.0 Device Authorization Grant (RFC 8628). Returns `device_code` for the CLI and `user_code` for browser verification.  By default the returned `verification_uri` / `verification_uri_complete` point at the project's managed device-approval page served by this API (`/projects/{projectId}/auth/hosted?action=device&user_code=...&anon_key=...`), which requires managed auth enabled and a default anon key for the project.  Projects can override this by setting `device_verification_url` on the auth config (`PATCH /auth/config`). When set, that URL is returned as-is with the `user_code` appended (no `action=device` hint and no embedded anon key — the page brings its own), so a CLI's `login` command surfaces the project's own RFC 8628 approval page. With a custom URL, device login does **not** require managed auth to be enabled; the custom page's origin must be in the project's auth CORS allowlist to call `POST /auth/device/verify`. Either way the verification page must authenticate the end user and call `POST /auth/device/verify` with the `user_code`. See the device-auth guide for both approaches. 
    # @param auth_device_authorize_request [AuthDeviceAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceAuthorizationResponse]
    def auth_device_authorize(auth_device_authorize_request, opts = {})
      data, _status_code, _headers = auth_device_authorize_with_http_info(auth_device_authorize_request, opts)
      data
    end

    # Start RFC8628 device authorization
    # Starts OAuth 2.0 Device Authorization Grant (RFC 8628). Returns &#x60;device_code&#x60; for the CLI and &#x60;user_code&#x60; for browser verification.  By default the returned &#x60;verification_uri&#x60; / &#x60;verification_uri_complete&#x60; point at the project&#39;s managed device-approval page served by this API (&#x60;/projects/{projectId}/auth/hosted?action&#x3D;device&amp;user_code&#x3D;...&amp;anon_key&#x3D;...&#x60;), which requires managed auth enabled and a default anon key for the project.  Projects can override this by setting &#x60;device_verification_url&#x60; on the auth config (&#x60;PATCH /auth/config&#x60;). When set, that URL is returned as-is with the &#x60;user_code&#x60; appended (no &#x60;action&#x3D;device&#x60; hint and no embedded anon key — the page brings its own), so a CLI&#39;s &#x60;login&#x60; command surfaces the project&#39;s own RFC 8628 approval page. With a custom URL, device login does **not** require managed auth to be enabled; the custom page&#39;s origin must be in the project&#39;s auth CORS allowlist to call &#x60;POST /auth/device/verify&#x60;. Either way the verification page must authenticate the end user and call &#x60;POST /auth/device/verify&#x60; with the &#x60;user_code&#x60;. See the device-auth guide for both approaches. 
    # @param auth_device_authorize_request [AuthDeviceAuthorizeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceAuthorizationResponse, Integer, Hash)>] DeviceAuthorizationResponse data, response status code and response headers
    def auth_device_authorize_with_http_info(auth_device_authorize_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_device_authorize ...'
      end
      # verify the required parameter 'auth_device_authorize_request' is set
      if @api_client.config.client_side_validation && auth_device_authorize_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_device_authorize_request' when calling OAuthAuthenticationApi.auth_device_authorize"
      end
      # resource path
      local_var_path = '/auth/device/authorize'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_device_authorize_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceAuthorizationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_device_authorize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_device_authorize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Poll device token endpoint
    # RFC8628 token polling endpoint. Returns OAuth errors such as `authorization_pending`, `slow_down`, `access_denied`, and `expired_token`. 
    # @param auth_device_token_request [AuthDeviceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def auth_device_token(auth_device_token_request, opts = {})
      data, _status_code, _headers = auth_device_token_with_http_info(auth_device_token_request, opts)
      data
    end

    # Poll device token endpoint
    # RFC8628 token polling endpoint. Returns OAuth errors such as &#x60;authorization_pending&#x60;, &#x60;slow_down&#x60;, &#x60;access_denied&#x60;, and &#x60;expired_token&#x60;. 
    # @param auth_device_token_request [AuthDeviceTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_device_token_with_http_info(auth_device_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_device_token ...'
      end
      # verify the required parameter 'auth_device_token_request' is set
      if @api_client.config.client_side_validation && auth_device_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_device_token_request' when calling OAuthAuthenticationApi.auth_device_token"
      end
      # resource path
      local_var_path = '/auth/device/token'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_device_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_device_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_device_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve or deny a device code
    # Browser-side endpoint for authenticated auth-users to approve (`approve`) or deny (`deny`) a `user_code`.  Called by the verification page after the end user signs in. The grant is scoped to the project the auth-user token belongs to: approving a `user_code` issued for a different project returns `403`. This endpoint does not require managed auth to be enabled, so a custom verification page (hosted anywhere) can drive approval — it just needs an authenticated project auth-user access token and, for cross-origin browser calls, the page origin allowed in the project's auth CORS settings. 
    # @param auth_device_verify_request [AuthDeviceVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthDeviceVerify200Response]
    def auth_device_verify(auth_device_verify_request, opts = {})
      data, _status_code, _headers = auth_device_verify_with_http_info(auth_device_verify_request, opts)
      data
    end

    # Approve or deny a device code
    # Browser-side endpoint for authenticated auth-users to approve (&#x60;approve&#x60;) or deny (&#x60;deny&#x60;) a &#x60;user_code&#x60;.  Called by the verification page after the end user signs in. The grant is scoped to the project the auth-user token belongs to: approving a &#x60;user_code&#x60; issued for a different project returns &#x60;403&#x60;. This endpoint does not require managed auth to be enabled, so a custom verification page (hosted anywhere) can drive approval — it just needs an authenticated project auth-user access token and, for cross-origin browser calls, the page origin allowed in the project&#39;s auth CORS settings. 
    # @param auth_device_verify_request [AuthDeviceVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthDeviceVerify200Response, Integer, Hash)>] AuthDeviceVerify200Response data, response status code and response headers
    def auth_device_verify_with_http_info(auth_device_verify_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_device_verify ...'
      end
      # verify the required parameter 'auth_device_verify_request' is set
      if @api_client.config.client_side_validation && auth_device_verify_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_device_verify_request' when calling OAuthAuthenticationApi.auth_device_verify"
      end
      # resource path
      local_var_path = '/auth/device/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_device_verify_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthDeviceVerify200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_device_verify",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_device_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link OAuth provider to current user
    # Generates authorization URL to link OAuth provider to existing account. User must be authenticated. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url URL to redirect to after linking completes (optional). Same allowed_redirect_urls requirement as GET /auth/oauth/{provider}/authorize. 
    # @option opts [String] :client_state Optional application nonce echoed to redirect_url as &#x60;state&#x60;. 
    # @option opts [String] :response_mode Set to &#x60;code&#x60; to receive a short-lived authorization code at redirect_url. &#x60;redirect_url&#x60; is required in this mode. When omitted, the established session-fragment response is retained for compatibility with existing clients. 
    # @return [AuthLinkOAuthProvider200Response]
    def auth_link_o_auth_provider(provider, opts = {})
      data, _status_code, _headers = auth_link_o_auth_provider_with_http_info(provider, opts)
      data
    end

    # Link OAuth provider to current user
    # Generates authorization URL to link OAuth provider to existing account. User must be authenticated. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url URL to redirect to after linking completes (optional). Same allowed_redirect_urls requirement as GET /auth/oauth/{provider}/authorize. 
    # @option opts [String] :client_state Optional application nonce echoed to redirect_url as &#x60;state&#x60;. 
    # @option opts [String] :response_mode Set to &#x60;code&#x60; to receive a short-lived authorization code at redirect_url. &#x60;redirect_url&#x60; is required in this mode. When omitted, the established session-fragment response is retained for compatibility with existing clients. 
    # @return [Array<(AuthLinkOAuthProvider200Response, Integer, Hash)>] AuthLinkOAuthProvider200Response data, response status code and response headers
    def auth_link_o_auth_provider_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_link_o_auth_provider ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.auth_link_o_auth_provider"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'client_state'].nil? && opts[:'client_state'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"client_state"]" when calling OAuthAuthenticationApi.auth_link_o_auth_provider, the character length must be smaller than or equal to 255.'
      end

      allowable_values = ["code"]
      if @api_client.config.client_side_validation && opts[:'response_mode'] && !allowable_values.include?(opts[:'response_mode'])
        fail ArgumentError, "invalid value for \"response_mode\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/link'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?
      query_params[:'client_state'] = opts[:'client_state'] if !opts[:'client_state'].nil?
      query_params[:'response_mode'] = opts[:'response_mode'] if !opts[:'response_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthLinkOAuthProvider200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_link_o_auth_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_link_o_auth_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List user's linked providers
    # Get list of OAuth providers linked to current user
    # @param [Hash] opts the optional parameters
    # @return [AuthListOAuthProviders200Response]
    def auth_list_o_auth_providers(opts = {})
      data, _status_code, _headers = auth_list_o_auth_providers_with_http_info(opts)
      data
    end

    # List user&#39;s linked providers
    # Get list of OAuth providers linked to current user
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthListOAuthProviders200Response, Integer, Hash)>] AuthListOAuthProviders200Response data, response status code and response headers
    def auth_list_o_auth_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_list_o_auth_providers ...'
      end
      # resource path
      local_var_path = '/auth/oauth/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthListOAuthProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_list_o_auth_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_list_o_auth_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start OAuth authorization
    # Redirects user to OAuth provider for authorization. Handles CSRF protection with state parameter. Project is identified via the anon_key query parameter. 
    # @param provider [String] 
    # @param anon_key [String] Project anon key (required - identifies the project)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url URL to redirect to after the OAuth flow (optional). Must exactly match an entry in the project&#39;s &#x60;allowed_redirect_urls&#x60;, including its query string, or be the project&#39;s own managed hosted-auth page URL. 
    # @option opts [String] :client_state Optional application nonce. It is stored with the server-generated provider state and echoed to redirect_url as &#x60;state&#x60;. 
    # @option opts [String] :response_mode Set to &#x60;code&#x60; to receive a short-lived authorization code at redirect_url, then use POST /auth/oauth/exchange to obtain the session. &#x60;redirect_url&#x60; is required in this mode. When omitted, the established session-fragment response is retained for compatibility with existing clients. 
    # @return [nil]
    def auth_o_auth_authorize(provider, anon_key, opts = {})
      auth_o_auth_authorize_with_http_info(provider, anon_key, opts)
      nil
    end

    # Start OAuth authorization
    # Redirects user to OAuth provider for authorization. Handles CSRF protection with state parameter. Project is identified via the anon_key query parameter. 
    # @param provider [String] 
    # @param anon_key [String] Project anon key (required - identifies the project)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url URL to redirect to after the OAuth flow (optional). Must exactly match an entry in the project&#39;s &#x60;allowed_redirect_urls&#x60;, including its query string, or be the project&#39;s own managed hosted-auth page URL. 
    # @option opts [String] :client_state Optional application nonce. It is stored with the server-generated provider state and echoed to redirect_url as &#x60;state&#x60;. 
    # @option opts [String] :response_mode Set to &#x60;code&#x60; to receive a short-lived authorization code at redirect_url, then use POST /auth/oauth/exchange to obtain the session. &#x60;redirect_url&#x60; is required in this mode. When omitted, the established session-fragment response is retained for compatibility with existing clients. 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_o_auth_authorize_with_http_info(provider, anon_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_o_auth_authorize ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.auth_o_auth_authorize"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'anon_key' is set
      if @api_client.config.client_side_validation && anon_key.nil?
        fail ArgumentError, "Missing the required parameter 'anon_key' when calling OAuthAuthenticationApi.auth_o_auth_authorize"
      end
      if @api_client.config.client_side_validation && !opts[:'client_state'].nil? && opts[:'client_state'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"client_state"]" when calling OAuthAuthenticationApi.auth_o_auth_authorize, the character length must be smaller than or equal to 255.'
      end

      allowable_values = ["code"]
      if @api_client.config.client_side_validation && opts[:'response_mode'] && !allowable_values.include?(opts[:'response_mode'])
        fail ArgumentError, "invalid value for \"response_mode\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/authorize'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'anon_key'] = anon_key
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?
      query_params[:'client_state'] = opts[:'client_state'] if !opts[:'client_state'].nil?
      query_params[:'response_mode'] = opts[:'response_mode'] if !opts[:'response_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_o_auth_authorize",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_o_auth_authorize\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth callback handler
    # Handles OAuth provider callback with authorization code. Exchanges code for tokens and creates/signs in user. 
    # @param provider [String] 
    # @param code [String] 
    # @param state [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :error 
    # @return [AuthTokenResponse]
    def auth_o_auth_callback(provider, code, state, opts = {})
      data, _status_code, _headers = auth_o_auth_callback_with_http_info(provider, code, state, opts)
      data
    end

    # OAuth callback handler
    # Handles OAuth provider callback with authorization code. Exchanges code for tokens and creates/signs in user. 
    # @param provider [String] 
    # @param code [String] 
    # @param state [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :error 
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_o_auth_callback_with_http_info(provider, code, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_o_auth_callback ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.auth_o_auth_callback"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling OAuthAuthenticationApi.auth_o_auth_callback"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling OAuthAuthenticationApi.auth_o_auth_callback"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/callback'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = code
      query_params[:'state'] = state
      query_params[:'error'] = opts[:'error'] if !opts[:'error'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_o_auth_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_o_auth_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange OAuth authorization code
    # Atomically consumes a short-lived callback code and returns the user's session. The request must use the same project anon key and exact redirect_url that initiated the flow. 
    # @param auth_o_auth_exchange_request [AuthOAuthExchangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthTokenResponse]
    def auth_o_auth_exchange(auth_o_auth_exchange_request, opts = {})
      data, _status_code, _headers = auth_o_auth_exchange_with_http_info(auth_o_auth_exchange_request, opts)
      data
    end

    # Exchange OAuth authorization code
    # Atomically consumes a short-lived callback code and returns the user&#39;s session. The request must use the same project anon key and exact redirect_url that initiated the flow. 
    # @param auth_o_auth_exchange_request [AuthOAuthExchangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthTokenResponse, Integer, Hash)>] AuthTokenResponse data, response status code and response headers
    def auth_o_auth_exchange_with_http_info(auth_o_auth_exchange_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_o_auth_exchange ...'
      end
      # verify the required parameter 'auth_o_auth_exchange_request' is set
      if @api_client.config.client_side_validation && auth_o_auth_exchange_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_o_auth_exchange_request' when calling OAuthAuthenticationApi.auth_o_auth_exchange"
      end
      # resource path
      local_var_path = '/auth/oauth/exchange'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_o_auth_exchange_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AnonKey']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_o_auth_exchange",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_o_auth_exchange\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange auth-user device session for platform token
    # Exchanges a verified auth-user device-flow session into a platform token for CLI usage. The target platform user is derived from authenticated auth-user mapping; client cannot select another user. 
    # @param auth_platform_exchange_request [AuthPlatformExchangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PlatformExchangeResponse]
    def auth_platform_exchange(auth_platform_exchange_request, opts = {})
      data, _status_code, _headers = auth_platform_exchange_with_http_info(auth_platform_exchange_request, opts)
      data
    end

    # Exchange auth-user device session for platform token
    # Exchanges a verified auth-user device-flow session into a platform token for CLI usage. The target platform user is derived from authenticated auth-user mapping; client cannot select another user. 
    # @param auth_platform_exchange_request [AuthPlatformExchangeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PlatformExchangeResponse, Integer, Hash)>] PlatformExchangeResponse data, response status code and response headers
    def auth_platform_exchange_with_http_info(auth_platform_exchange_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_platform_exchange ...'
      end
      # verify the required parameter 'auth_platform_exchange_request' is set
      if @api_client.config.client_side_validation && auth_platform_exchange_request.nil?
        fail ArgumentError, "Missing the required parameter 'auth_platform_exchange_request' when calling OAuthAuthenticationApi.auth_platform_exchange"
      end
      # resource path
      local_var_path = '/auth/platform/exchange'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auth_platform_exchange_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PlatformExchangeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_platform_exchange",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_platform_exchange\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unlink OAuth provider
    # Remove OAuth provider from user's account. Cannot unlink if it's the only authentication method. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def auth_unlink_o_auth_provider(provider, opts = {})
      auth_unlink_o_auth_provider_with_http_info(provider, opts)
      nil
    end

    # Unlink OAuth provider
    # Remove OAuth provider from user&#39;s account. Cannot unlink if it&#39;s the only authentication method. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def auth_unlink_o_auth_provider_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.auth_unlink_o_auth_provider ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.auth_unlink_o_auth_provider"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/unlink'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.auth_unlink_o_auth_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#auth_unlink_o_auth_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Call OAuth provider API
    # Make an authenticated request to an OAuth provider's API on behalf of the user. The user's stored access token is automatically used and refreshed if needed.  The request is always sent to the provider's fixed API base URL joined with the caller-supplied `endpoint`. `endpoint` must be a relative path beginning with `/` (optionally with a query string); it cannot change the target host. Absolute URLs, protocol-relative `//host` values, or userinfo (`@host`) are rejected with `400` so the request can never be redirected to another host.  Examples of `endpoint`: - Google userinfo: `/oauth2/v1/userinfo` - GitHub repositories: `/user/repos` - Microsoft Graph profile: `/me`  The response wraps the provider's raw JSON value with request metadata. An empty provider body is represented as `data: null`; the envelope preserves the provider's HTTP status in `status_code`, including errors. Provider response bodies are limited to 8 MiB after decompression. Transport failures, invalid JSON (including invalid UTF-8), and oversized bodies return `502`. Provider redirects to another origin are blocked and return `400`. 
    # @param provider [String] 
    # @param call_o_auth_provider_api_request [CallOAuthProviderAPIRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CallOAuthProviderAPI200Response]
    def call_o_auth_provider_api(provider, call_o_auth_provider_api_request, opts = {})
      data, _status_code, _headers = call_o_auth_provider_api_with_http_info(provider, call_o_auth_provider_api_request, opts)
      data
    end

    # Call OAuth provider API
    # Make an authenticated request to an OAuth provider&#39;s API on behalf of the user. The user&#39;s stored access token is automatically used and refreshed if needed.  The request is always sent to the provider&#39;s fixed API base URL joined with the caller-supplied &#x60;endpoint&#x60;. &#x60;endpoint&#x60; must be a relative path beginning with &#x60;/&#x60; (optionally with a query string); it cannot change the target host. Absolute URLs, protocol-relative &#x60;//host&#x60; values, or userinfo (&#x60;@host&#x60;) are rejected with &#x60;400&#x60; so the request can never be redirected to another host.  Examples of &#x60;endpoint&#x60;: - Google userinfo: &#x60;/oauth2/v1/userinfo&#x60; - GitHub repositories: &#x60;/user/repos&#x60; - Microsoft Graph profile: &#x60;/me&#x60;  The response wraps the provider&#39;s raw JSON value with request metadata. An empty provider body is represented as &#x60;data: null&#x60;; the envelope preserves the provider&#39;s HTTP status in &#x60;status_code&#x60;, including errors. Provider response bodies are limited to 8 MiB after decompression. Transport failures, invalid JSON (including invalid UTF-8), and oversized bodies return &#x60;502&#x60;. Provider redirects to another origin are blocked and return &#x60;400&#x60;. 
    # @param provider [String] 
    # @param call_o_auth_provider_api_request [CallOAuthProviderAPIRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CallOAuthProviderAPI200Response, Integer, Hash)>] CallOAuthProviderAPI200Response data, response status code and response headers
    def call_o_auth_provider_api_with_http_info(provider, call_o_auth_provider_api_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.call_o_auth_provider_api ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.call_o_auth_provider_api"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'call_o_auth_provider_api_request' is set
      if @api_client.config.client_side_validation && call_o_auth_provider_api_request.nil?
        fail ArgumentError, "Missing the required parameter 'call_o_auth_provider_api_request' when calling OAuthAuthenticationApi.call_o_auth_provider_api"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/call-api'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(call_o_auth_provider_api_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CallOAuthProviderAPI200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.call_o_auth_provider_api",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#call_o_auth_provider_api\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current provider access token
    # Get valid access token for OAuth provider. Automatically refreshes if expired. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [RefreshOAuthProviderToken200Response]
    def get_o_auth_provider_token(provider, opts = {})
      data, _status_code, _headers = get_o_auth_provider_token_with_http_info(provider, opts)
      data
    end

    # Get current provider access token
    # Get valid access token for OAuth provider. Automatically refreshes if expired. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefreshOAuthProviderToken200Response, Integer, Hash)>] RefreshOAuthProviderToken200Response data, response status code and response headers
    def get_o_auth_provider_token_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.get_o_auth_provider_token ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.get_o_auth_provider_token"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/token'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefreshOAuthProviderToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.get_o_auth_provider_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#get_o_auth_provider_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh OAuth provider token
    # Refresh the access token for an OAuth provider using its refresh token. Allows calling provider APIs on user's behalf (e.g., Google Drive, GitHub repos). 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [RefreshOAuthProviderToken200Response]
    def refresh_o_auth_provider_token(provider, opts = {})
      data, _status_code, _headers = refresh_o_auth_provider_token_with_http_info(provider, opts)
      data
    end

    # Refresh OAuth provider token
    # Refresh the access token for an OAuth provider using its refresh token. Allows calling provider APIs on user&#39;s behalf (e.g., Google Drive, GitHub repos). 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefreshOAuthProviderToken200Response, Integer, Hash)>] RefreshOAuthProviderToken200Response data, response status code and response headers
    def refresh_o_auth_provider_token_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthAuthenticationApi.refresh_o_auth_provider_token ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling OAuthAuthenticationApi.refresh_o_auth_provider_token"
      end
      # verify enum value
      allowable_values = ["google", "github", "microsoft", "apple"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/auth/oauth/{provider}/refresh-token'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RefreshOAuthProviderToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"OAuthAuthenticationApi.refresh_o_auth_provider_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthAuthenticationApi#refresh_o_auth_provider_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
