=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class ProjectImportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Complete a project import provider connection
    # Public provider callback protected by signed state and the browser-binding cookie created by startImportConnect. 
    # @param provider [ImportProvider] 
    # @param state [String] Signed connect state generated by startImportConnect.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Provider authorization code.
    # @option opts [String] :error Provider error category.
    # @option opts [String] :team_id Vercel team selected during installation.
    # @option opts [String] :configuration_id Vercel Integration configuration identifier.
    # @option opts [String] :_next Provider completion URL validated by the provider adapter.
    # @option opts [String] :source Vercel installation source indicator.
    # @return [nil]
    def complete_import_connect(provider, state, opts = {})
      complete_import_connect_with_http_info(provider, state, opts)
      nil
    end

    # Complete a project import provider connection
    # Public provider callback protected by signed state and the browser-binding cookie created by startImportConnect. 
    # @param provider [ImportProvider] 
    # @param state [String] Signed connect state generated by startImportConnect.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Provider authorization code.
    # @option opts [String] :error Provider error category.
    # @option opts [String] :team_id Vercel team selected during installation.
    # @option opts [String] :configuration_id Vercel Integration configuration identifier.
    # @option opts [String] :_next Provider completion URL validated by the provider adapter.
    # @option opts [String] :source Vercel installation source indicator.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def complete_import_connect_with_http_info(provider, state, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.complete_import_connect ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectImportsApi.complete_import_connect"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling ProjectImportsApi.complete_import_connect"
      end
      # resource path
      local_var_path = '/imports/{provider}/callback'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'state'] = state
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'error'] = opts[:'error'] if !opts[:'error'].nil?
      query_params[:'teamId'] = opts[:'team_id'] if !opts[:'team_id'].nil?
      query_params[:'configurationId'] = opts[:'configuration_id'] if !opts[:'configuration_id'].nil?
      query_params[:'next'] = opts[:'_next'] if !opts[:'_next'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.complete_import_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#complete_import_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a project import provider connection
    # @param connection_id [String] Connection ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_import_connection(connection_id, opts = {})
      delete_import_connection_with_http_info(connection_id, opts)
      nil
    end

    # Delete a project import provider connection
    # @param connection_id [String] Connection ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_import_connection_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.delete_import_connection ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ProjectImportsApi.delete_import_connection"
      end
      # resource path
      local_var_path = '/user/imports/connections/{connectionId}'.sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.delete_import_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#delete_import_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project import run
    # @param provider [ImportProvider] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectImportRun]
    def get_project_import_run(provider, run_id, opts = {})
      data, _status_code, _headers = get_project_import_run_with_http_info(provider, run_id, opts)
      data
    end

    # Get a project import run
    # @param provider [ImportProvider] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectImportRun, Integer, Hash)>] ProjectImportRun data, response status code and response headers
    def get_project_import_run_with_http_info(provider, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.get_project_import_run ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectImportsApi.get_project_import_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling ProjectImportsApi.get_project_import_run"
      end
      # resource path
      local_var_path = '/imports/{provider}/runs/{runId}'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s)).sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectImportRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.get_project_import_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#get_project_import_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project import provider connections
    # @param [Hash] opts the optional parameters
    # @return [ImportConnectionsResponse]
    def list_import_connections(opts = {})
      data, _status_code, _headers = list_import_connections_with_http_info(opts)
      data
    end

    # List project import provider connections
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportConnectionsResponse, Integer, Hash)>] ImportConnectionsResponse data, response status code and response headers
    def list_import_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.list_import_connections ...'
      end
      # resource path
      local_var_path = '/user/imports/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportConnectionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.list_import_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#list_import_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project sources available from a provider connection
    # Lists provider projects without changing provider or Volcano resources.
    # @param provider [ImportProvider] 
    # @param connection_id [String] Owned provider connection used for discovery.
    # @param [Hash] opts the optional parameters
    # @return [ImportSourcesResponse]
    def list_import_sources(provider, connection_id, opts = {})
      data, _status_code, _headers = list_import_sources_with_http_info(provider, connection_id, opts)
      data
    end

    # List project sources available from a provider connection
    # Lists provider projects without changing provider or Volcano resources.
    # @param provider [ImportProvider] 
    # @param connection_id [String] Owned provider connection used for discovery.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportSourcesResponse, Integer, Hash)>] ImportSourcesResponse data, response status code and response headers
    def list_import_sources_with_http_info(provider, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.list_import_sources ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectImportsApi.list_import_sources"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ProjectImportsApi.list_import_sources"
      end
      # resource path
      local_var_path = '/imports/{provider}/sources'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connection_id'] = connection_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportSourcesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.list_import_sources",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#list_import_sources\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check whether a provider project is ready to import
    # Produces a deterministic read-only readiness report for a proposed new Volcano project.
    # @param provider [ImportProvider] 
    # @param project_import_preflight_request [ProjectImportPreflightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectImportReport]
    def preflight_project_import(provider, project_import_preflight_request, opts = {})
      data, _status_code, _headers = preflight_project_import_with_http_info(provider, project_import_preflight_request, opts)
      data
    end

    # Check whether a provider project is ready to import
    # Produces a deterministic read-only readiness report for a proposed new Volcano project.
    # @param provider [ImportProvider] 
    # @param project_import_preflight_request [ProjectImportPreflightRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectImportReport, Integer, Hash)>] ProjectImportReport data, response status code and response headers
    def preflight_project_import_with_http_info(provider, project_import_preflight_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.preflight_project_import ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectImportsApi.preflight_project_import"
      end
      # verify the required parameter 'project_import_preflight_request' is set
      if @api_client.config.client_side_validation && project_import_preflight_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_import_preflight_request' when calling ProjectImportsApi.preflight_project_import"
      end
      # resource path
      local_var_path = '/imports/{provider}/preflight'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_import_preflight_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectImportReport'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.preflight_project_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#preflight_project_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a project import provider connection
    # Starts a first-party dashboard user's provider connection flow. The response sets a short-lived HttpOnly browser-binding cookie for the public provider callback. 
    # @param [Hash] opts the optional parameters
    # @option opts [ImportProvider] :provider Import provider to connect. Defaults to Vercel. (default to 'vercel')
    # @option opts [String] :redirect Validated application URL used after the provider callback.
    # @return [ImportConnectStartResponse]
    def start_import_connect(opts = {})
      data, _status_code, _headers = start_import_connect_with_http_info(opts)
      data
    end

    # Start a project import provider connection
    # Starts a first-party dashboard user&#39;s provider connection flow. The response sets a short-lived HttpOnly browser-binding cookie for the public provider callback. 
    # @param [Hash] opts the optional parameters
    # @option opts [ImportProvider] :provider Import provider to connect. Defaults to Vercel. (default to 'vercel')
    # @option opts [String] :redirect Validated application URL used after the provider callback.
    # @return [Array<(ImportConnectStartResponse, Integer, Hash)>] ImportConnectStartResponse data, response status code and response headers
    def start_import_connect_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.start_import_connect ...'
      end
      pattern = Regexp.new(/^https:\/\/[^\/?#]+(?:[\/?][^#]*)?$|^http:\/\/(?:localhost|127\.0\.0\.1|\[::1\])(?::[0-9]+)?(?:[\/?][^#]*)?$/)
      if @api_client.config.client_side_validation && !opts[:'redirect'].nil? && opts[:'redirect'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"redirect\"]' when calling ProjectImportsApi.start_import_connect, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/user/imports/connect'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'redirect'] = opts[:'redirect'] if !opts[:'redirect'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ImportConnectStartResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.start_import_connect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#start_import_connect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a Vercel project import
    # Creates a Volcano project from an importable production preflight report. Retrying the same request with the same Idempotency-Key returns the existing run.
    # @param provider [ImportProvider] 
    # @param idempotency_key [String] 
    # @param project_import_start_request [ProjectImportStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectImportRun]
    def start_project_import(provider, idempotency_key, project_import_start_request, opts = {})
      data, _status_code, _headers = start_project_import_with_http_info(provider, idempotency_key, project_import_start_request, opts)
      data
    end

    # Start a Vercel project import
    # Creates a Volcano project from an importable production preflight report. Retrying the same request with the same Idempotency-Key returns the existing run.
    # @param provider [ImportProvider] 
    # @param idempotency_key [String] 
    # @param project_import_start_request [ProjectImportStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectImportRun, Integer, Hash)>] ProjectImportRun data, response status code and response headers
    def start_project_import_with_http_info(provider, idempotency_key, project_import_start_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectImportsApi.start_project_import ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectImportsApi.start_project_import"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling ProjectImportsApi.start_project_import"
      end
      if @api_client.config.client_side_validation && idempotency_key.to_s.length > 255
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectImportsApi.start_project_import, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && idempotency_key.to_s.length < 1
        fail ArgumentError, 'invalid value for "idempotency_key" when calling ProjectImportsApi.start_project_import, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[!-~]+$/)
      if @api_client.config.client_side_validation && idempotency_key !~ pattern
        fail ArgumentError, "invalid value for 'idempotency_key' when calling ProjectImportsApi.start_project_import, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'project_import_start_request' is set
      if @api_client.config.client_side_validation && project_import_start_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_import_start_request' when calling ProjectImportsApi.start_project_import"
      end
      # resource path
      local_var_path = '/imports/{provider}/runs'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_import_start_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectImportRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"ProjectImportsApi.start_project_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectImportsApi#start_project_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
