=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class ProjectAccessTokensApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a project access token
    # Creates a project access token and returns its secret.  The secret is in this response and nowhere else. Only its hash is stored, so it cannot be retrieved, displayed, or recovered later — save it when you create it.  The name must be unique within the project, so a retry cannot mint a second credential. It cannot recover the first one either. A retry that returns `409` with code `access_token_name_exists` means the original create committed and its secret is unrecoverable: list the project's tokens, revoke the one holding that name, and create it again.  Requires a platform token. 
    # @param id [String] Project ID
    # @param create_project_access_token_request [CreateProjectAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatedProjectAccessToken]
    def create_project_access_token(id, create_project_access_token_request, opts = {})
      data, _status_code, _headers = create_project_access_token_with_http_info(id, create_project_access_token_request, opts)
      data
    end

    # Create a project access token
    # Creates a project access token and returns its secret.  The secret is in this response and nowhere else. Only its hash is stored, so it cannot be retrieved, displayed, or recovered later — save it when you create it.  The name must be unique within the project, so a retry cannot mint a second credential. It cannot recover the first one either. A retry that returns &#x60;409&#x60; with code &#x60;access_token_name_exists&#x60; means the original create committed and its secret is unrecoverable: list the project&#39;s tokens, revoke the one holding that name, and create it again.  Requires a platform token. 
    # @param id [String] Project ID
    # @param create_project_access_token_request [CreateProjectAccessTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatedProjectAccessToken, Integer, Hash)>] CreatedProjectAccessToken data, response status code and response headers
    def create_project_access_token_with_http_info(id, create_project_access_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.create_project_access_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.create_project_access_token"
      end
      # verify the required parameter 'create_project_access_token_request' is set
      if @api_client.config.client_side_validation && create_project_access_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_access_token_request' when calling ProjectAccessTokensApi.create_project_access_token"
      end
      # resource path
      local_var_path = '/projects/{id}/access-tokens'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_access_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatedProjectAccessToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.create_project_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#create_project_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a project access token
    # Returns one token's metadata. Never its secret, which is not stored in a recoverable form.  Requires a platform token. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @return [ProjectAccessToken]
    def get_project_access_token(id, token_id, opts = {})
      data, _status_code, _headers = get_project_access_token_with_http_info(id, token_id, opts)
      data
    end

    # Get a project access token
    # Returns one token&#39;s metadata. Never its secret, which is not stored in a recoverable form.  Requires a platform token. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectAccessToken, Integer, Hash)>] ProjectAccessToken data, response status code and response headers
    def get_project_access_token_with_http_info(id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.get_project_access_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.get_project_access_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling ProjectAccessTokensApi.get_project_access_token"
      end
      # resource path
      local_var_path = '/projects/{id}/access-tokens/{tokenId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'tokenId' + '}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectAccessToken'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.get_project_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#get_project_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-day request counts for one access token
    # Returns a zero-filled daily series of request counts for a single token, oldest first, so the response always has exactly `days` entries.  `days` defaults to 30 and is capped at 60, matching how long per-day counts are retained.  A project access token may read only its own usage; asking for another token's returns `403`. A platform token may read any token in the project. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of trailing days to return (1-60, default 30). (default to 30)
    # @return [ProjectAccessTokenUsage]
    def get_project_access_token_usage(id, token_id, opts = {})
      data, _status_code, _headers = get_project_access_token_usage_with_http_info(id, token_id, opts)
      data
    end

    # Per-day request counts for one access token
    # Returns a zero-filled daily series of request counts for a single token, oldest first, so the response always has exactly &#x60;days&#x60; entries.  &#x60;days&#x60; defaults to 30 and is capped at 60, matching how long per-day counts are retained.  A project access token may read only its own usage; asking for another token&#39;s returns &#x60;403&#x60;. A platform token may read any token in the project. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of trailing days to return (1-60, default 30). (default to 30)
    # @return [Array<(ProjectAccessTokenUsage, Integer, Hash)>] ProjectAccessTokenUsage data, response status code and response headers
    def get_project_access_token_usage_with_http_info(id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.get_project_access_token_usage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.get_project_access_token_usage"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling ProjectAccessTokensApi.get_project_access_token_usage"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 60
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling ProjectAccessTokensApi.get_project_access_token_usage, must be smaller than or equal to 60.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling ProjectAccessTokensApi.get_project_access_token_usage, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/access-tokens/{tokenId}/usage'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'tokenId' + '}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectAccessTokenUsage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.get_project_access_token_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#get_project_access_token_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a project's access tokens
    # Lists the project's access tokens, newest first. Secrets are never returned: only a hash is stored, so a token's value exists solely in the response to the create call.  Only tokens that can still authenticate are returned by default, so revoked and expired ones are hidden. Pass `include_revoked=true` to see them, which is how you find out what a key did before it stopped working.  Requires a platform token. A project access token cannot manage project access tokens, so a leaked credential cannot enumerate or replace itself. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [Boolean] :include_revoked Include tokens that can no longer authenticate — both revoked and expired ones.  (default to false)
    # @return [PaginatedProjectAccessTokens]
    def list_project_access_tokens(id, opts = {})
      data, _status_code, _headers = list_project_access_tokens_with_http_info(id, opts)
      data
    end

    # List a project&#39;s access tokens
    # Lists the project&#39;s access tokens, newest first. Secrets are never returned: only a hash is stored, so a token&#39;s value exists solely in the response to the create call.  Only tokens that can still authenticate are returned by default, so revoked and expired ones are hidden. Pass &#x60;include_revoked&#x3D;true&#x60; to see them, which is how you find out what a key did before it stopped working.  Requires a platform token. A project access token cannot manage project access tokens, so a leaked credential cannot enumerate or replace itself. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-indexed) for offset pagination. Declares no schema default so the request validator does not inject one: handlers that omit &#x60;page&#x60; see it unset (nil) and default to 1 in code, while cursor-first endpoints (e.g. the project deployments feed) can detect its absence to stay in keyset/search mode. Supplying &#x60;page&#x60; selects offset pagination. 
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @option opts [Boolean] :include_revoked Include tokens that can no longer authenticate — both revoked and expired ones.  (default to false)
    # @return [Array<(PaginatedProjectAccessTokens, Integer, Hash)>] PaginatedProjectAccessTokens data, response status code and response headers
    def list_project_access_tokens_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.list_project_access_tokens ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.list_project_access_tokens"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ProjectAccessTokensApi.list_project_access_tokens, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectAccessTokensApi.list_project_access_tokens, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProjectAccessTokensApi.list_project_access_tokens, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ProjectAccessTokensApi.list_project_access_tokens, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/access-tokens'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'include_revoked'] = opts[:'include_revoked'] if !opts[:'include_revoked'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedProjectAccessTokens'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.list_project_access_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#list_project_access_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Per-day request counts for every access token in a project
    # Returns a zero-filled daily series of request counts for each of the project's access tokens, oldest first. Every day in the window is present, so a gap reads as zero rather than missing.  Revoked tokens are included, because the traffic they made before revocation is usually the reason you are looking.  `days` defaults to 30 and is capped at 60, which is also how long per-day counts are retained — a longer window cannot be answered.  A platform token sees every token in the project. A project access token sees only its own row, so it can watch its own traffic without being able to enumerate the project's other credentials by name. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of trailing days to return (1-60, default 30). (default to 30)
    # @return [Array<ProjectAccessTokenUsage>]
    def list_project_access_tokens_usage(id, opts = {})
      data, _status_code, _headers = list_project_access_tokens_usage_with_http_info(id, opts)
      data
    end

    # Per-day request counts for every access token in a project
    # Returns a zero-filled daily series of request counts for each of the project&#39;s access tokens, oldest first. Every day in the window is present, so a gap reads as zero rather than missing.  Revoked tokens are included, because the traffic they made before revocation is usually the reason you are looking.  &#x60;days&#x60; defaults to 30 and is capped at 60, which is also how long per-day counts are retained — a longer window cannot be answered.  A platform token sees every token in the project. A project access token sees only its own row, so it can watch its own traffic without being able to enumerate the project&#39;s other credentials by name. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of trailing days to return (1-60, default 30). (default to 30)
    # @return [Array<(Array<ProjectAccessTokenUsage>, Integer, Hash)>] Array<ProjectAccessTokenUsage> data, response status code and response headers
    def list_project_access_tokens_usage_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.list_project_access_tokens_usage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.list_project_access_tokens_usage"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 60
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling ProjectAccessTokensApi.list_project_access_tokens_usage, must be smaller than or equal to 60.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling ProjectAccessTokensApi.list_project_access_tokens_usage, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/access-tokens/usage'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ProjectAccessTokenUsage>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.list_project_access_tokens_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#list_project_access_tokens_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a project access token
    # Revokes the token. It stops authenticating immediately in the region handling this call and within seconds across Volcano's other regions.  The record is kept rather than deleted, so the token's name, prefix, last use, and request history stay available — which is what you need if you are revoking because a secret leaked. Revoking an already-revoked token succeeds.  Revoking does not undo anything the token already did. Treat whatever it could reach as exposed and rotate accordingly.  Requires a platform token. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_project_access_token(id, token_id, opts = {})
      revoke_project_access_token_with_http_info(id, token_id, opts)
      nil
    end

    # Revoke a project access token
    # Revokes the token. It stops authenticating immediately in the region handling this call and within seconds across Volcano&#39;s other regions.  The record is kept rather than deleted, so the token&#39;s name, prefix, last use, and request history stay available — which is what you need if you are revoking because a secret leaked. Revoking an already-revoked token succeeds.  Revoking does not undo anything the token already did. Treat whatever it could reach as exposed and rotate accordingly.  Requires a platform token. 
    # @param id [String] Project ID
    # @param token_id [String] Project access token ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_project_access_token_with_http_info(id, token_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectAccessTokensApi.revoke_project_access_token ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectAccessTokensApi.revoke_project_access_token"
      end
      # verify the required parameter 'token_id' is set
      if @api_client.config.client_side_validation && token_id.nil?
        fail ArgumentError, "Missing the required parameter 'token_id' when calling ProjectAccessTokensApi.revoke_project_access_token"
      end
      # resource path
      local_var_path = '/projects/{id}/access-tokens/{tokenId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'tokenId' + '}', CGI.escape(token_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"ProjectAccessTokensApi.revoke_project_access_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectAccessTokensApi#revoke_project_access_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
