=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class RealtimeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get realtime configuration for a project
    # Returns the realtime configuration including enabled features and limits.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [RealtimeConfig]
    def get_realtime_config(id, opts = {})
      data, _status_code, _headers = get_realtime_config_with_http_info(id, opts)
      data
    end

    # Get realtime configuration for a project
    # Returns the realtime configuration including enabled features and limits.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RealtimeConfig, Integer, Hash)>] RealtimeConfig data, response status code and response headers
    def get_realtime_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtimeApi.get_realtime_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RealtimeApi.get_realtime_config"
      end
      # resource path
      local_var_path = '/projects/{id}/realtime/config'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RealtimeConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"RealtimeApi.get_realtime_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtimeApi#get_realtime_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get realtime statistics for a project
    # Returns realtime usage statistics including connection counts and subscribed tables.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [RealtimeStats]
    def get_realtime_stats(id, opts = {})
      data, _status_code, _headers = get_realtime_stats_with_http_info(id, opts)
      data
    end

    # Get realtime statistics for a project
    # Returns realtime usage statistics including connection counts and subscribed tables.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RealtimeStats, Integer, Hash)>] RealtimeStats data, response status code and response headers
    def get_realtime_stats_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtimeApi.get_realtime_stats ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RealtimeApi.get_realtime_stats"
      end
      # resource path
      local_var_path = '/projects/{id}/realtime/stats'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RealtimeStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"RealtimeApi.get_realtime_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtimeApi#get_realtime_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update realtime configuration for a project
    # Updates realtime settings including feature toggles and limits.
    # @param id [String] Project ID
    # @param update_realtime_config_request [UpdateRealtimeConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RealtimeConfig]
    def update_realtime_config(id, update_realtime_config_request, opts = {})
      data, _status_code, _headers = update_realtime_config_with_http_info(id, update_realtime_config_request, opts)
      data
    end

    # Update realtime configuration for a project
    # Updates realtime settings including feature toggles and limits.
    # @param id [String] Project ID
    # @param update_realtime_config_request [UpdateRealtimeConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RealtimeConfig, Integer, Hash)>] RealtimeConfig data, response status code and response headers
    def update_realtime_config_with_http_info(id, update_realtime_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealtimeApi.update_realtime_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RealtimeApi.update_realtime_config"
      end
      # verify the required parameter 'update_realtime_config_request' is set
      if @api_client.config.client_side_validation && update_realtime_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_realtime_config_request' when calling RealtimeApi.update_realtime_config"
      end
      # resource path
      local_var_path = '/projects/{id}/realtime/config'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_realtime_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RealtimeConfig'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"RealtimeApi.update_realtime_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealtimeApi#update_realtime_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
