=begin
#Volcano API

#Public API for Volcano clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class SandboxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a sandbox template from a verified preset
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param create_sandbox_template_request [CreateSandboxTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxTemplate]
    def create_sandbox(id, idempotency_key, create_sandbox_template_request, opts = {})
      data, _status_code, _headers = create_sandbox_with_http_info(id, idempotency_key, create_sandbox_template_request, opts)
      data
    end

    # Create a sandbox template from a verified preset
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param create_sandbox_template_request [CreateSandboxTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxTemplate, Integer, Hash)>] SandboxTemplate data, response status code and response headers
    def create_sandbox_with_http_info(id, idempotency_key, create_sandbox_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.create_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.create_sandbox"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SandboxesApi.create_sandbox"
      end
      # verify the required parameter 'create_sandbox_template_request' is set
      if @api_client.config.client_side_validation && create_sandbox_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_sandbox_template_request' when calling SandboxesApi.create_sandbox"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_sandbox_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.create_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#create_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a sandbox session
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param create_sandbox_session_request [CreateSandboxSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxSession]
    def create_sandbox_session(id, idempotency_key, create_sandbox_session_request, opts = {})
      data, _status_code, _headers = create_sandbox_session_with_http_info(id, idempotency_key, create_sandbox_session_request, opts)
      data
    end

    # Start a sandbox session
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param create_sandbox_session_request [CreateSandboxSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxSession, Integer, Hash)>] SandboxSession data, response status code and response headers
    def create_sandbox_session_with_http_info(id, idempotency_key, create_sandbox_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.create_sandbox_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.create_sandbox_session"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SandboxesApi.create_sandbox_session"
      end
      # resource path
      local_var_path = '/projects/{id}/sandbox-sessions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_sandbox_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.create_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#create_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue a short-lived port-scoped access credential
    # @param session_id [String] 
    # @param sandbox_access_request [SandboxAccessRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxAccess]
    def create_sandbox_session_access(session_id, sandbox_access_request, opts = {})
      data, _status_code, _headers = create_sandbox_session_access_with_http_info(session_id, sandbox_access_request, opts)
      data
    end

    # Issue a short-lived port-scoped access credential
    # @param session_id [String] 
    # @param sandbox_access_request [SandboxAccessRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxAccess, Integer, Hash)>] SandboxAccess data, response status code and response headers
    def create_sandbox_session_access_with_http_info(session_id, sandbox_access_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.create_sandbox_session_access ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.create_sandbox_session_access"
      end
      # verify the required parameter 'sandbox_access_request' is set
      if @api_client.config.client_side_validation && sandbox_access_request.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_access_request' when calling SandboxesApi.create_sandbox_session_access"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/access'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_access_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxAccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.create_sandbox_session_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#create_sandbox_session_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retire a template and terminate its sessions
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sandbox(id, sandbox_id, opts = {})
      delete_sandbox_with_http_info(id, sandbox_id, opts)
      nil
    end

    # Retire a template and terminate its sessions
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sandbox_with_http_info(id, sandbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.delete_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.delete_sandbox"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.delete_sandbox"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.delete_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#delete_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Build and deploy a custom sandbox template
    # Upload a tar.gz context with a Dockerfile. The template ID may be new. Retries with the same Idempotency-Key and content return the same deployment. Existing sessions retain their image while the replacement builds and validates.
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param idempotency_key [String] 
    # @param name [String] 
    # @param code [File] Source tar.gz archive, limited to 32 MiB compressed and expanded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :memory_mb Memory in MiB. Defaults to 1024 when omitted.
    # @option opts [String] :ports JSON array of application ports that must become ready before activation, for example [8080].
    # @return [SandboxDeployment]
    def deploy_sandbox(id, sandbox_id, idempotency_key, name, code, opts = {})
      data, _status_code, _headers = deploy_sandbox_with_http_info(id, sandbox_id, idempotency_key, name, code, opts)
      data
    end

    # Build and deploy a custom sandbox template
    # Upload a tar.gz context with a Dockerfile. The template ID may be new. Retries with the same Idempotency-Key and content return the same deployment. Existing sessions retain their image while the replacement builds and validates.
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param idempotency_key [String] 
    # @param name [String] 
    # @param code [File] Source tar.gz archive, limited to 32 MiB compressed and expanded.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :memory_mb Memory in MiB. Defaults to 1024 when omitted.
    # @option opts [String] :ports JSON array of application ports that must become ready before activation, for example [8080].
    # @return [Array<(SandboxDeployment, Integer, Hash)>] SandboxDeployment data, response status code and response headers
    def deploy_sandbox_with_http_info(id, sandbox_id, idempotency_key, name, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.deploy_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.deploy_sandbox"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.deploy_sandbox"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SandboxesApi.deploy_sandbox"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling SandboxesApi.deploy_sandbox"
      end
      pattern = Regexp.new(/^[a-z][a-z0-9-]{0,62}$/)
      if @api_client.config.client_side_validation && name !~ pattern
        fail ArgumentError, "invalid value for 'name' when calling SandboxesApi.deploy_sandbox, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling SandboxesApi.deploy_sandbox"
      end
      allowable_values = [1024, 2048]
      if @api_client.config.client_side_validation && opts[:'memory_mb'] && !allowable_values.include?(opts[:'memory_mb'])
        fail ArgumentError, "invalid value for \"memory_mb\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}/deployments'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['code'] = code
      form_params['memory_mb'] = opts[:'memory_mb'] if !opts[:'memory_mb'].nil?
      form_params['ports'] = opts[:'ports'] if !opts[:'ports'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxDeployment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.deploy_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#deploy_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute once and return after confirmed termination
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param sandbox_execution_request [SandboxExecutionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxExecutionResult]
    def execute_sandbox(id, idempotency_key, sandbox_execution_request, opts = {})
      data, _status_code, _headers = execute_sandbox_with_http_info(id, idempotency_key, sandbox_execution_request, opts)
      data
    end

    # Execute once and return after confirmed termination
    # @param id [String] 
    # @param idempotency_key [String] 
    # @param sandbox_execution_request [SandboxExecutionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxExecutionResult, Integer, Hash)>] SandboxExecutionResult data, response status code and response headers
    def execute_sandbox_with_http_info(id, idempotency_key, sandbox_execution_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.execute_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.execute_sandbox"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SandboxesApi.execute_sandbox"
      end
      # resource path
      local_var_path = '/projects/{id}/sandbox-executions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_execution_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxExecutionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.execute_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#execute_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute a command within a session
    # @param session_id [String] 
    # @param idempotency_key [String] 
    # @param sandbox_command_request [SandboxCommandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxCommandResult]
    def execute_sandbox_session(session_id, idempotency_key, sandbox_command_request, opts = {})
      data, _status_code, _headers = execute_sandbox_session_with_http_info(session_id, idempotency_key, sandbox_command_request, opts)
      data
    end

    # Execute a command within a session
    # @param session_id [String] 
    # @param idempotency_key [String] 
    # @param sandbox_command_request [SandboxCommandRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxCommandResult, Integer, Hash)>] SandboxCommandResult data, response status code and response headers
    def execute_sandbox_session_with_http_info(session_id, idempotency_key, sandbox_command_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.execute_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.execute_sandbox_session"
      end
      # verify the required parameter 'idempotency_key' is set
      if @api_client.config.client_side_validation && idempotency_key.nil?
        fail ArgumentError, "Missing the required parameter 'idempotency_key' when calling SandboxesApi.execute_sandbox_session"
      end
      # verify the required parameter 'sandbox_command_request' is set
      if @api_client.config.client_side_validation && sandbox_command_request.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_command_request' when calling SandboxesApi.execute_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/exec'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = idempotency_key

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_command_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxCommandResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.execute_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#execute_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sandbox template
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxTemplate]
    def get_sandbox(id, sandbox_id, opts = {})
      data, _status_code, _headers = get_sandbox_with_http_info(id, sandbox_id, opts)
      data
    end

    # Get a sandbox template
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxTemplate, Integer, Hash)>] SandboxTemplate data, response status code and response headers
    def get_sandbox_with_http_info(id, sandbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.get_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.get_sandbox"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.get_sandbox"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.get_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#get_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sandbox deployment
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxDeployment]
    def get_sandbox_deployment(id, sandbox_id, deployment_id, opts = {})
      data, _status_code, _headers = get_sandbox_deployment_with_http_info(id, sandbox_id, deployment_id, opts)
      data
    end

    # Get a sandbox deployment
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxDeployment, Integer, Hash)>] SandboxDeployment data, response status code and response headers
    def get_sandbox_deployment_with_http_info(id, sandbox_id, deployment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.get_sandbox_deployment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.get_sandbox_deployment"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.get_sandbox_deployment"
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling SandboxesApi.get_sandbox_deployment"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}/deployments/{deploymentId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s)).sub('{' + 'deploymentId' + '}', CGI.escape(deployment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxDeployment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.get_sandbox_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#get_sandbox_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read sandbox deployment build logs
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param region [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 100)
    # @return [SandboxBuildLogPage]
    def get_sandbox_deployment_logs(id, sandbox_id, deployment_id, region, opts = {})
      data, _status_code, _headers = get_sandbox_deployment_logs_with_http_info(id, sandbox_id, deployment_id, region, opts)
      data
    end

    # Read sandbox deployment build logs
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param region [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor 
    # @option opts [Integer] :limit  (default to 100)
    # @return [Array<(SandboxBuildLogPage, Integer, Hash)>] SandboxBuildLogPage data, response status code and response headers
    def get_sandbox_deployment_logs_with_http_info(id, sandbox_id, deployment_id, region, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.get_sandbox_deployment_logs ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.get_sandbox_deployment_logs"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.get_sandbox_deployment_logs"
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling SandboxesApi.get_sandbox_deployment_logs"
      end
      # verify the required parameter 'region' is set
      if @api_client.config.client_side_validation && region.nil?
        fail ArgumentError, "Missing the required parameter 'region' when calling SandboxesApi.get_sandbox_deployment_logs"
      end
      pattern = Regexp.new(/^aws-[a-z]+-[a-z]+-[0-9]+$/)
      if @api_client.config.client_side_validation && region !~ pattern
        fail ArgumentError, "invalid value for 'region' when calling SandboxesApi.get_sandbox_deployment_logs, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'cursor'].nil? && opts[:'cursor'].to_s.length > 2048
        fail ArgumentError, 'invalid value for "opts[:"cursor"]" when calling SandboxesApi.get_sandbox_deployment_logs, the character length must be smaller than or equal to 2048.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.get_sandbox_deployment_logs, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.get_sandbox_deployment_logs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}/deployments/{deploymentId}/logs'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s)).sub('{' + 'deploymentId' + '}', CGI.escape(deployment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = region
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxBuildLogPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.get_sandbox_deployment_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#get_sandbox_deployment_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download the retained custom sandbox source
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def get_sandbox_deployment_source(id, sandbox_id, deployment_id, opts = {})
      data, _status_code, _headers = get_sandbox_deployment_source_with_http_info(id, sandbox_id, deployment_id, opts)
      data
    end

    # Download the retained custom sandbox source
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param deployment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_sandbox_deployment_source_with_http_info(id, sandbox_id, deployment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.get_sandbox_deployment_source ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.get_sandbox_deployment_source"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.get_sandbox_deployment_source"
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling SandboxesApi.get_sandbox_deployment_source"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}/deployments/{deploymentId}/source'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s)).sub('{' + 'deploymentId' + '}', CGI.escape(deployment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/gzip', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.get_sandbox_deployment_source",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#get_sandbox_deployment_source\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxSession]
    def get_sandbox_session(session_id, opts = {})
      data, _status_code, _headers = get_sandbox_session_with_http_info(session_id, opts)
      data
    end

    # Get a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxSession, Integer, Hash)>] SandboxSession data, response status code and response headers
    def get_sandbox_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.get_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.get_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.get_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#get_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Authorize an authenticated project user for this session
    # @param session_id [String] 
    # @param subject_id [String] 
    # @param sandbox_subject_grant_request [SandboxSubjectGrantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def grant_sandbox_session(session_id, subject_id, sandbox_subject_grant_request, opts = {})
      grant_sandbox_session_with_http_info(session_id, subject_id, sandbox_subject_grant_request, opts)
      nil
    end

    # Authorize an authenticated project user for this session
    # @param session_id [String] 
    # @param subject_id [String] 
    # @param sandbox_subject_grant_request [SandboxSubjectGrantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def grant_sandbox_session_with_http_info(session_id, subject_id, sandbox_subject_grant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.grant_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.grant_sandbox_session"
      end
      # verify the required parameter 'subject_id' is set
      if @api_client.config.client_side_validation && subject_id.nil?
        fail ArgumentError, "Missing the required parameter 'subject_id' when calling SandboxesApi.grant_sandbox_session"
      end
      # verify the required parameter 'sandbox_subject_grant_request' is set
      if @api_client.config.client_side_validation && sandbox_subject_grant_request.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_subject_grant_request' when calling SandboxesApi.grant_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/grants/{subjectId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s)).sub('{' + 'subjectId' + '}', CGI.escape(subject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_subject_grant_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.grant_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#grant_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sandbox deployment history
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [SandboxDeploymentPage]
    def list_sandbox_deployments(id, sandbox_id, opts = {})
      data, _status_code, _headers = list_sandbox_deployments_with_http_info(id, sandbox_id, opts)
      data
    end

    # List sandbox deployment history
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [Array<(SandboxDeploymentPage, Integer, Hash)>] SandboxDeploymentPage data, response status code and response headers
    def list_sandbox_deployments_with_http_info(id, sandbox_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.list_sandbox_deployments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.list_sandbox_deployments"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.list_sandbox_deployments"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandbox_deployments, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandbox_deployments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}/deployments'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxDeploymentPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.list_sandbox_deployments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#list_sandbox_deployments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available sandbox presets
    # @param [Hash] opts the optional parameters
    # @return [SandboxPresetList]
    def list_sandbox_presets(opts = {})
      data, _status_code, _headers = list_sandbox_presets_with_http_info(opts)
      data
    end

    # List available sandbox presets
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxPresetList, Integer, Hash)>] SandboxPresetList data, response status code and response headers
    def list_sandbox_presets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.list_sandbox_presets ...'
      end
      # resource path
      local_var_path = '/sandboxes/presets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxPresetList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SandboxesApi.list_sandbox_presets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#list_sandbox_presets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project sandbox sessions
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [SandboxSessionPage]
    def list_sandbox_sessions(id, opts = {})
      data, _status_code, _headers = list_sandbox_sessions_with_http_info(id, opts)
      data
    end

    # List project sandbox sessions
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [Array<(SandboxSessionPage, Integer, Hash)>] SandboxSessionPage data, response status code and response headers
    def list_sandbox_sessions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.list_sandbox_sessions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.list_sandbox_sessions"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandbox_sessions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandbox_sessions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/sandbox-sessions'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSessionPage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.list_sandbox_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#list_sandbox_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sandbox templates
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [SandboxTemplatePage]
    def list_sandboxes(id, opts = {})
      data, _status_code, _headers = list_sandboxes_with_http_info(id, opts)
      data
    end

    # List sandbox templates
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @return [Array<(SandboxTemplatePage, Integer, Hash)>] SandboxTemplatePage data, response status code and response headers
    def list_sandboxes_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.list_sandboxes ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.list_sandboxes"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandboxes, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SandboxesApi.list_sandboxes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/projects/{id}/sandboxes'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxTemplatePage'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.list_sandboxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#list_sandboxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a workspace file
    # @param session_id [String] 
    # @param sandbox_file_read_request [SandboxFileReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxFileResult]
    def read_sandbox_session_file(session_id, sandbox_file_read_request, opts = {})
      data, _status_code, _headers = read_sandbox_session_file_with_http_info(session_id, sandbox_file_read_request, opts)
      data
    end

    # Read a workspace file
    # @param session_id [String] 
    # @param sandbox_file_read_request [SandboxFileReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxFileResult, Integer, Hash)>] SandboxFileResult data, response status code and response headers
    def read_sandbox_session_file_with_http_info(session_id, sandbox_file_read_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.read_sandbox_session_file ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.read_sandbox_session_file"
      end
      # verify the required parameter 'sandbox_file_read_request' is set
      if @api_client.config.client_side_validation && sandbox_file_read_request.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_file_read_request' when calling SandboxesApi.read_sandbox_session_file"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/files/read'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_file_read_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxFileResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.read_sandbox_session_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#read_sandbox_session_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resume a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxSession]
    def resume_sandbox_session(session_id, opts = {})
      data, _status_code, _headers = resume_sandbox_session_with_http_info(session_id, opts)
      data
    end

    # Resume a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxSession, Integer, Hash)>] SandboxSession data, response status code and response headers
    def resume_sandbox_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.resume_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.resume_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/resume'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.resume_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#resume_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a project user session grant
    # @param session_id [String] 
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def revoke_sandbox_session(session_id, subject_id, opts = {})
      revoke_sandbox_session_with_http_info(session_id, subject_id, opts)
      nil
    end

    # Revoke a project user session grant
    # @param session_id [String] 
    # @param subject_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def revoke_sandbox_session_with_http_info(session_id, subject_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.revoke_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.revoke_sandbox_session"
      end
      # verify the required parameter 'subject_id' is set
      if @api_client.config.client_side_validation && subject_id.nil?
        fail ArgumentError, "Missing the required parameter 'subject_id' when calling SandboxesApi.revoke_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/grants/{subjectId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s)).sub('{' + 'subjectId' + '}', CGI.escape(subject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.revoke_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#revoke_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxSession]
    def suspend_sandbox_session(session_id, opts = {})
      data, _status_code, _headers = suspend_sandbox_session_with_http_info(session_id, opts)
      data
    end

    # Suspend a sandbox session
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxSession, Integer, Hash)>] SandboxSession data, response status code and response headers
    def suspend_sandbox_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.suspend_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.suspend_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/suspend'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.suspend_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#suspend_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request sandbox termination
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxSession]
    def terminate_sandbox_session(session_id, opts = {})
      data, _status_code, _headers = terminate_sandbox_session_with_http_info(session_id, opts)
      data
    end

    # Request sandbox termination
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxSession, Integer, Hash)>] SandboxSession data, response status code and response headers
    def terminate_sandbox_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.terminate_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.terminate_sandbox_session"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.terminate_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#terminate_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a sandbox template
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param update_sandbox_template_request [UpdateSandboxTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SandboxTemplate]
    def update_sandbox(id, sandbox_id, update_sandbox_template_request, opts = {})
      data, _status_code, _headers = update_sandbox_with_http_info(id, sandbox_id, update_sandbox_template_request, opts)
      data
    end

    # Rename a sandbox template
    # @param id [String] 
    # @param sandbox_id [String] 
    # @param update_sandbox_template_request [UpdateSandboxTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SandboxTemplate, Integer, Hash)>] SandboxTemplate data, response status code and response headers
    def update_sandbox_with_http_info(id, sandbox_id, update_sandbox_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.update_sandbox ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SandboxesApi.update_sandbox"
      end
      # verify the required parameter 'sandbox_id' is set
      if @api_client.config.client_side_validation && sandbox_id.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_id' when calling SandboxesApi.update_sandbox"
      end
      # verify the required parameter 'update_sandbox_template_request' is set
      if @api_client.config.client_side_validation && update_sandbox_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_sandbox_template_request' when calling SandboxesApi.update_sandbox"
      end
      # resource path
      local_var_path = '/projects/{id}/sandboxes/{sandboxId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'sandboxId' + '}', CGI.escape(sandbox_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_sandbox_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SandboxTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.update_sandbox",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#update_sandbox\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Write a workspace file
    # @param session_id [String] 
    # @param sandbox_file_write_request [SandboxFileWriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def write_sandbox_session_file(session_id, sandbox_file_write_request, opts = {})
      write_sandbox_session_file_with_http_info(session_id, sandbox_file_write_request, opts)
      nil
    end

    # Write a workspace file
    # @param session_id [String] 
    # @param sandbox_file_write_request [SandboxFileWriteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def write_sandbox_session_file_with_http_info(session_id, sandbox_file_write_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxesApi.write_sandbox_session_file ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling SandboxesApi.write_sandbox_session_file"
      end
      # verify the required parameter 'sandbox_file_write_request' is set
      if @api_client.config.client_side_validation && sandbox_file_write_request.nil?
        fail ArgumentError, "Missing the required parameter 'sandbox_file_write_request' when calling SandboxesApi.write_sandbox_session_file"
      end
      # resource path
      local_var_path = '/sandbox-sessions/{sessionId}/files/write'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sandbox_file_write_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"SandboxesApi.write_sandbox_session_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxesApi#write_sandbox_session_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
