=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class StorageAdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get storage statistics for a project
    # Returns aggregate storage statistics including bucket count, object count, and total size.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [StorageStats]
    def get_storage_stats(id, opts = {})
      data, _status_code, _headers = get_storage_stats_with_http_info(id, opts)
      data
    end

    # Get storage statistics for a project
    # Returns aggregate storage statistics including bucket count, object count, and total size.
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageStats, Integer, Hash)>] StorageStats data, response status code and response headers
    def get_storage_stats_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAdminApi.get_storage_stats ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageAdminApi.get_storage_stats"
      end
      # resource path
      local_var_path = '/projects/{id}/storage/stats'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageAdminApi.get_storage_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAdminApi#get_storage_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all storage objects in a project
    # Returns a paginated list of all storage objects across all buckets in the project. Supports filtering by owner and pagination. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_id Filter by owner user ID
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (default to 50)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [ListStorageObjectsAdmin200Response]
    def list_storage_objects_admin(id, opts = {})
      data, _status_code, _headers = list_storage_objects_admin_with_http_info(id, opts)
      data
    end

    # List all storage objects in a project
    # Returns a paginated list of all storage objects across all buckets in the project. Supports filtering by owner and pagination. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :owner_id Filter by owner user ID
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Items per page (default to 50)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [Array<(ListStorageObjectsAdmin200Response, Integer, Hash)>] ListStorageObjectsAdmin200Response data, response status code and response headers
    def list_storage_objects_admin_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageAdminApi.list_storage_objects_admin ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageAdminApi.list_storage_objects_admin"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling StorageAdminApi.list_storage_objects_admin, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling StorageAdminApi.list_storage_objects_admin, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling StorageAdminApi.list_storage_objects_admin, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling StorageAdminApi.list_storage_objects_admin, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling StorageAdminApi.list_storage_objects_admin, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/storage/objects'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'owner_id'] = opts[:'owner_id'] if !opts[:'owner_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStorageObjectsAdmin200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageAdminApi.list_storage_objects_admin",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageAdminApi#list_storage_objects_admin\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
