=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class StoragePoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a storage policy
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param create_storage_policy_request [CreateStoragePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StoragePolicy]
    def create_storage_policy(id, bucket_name, create_storage_policy_request, opts = {})
      data, _status_code, _headers = create_storage_policy_with_http_info(id, bucket_name, create_storage_policy_request, opts)
      data
    end

    # Create a storage policy
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param create_storage_policy_request [CreateStoragePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StoragePolicy, Integer, Hash)>] StoragePolicy data, response status code and response headers
    def create_storage_policy_with_http_info(id, bucket_name, create_storage_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.create_storage_policy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StoragePoliciesApi.create_storage_policy"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StoragePoliciesApi.create_storage_policy"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.create_storage_policy, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.create_storage_policy, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StoragePoliciesApi.create_storage_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_storage_policy_request' is set
      if @api_client.config.client_side_validation && create_storage_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_storage_policy_request' when calling StoragePoliciesApi.create_storage_policy"
      end
      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}/policies'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_storage_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StoragePolicy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.create_storage_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#create_storage_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a storage policy
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_storage_policy(id, bucket_name, policy_id, opts = {})
      delete_storage_policy_with_http_info(id, bucket_name, policy_id, opts)
      nil
    end

    # Delete a storage policy
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_storage_policy_with_http_info(id, bucket_name, policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.delete_storage_policy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StoragePoliciesApi.delete_storage_policy"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StoragePoliciesApi.delete_storage_policy"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.delete_storage_policy, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.delete_storage_policy, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StoragePoliciesApi.delete_storage_policy, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling StoragePoliciesApi.delete_storage_policy"
      end
      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}/policies/{policyId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'policyId' + '}', CGI.escape(policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.delete_storage_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#delete_storage_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List storage policies for a bucket
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [Array<StoragePolicy>]
    def list_storage_policies(id, bucket_name, opts = {})
      data, _status_code, _headers = list_storage_policies_with_http_info(id, bucket_name, opts)
      data
    end

    # List storage policies for a bucket
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StoragePolicy>, Integer, Hash)>] Array<StoragePolicy> data, response status code and response headers
    def list_storage_policies_with_http_info(id, bucket_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StoragePoliciesApi.list_storage_policies ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StoragePoliciesApi.list_storage_policies"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StoragePoliciesApi.list_storage_policies"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.list_storage_policies, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StoragePoliciesApi.list_storage_policies, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StoragePoliciesApi.list_storage_policies, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}/policies'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StoragePolicy>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StoragePoliciesApi.list_storage_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StoragePoliciesApi#list_storage_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
