=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class StorageObjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Copy an object
    # @param bucket_name [String] Storage bucket name
    # @param storage_copy_request [StorageCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StorageObject]
    def copy_storage_object(bucket_name, storage_copy_request, opts = {})
      data, _status_code, _headers = copy_storage_object_with_http_info(bucket_name, storage_copy_request, opts)
      data
    end

    # Copy an object
    # @param bucket_name [String] Storage bucket name
    # @param storage_copy_request [StorageCopyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageObject, Integer, Hash)>] StorageObject data, response status code and response headers
    def copy_storage_object_with_http_info(bucket_name, storage_copy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.copy_storage_object ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.copy_storage_object"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.copy_storage_object, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.copy_storage_object, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.copy_storage_object, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'storage_copy_request' is set
      if @api_client.config.client_side_validation && storage_copy_request.nil?
        fail ArgumentError, "Missing the required parameter 'storage_copy_request' when calling StorageObjectsApi.copy_storage_object"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/copy'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(storage_copy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.copy_storage_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#copy_storage_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a file or abort upload session
    # Delete a file, or abort a resumable upload session.  **File Delete (default):** Deletes the file at the specified path.  **Abort Session (with X-Upload-Session header):** Aborts a resumable upload session and cleans up any uploaded parts. Anonymous sessions must reuse the exact anon key that created the session. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_upload_session Upload session ID (to abort session instead of deleting file)
    # @return [nil]
    def delete_storage_object(bucket_name, path, opts = {})
      delete_storage_object_with_http_info(bucket_name, path, opts)
      nil
    end

    # Delete a file or abort upload session
    # Delete a file, or abort a resumable upload session.  **File Delete (default):** Deletes the file at the specified path.  **Abort Session (with X-Upload-Session header):** Aborts a resumable upload session and cleans up any uploaded parts. Anonymous sessions must reuse the exact anon key that created the session. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_upload_session Upload session ID (to abort session instead of deleting file)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_storage_object_with_http_info(bucket_name, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.delete_storage_object ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.delete_storage_object"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.delete_storage_object, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.delete_storage_object, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.delete_storage_object, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.delete_storage_object"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/{path}'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Upload-Session'] = opts[:'x_upload_session'] if !opts[:'x_upload_session'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.delete_storage_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#delete_storage_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a public file (no authentication required)
    # Download a file that has been marked as public. This endpoint requires NO authentication.  **Access Requirements:** - The file must have `is_public: true` set via the visibility endpoint - Private files will return 403 Forbidden  **Use Cases:** - Shareable public URLs for profile pictures, public documents, etc. - Embedding public files on external websites - Direct linking without requiring SDK or authentication  **URL Format:** ``` GET /public/{projectId}/{bucketName}/{path} ```  **Example:** ``` https://api.volcano.dev/public/abc123/avatars/user-photo.jpg ```  **CORS:** This endpoint allows all origins since the file is already public. 
    # @param project_id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_public_file(project_id, bucket_name, path, opts = {})
      data, _status_code, _headers = download_public_file_with_http_info(project_id, bucket_name, path, opts)
      data
    end

    # Download a public file (no authentication required)
    # Download a file that has been marked as public. This endpoint requires NO authentication.  **Access Requirements:** - The file must have &#x60;is_public: true&#x60; set via the visibility endpoint - Private files will return 403 Forbidden  **Use Cases:** - Shareable public URLs for profile pictures, public documents, etc. - Embedding public files on external websites - Direct linking without requiring SDK or authentication  **URL Format:** &#x60;&#x60;&#x60; GET /public/{projectId}/{bucketName}/{path} &#x60;&#x60;&#x60;  **Example:** &#x60;&#x60;&#x60; https://api.volcano.dev/public/abc123/avatars/user-photo.jpg &#x60;&#x60;&#x60;  **CORS:** This endpoint allows all origins since the file is already public. 
    # @param project_id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_public_file_with_http_info(project_id, bucket_name, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.download_public_file ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling StorageObjectsApi.download_public_file"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.download_public_file"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.download_public_file, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.download_public_file, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.download_public_file, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.download_public_file"
      end
      # resource path
      local_var_path = '/public/{projectId}/{bucketName}/{path}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.download_public_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#download_public_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a file or get upload session status
    # Download a file, or get the status of a resumable upload session.  **File Download (default):** Downloads the file at the specified path.  **Session Status (with X-Upload-Session header):** Returns the status of a resumable upload session, including which parts have been uploaded. Anonymous sessions must reuse the exact anon key that created the session. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range HTTP Range header for partial downloads. Format: bytes&#x3D;start-end or bytes&#x3D;start- Examples: bytes&#x3D;0-1023, bytes&#x3D;1000- 
    # @option opts [String] :x_upload_session Upload session ID (to get session status instead of downloading)
    # @return [File]
    def download_storage_object(bucket_name, path, opts = {})
      data, _status_code, _headers = download_storage_object_with_http_info(bucket_name, path, opts)
      data
    end

    # Download a file or get upload session status
    # Download a file, or get the status of a resumable upload session.  **File Download (default):** Downloads the file at the specified path.  **Session Status (with X-Upload-Session header):** Returns the status of a resumable upload session, including which parts have been uploaded. Anonymous sessions must reuse the exact anon key that created the session. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param [Hash] opts the optional parameters
    # @option opts [String] :range HTTP Range header for partial downloads. Format: bytes&#x3D;start-end or bytes&#x3D;start- Examples: bytes&#x3D;0-1023, bytes&#x3D;1000- 
    # @option opts [String] :x_upload_session Upload session ID (to get session status instead of downloading)
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_storage_object_with_http_info(bucket_name, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.download_storage_object ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.download_storage_object"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.download_storage_object, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.download_storage_object, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.download_storage_object, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.download_storage_object"
      end
      pattern = Regexp.new(/^bytes=\d+-\d*$/)
      if @api_client.config.client_side_validation && !opts[:'range'].nil? && opts[:'range'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"range\"]' when calling StorageObjectsApi.download_storage_object, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/storage/{bucketName}/{path}'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']
      header_params[:'Range'] = opts[:'range'] if !opts[:'range'].nil?
      header_params[:'X-Upload-Session'] = opts[:'x_upload_session'] if !opts[:'x_upload_session'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.download_storage_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#download_storage_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List objects in a bucket
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prefix Filter objects by path prefix
    # @option opts [Integer] :limit Maximum objects to return (default to 50)
    # @option opts [String] :cursor Pagination cursor
    # @return [StorageListResponse]
    def list_storage_objects(bucket_name, opts = {})
      data, _status_code, _headers = list_storage_objects_with_http_info(bucket_name, opts)
      data
    end

    # List objects in a bucket
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prefix Filter objects by path prefix
    # @option opts [Integer] :limit Maximum objects to return (default to 50)
    # @option opts [String] :cursor Pagination cursor
    # @return [Array<(StorageListResponse, Integer, Hash)>] StorageListResponse data, response status code and response headers
    def list_storage_objects_with_http_info(bucket_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.list_storage_objects ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.list_storage_objects"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.list_storage_objects, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.list_storage_objects, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.list_storage_objects, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling StorageObjectsApi.list_storage_objects, must be smaller than or equal to 1000.'
      end

      # resource path
      local_var_path = '/storage/{bucketName}'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prefix'] = opts[:'prefix'] if !opts[:'prefix'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.list_storage_objects",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#list_storage_objects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Move/rename an object
    # @param bucket_name [String] Storage bucket name
    # @param storage_move_request [StorageMoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StorageObject]
    def move_storage_object(bucket_name, storage_move_request, opts = {})
      data, _status_code, _headers = move_storage_object_with_http_info(bucket_name, storage_move_request, opts)
      data
    end

    # Move/rename an object
    # @param bucket_name [String] Storage bucket name
    # @param storage_move_request [StorageMoveRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageObject, Integer, Hash)>] StorageObject data, response status code and response headers
    def move_storage_object_with_http_info(bucket_name, storage_move_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.move_storage_object ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.move_storage_object"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.move_storage_object, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.move_storage_object, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.move_storage_object, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'storage_move_request' is set
      if @api_client.config.client_side_validation && storage_move_request.nil?
        fail ArgumentError, "Missing the required parameter 'storage_move_request' when calling StorageObjectsApi.move_storage_object"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/move'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(storage_move_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.move_storage_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#move_storage_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update file visibility (public/private)
    # Change whether a file is publicly accessible. Only the file owner or a service key can change visibility. If the bucket defines UPDATE policies, the owner must also satisfy one of them.  - Public files can be downloaded with just an anon key (no user authentication required) - Private files (default) require authentication and must pass policy checks - All downloads go through the Volcano API - there is no direct access to the underlying store 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param storage_visibility_request [StorageVisibilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StorageObject]
    def update_storage_object_visibility(bucket_name, path, storage_visibility_request, opts = {})
      data, _status_code, _headers = update_storage_object_visibility_with_http_info(bucket_name, path, storage_visibility_request, opts)
      data
    end

    # Update file visibility (public/private)
    # Change whether a file is publicly accessible. Only the file owner or a service key can change visibility. If the bucket defines UPDATE policies, the owner must also satisfy one of them.  - Public files can be downloaded with just an anon key (no user authentication required) - Private files (default) require authentication and must pass policy checks - All downloads go through the Volcano API - there is no direct access to the underlying store 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param storage_visibility_request [StorageVisibilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageObject, Integer, Hash)>] StorageObject data, response status code and response headers
    def update_storage_object_visibility_with_http_info(bucket_name, path, storage_visibility_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.update_storage_object_visibility ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.update_storage_object_visibility"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.update_storage_object_visibility, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.update_storage_object_visibility, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.update_storage_object_visibility, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.update_storage_object_visibility"
      end
      # verify the required parameter 'storage_visibility_request' is set
      if @api_client.config.client_side_validation && storage_visibility_request.nil?
        fail ArgumentError, "Missing the required parameter 'storage_visibility_request' when calling StorageObjectsApi.update_storage_object_visibility"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/{path}/visibility'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(storage_visibility_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.update_storage_object_visibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#update_storage_object_visibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a part of a resumable upload
    # Upload a single part of a resumable upload session.  **Requirements:** - Part numbers start at 1 - All parts except the last must be at least 5MB - Maximum part size is 25MB - Parts can be uploaded in any order - Re-uploading a part overwrites the previous upload - Anonymous sessions must reuse the exact anon key that created the session 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param x_upload_session [String] Upload session ID
    # @param x_part_number [Integer] Part number (1 to 10000)
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [UploadSessionPart]
    def upload_part(bucket_name, path, x_upload_session, x_part_number, body, opts = {})
      data, _status_code, _headers = upload_part_with_http_info(bucket_name, path, x_upload_session, x_part_number, body, opts)
      data
    end

    # Upload a part of a resumable upload
    # Upload a single part of a resumable upload session.  **Requirements:** - Part numbers start at 1 - All parts except the last must be at least 5MB - Maximum part size is 25MB - Parts can be uploaded in any order - Re-uploading a part overwrites the previous upload - Anonymous sessions must reuse the exact anon key that created the session 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param x_upload_session [String] Upload session ID
    # @param x_part_number [Integer] Part number (1 to 10000)
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadSessionPart, Integer, Hash)>] UploadSessionPart data, response status code and response headers
    def upload_part_with_http_info(bucket_name, path, x_upload_session, x_part_number, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.upload_part ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.upload_part"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.upload_part, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.upload_part, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.upload_part, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.upload_part"
      end
      # verify the required parameter 'x_upload_session' is set
      if @api_client.config.client_side_validation && x_upload_session.nil?
        fail ArgumentError, "Missing the required parameter 'x_upload_session' when calling StorageObjectsApi.upload_part"
      end
      # verify the required parameter 'x_part_number' is set
      if @api_client.config.client_side_validation && x_part_number.nil?
        fail ArgumentError, "Missing the required parameter 'x_part_number' when calling StorageObjectsApi.upload_part"
      end
      if @api_client.config.client_side_validation && x_part_number > 10000
        fail ArgumentError, 'invalid value for "x_part_number" when calling StorageObjectsApi.upload_part, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && x_part_number < 1
        fail ArgumentError, 'invalid value for "x_part_number" when calling StorageObjectsApi.upload_part, must be greater than or equal to 1.'
      end

      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling StorageObjectsApi.upload_part"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/{path}'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Upload-Session'] = x_upload_session
      header_params[:'X-Part-Number'] = x_part_number

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'UploadSessionPart'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.upload_part",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#upload_part\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a file or create resumable session
    # Unified endpoint for file uploads. Behavior depends on Content-Type and headers:  **Simple Upload (multipart/form-data):** Upload a complete file in a single request. Best for files under 100MB.  **Create Resumable Session (application/json):** Create a session for chunked uploads. Best for large files or unreliable networks. Requires: `Content-Type: application/json` with body `{\"filename\": \"...\", \"content_type\": \"...\", \"total_size\": ...}`  **Complete Resumable Session:** Complete a session after all parts are uploaded. Requires: `X-Upload-Session` header with session ID and `X-Upload-Complete: true` header.  **Resumable Session Ownership:** A session created with a user access token remains bound to that user. A session created with an anon key remains bound to that exact anon key. Reuse the same identity or anon key for part uploads, status, completion, and abort requests; an ownership mismatch returns `404`. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param file [File] File to upload (simple upload)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_upload_session Upload session ID (for completing resumable uploads)
    # @option opts [String] :x_upload_complete Set to \&quot;true\&quot; to complete a resumable upload session
    # @return [CompleteUploadSessionResponse]
    def upload_storage_object(bucket_name, path, file, opts = {})
      data, _status_code, _headers = upload_storage_object_with_http_info(bucket_name, path, file, opts)
      data
    end

    # Upload a file or create resumable session
    # Unified endpoint for file uploads. Behavior depends on Content-Type and headers:  **Simple Upload (multipart/form-data):** Upload a complete file in a single request. Best for files under 100MB.  **Create Resumable Session (application/json):** Create a session for chunked uploads. Best for large files or unreliable networks. Requires: &#x60;Content-Type: application/json&#x60; with body &#x60;{\&quot;filename\&quot;: \&quot;...\&quot;, \&quot;content_type\&quot;: \&quot;...\&quot;, \&quot;total_size\&quot;: ...}&#x60;  **Complete Resumable Session:** Complete a session after all parts are uploaded. Requires: &#x60;X-Upload-Session&#x60; header with session ID and &#x60;X-Upload-Complete: true&#x60; header.  **Resumable Session Ownership:** A session created with a user access token remains bound to that user. A session created with an anon key remains bound to that exact anon key. Reuse the same identity or anon key for part uploads, status, completion, and abort requests; an ownership mismatch returns &#x60;404&#x60;. 
    # @param bucket_name [String] Storage bucket name
    # @param path [String] Object path within bucket
    # @param file [File] File to upload (simple upload)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_upload_session Upload session ID (for completing resumable uploads)
    # @option opts [String] :x_upload_complete Set to \&quot;true\&quot; to complete a resumable upload session
    # @return [Array<(CompleteUploadSessionResponse, Integer, Hash)>] CompleteUploadSessionResponse data, response status code and response headers
    def upload_storage_object_with_http_info(bucket_name, path, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageObjectsApi.upload_storage_object ...'
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageObjectsApi.upload_storage_object"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.upload_storage_object, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageObjectsApi.upload_storage_object, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageObjectsApi.upload_storage_object, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StorageObjectsApi.upload_storage_object"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling StorageObjectsApi.upload_storage_object"
      end
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && opts[:'x_upload_complete'] && !allowable_values.include?(opts[:'x_upload_complete'])
        fail ArgumentError, "invalid value for \"x_upload_complete\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/storage/{bucketName}/{path}'.sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s)).sub('{' + 'path' + '}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Upload-Session'] = opts[:'x_upload_session'] if !opts[:'x_upload_session'].nil?
      header_params[:'X-Upload-Complete'] = opts[:'x_upload_complete'] if !opts[:'x_upload_complete'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompleteUploadSessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ServiceRoleKey', 'AuthUserAccessToken', 'AnonKey']

      new_options = opts.merge(
        :operation => :"StorageObjectsApi.upload_storage_object",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageObjectsApi#upload_storage_object\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
