=begin
#Volcano Hosting API

#Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class StorageBucketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new storage bucket
    # @param id [String] Project ID
    # @param create_storage_bucket_request [CreateStorageBucketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StorageBucket]
    def create_storage_bucket(id, create_storage_bucket_request, opts = {})
      data, _status_code, _headers = create_storage_bucket_with_http_info(id, create_storage_bucket_request, opts)
      data
    end

    # Create a new storage bucket
    # @param id [String] Project ID
    # @param create_storage_bucket_request [CreateStorageBucketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageBucket, Integer, Hash)>] StorageBucket data, response status code and response headers
    def create_storage_bucket_with_http_info(id, create_storage_bucket_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageBucketsApi.create_storage_bucket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageBucketsApi.create_storage_bucket"
      end
      # verify the required parameter 'create_storage_bucket_request' is set
      if @api_client.config.client_side_validation && create_storage_bucket_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_storage_bucket_request' when calling StorageBucketsApi.create_storage_bucket"
      end
      # resource path
      local_var_path = '/projects/{id}/storage/buckets'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_storage_bucket_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageBucket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageBucketsApi.create_storage_bucket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageBucketsApi#create_storage_bucket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete storage bucket and all objects
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_storage_bucket(id, bucket_name, opts = {})
      delete_storage_bucket_with_http_info(id, bucket_name, opts)
      nil
    end

    # Delete storage bucket and all objects
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_storage_bucket_with_http_info(id, bucket_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageBucketsApi.delete_storage_bucket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageBucketsApi.delete_storage_bucket"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageBucketsApi.delete_storage_bucket"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.delete_storage_bucket, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.delete_storage_bucket, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageBucketsApi.delete_storage_bucket, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageBucketsApi.delete_storage_bucket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageBucketsApi#delete_storage_bucket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get storage bucket by name
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [StorageBucket]
    def get_storage_bucket(id, bucket_name, opts = {})
      data, _status_code, _headers = get_storage_bucket_with_http_info(id, bucket_name, opts)
      data
    end

    # Get storage bucket by name
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageBucket, Integer, Hash)>] StorageBucket data, response status code and response headers
    def get_storage_bucket_with_http_info(id, bucket_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageBucketsApi.get_storage_bucket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageBucketsApi.get_storage_bucket"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageBucketsApi.get_storage_bucket"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.get_storage_bucket, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.get_storage_bucket, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageBucketsApi.get_storage_bucket, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StorageBucket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageBucketsApi.get_storage_bucket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageBucketsApi#get_storage_bucket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all storage buckets in a project
    # With no pagination params, returns the full bucket list as a bare array (legacy). Supplying `cursor`, `ending_before`, `search`, or `limit` switches to keyset (cursor) pagination and returns a paginated envelope with `next_cursor`/`prev_cursor` and a filtered `total`. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [ListStorageBuckets200Response]
    def list_storage_buckets(id, opts = {})
      data, _status_code, _headers = list_storage_buckets_with_http_info(id, opts)
      data
    end

    # List all storage buckets in a project
    # With no pagination params, returns the full bucket list as a bare array (legacy). Supplying &#x60;cursor&#x60;, &#x60;ending_before&#x60;, &#x60;search&#x60;, or &#x60;limit&#x60; switches to keyset (cursor) pagination and returns a paginated envelope with &#x60;next_cursor&#x60;/&#x60;prev_cursor&#x60; and a filtered &#x60;total&#x60;. 
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Number of items per page (max 100) (default to 10)
    # @option opts [String] :cursor Opaque keyset pagination cursor from a previous response&#39;s &#x60;next_cursor&#x60; — pages forward. Mutually exclusive with &#x60;page&#x60; and &#x60;ending_before&#x60;; combining them returns 400. When supplied, the request&#39;s &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [String] :ending_before Opaque keyset pagination cursor from a previous response&#39;s &#x60;prev_cursor&#x60; — pages backward (the page immediately preceding this cursor). Mutually exclusive with &#x60;page&#x60; and &#x60;cursor&#x60;; combining them returns 400. &#x60;search&#x60; and &#x60;limit&#x60; must match the values bound to the cursor or the request returns 400. 
    # @option opts [Integer] :offset Bounded row offset past the keyset anchor named by &#x60;cursor&#x60; (forward) or &#x60;ending_before&#x60; (backward) — the hybrid jump. Seek to the anchor, then skip this many rows within. Used for numbered jump-to-page: from the current page, seek to its next/prev cursor and offset the remaining pages. Only honored on the cursor pagination path; ignored otherwise.  (default to 0)
    # @option opts [String] :search Case-insensitive substring match on the resource &#x60;name&#x60;. See the endpoint description for supported pagination modes. 
    # @return [Array<(ListStorageBuckets200Response, Integer, Hash)>] ListStorageBuckets200Response data, response status code and response headers
    def list_storage_buckets_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageBucketsApi.list_storage_buckets ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageBucketsApi.list_storage_buckets"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling StorageBucketsApi.list_storage_buckets, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling StorageBucketsApi.list_storage_buckets, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling StorageBucketsApi.list_storage_buckets, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling StorageBucketsApi.list_storage_buckets, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = '/projects/{id}/storage/buckets'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'ending_before'] = opts[:'ending_before'] if !opts[:'ending_before'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStorageBuckets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageBucketsApi.list_storage_buckets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageBucketsApi#list_storage_buckets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update storage bucket settings
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param update_storage_bucket_request [UpdateStorageBucketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StorageBucket]
    def update_storage_bucket(id, bucket_name, update_storage_bucket_request, opts = {})
      data, _status_code, _headers = update_storage_bucket_with_http_info(id, bucket_name, update_storage_bucket_request, opts)
      data
    end

    # Update storage bucket settings
    # @param id [String] Project ID
    # @param bucket_name [String] Storage bucket name
    # @param update_storage_bucket_request [UpdateStorageBucketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StorageBucket, Integer, Hash)>] StorageBucket data, response status code and response headers
    def update_storage_bucket_with_http_info(id, bucket_name, update_storage_bucket_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StorageBucketsApi.update_storage_bucket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StorageBucketsApi.update_storage_bucket"
      end
      # verify the required parameter 'bucket_name' is set
      if @api_client.config.client_side_validation && bucket_name.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_name' when calling StorageBucketsApi.update_storage_bucket"
      end
      if @api_client.config.client_side_validation && bucket_name.to_s.length > 64
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.update_storage_bucket, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && bucket_name.to_s.length < 1
        fail ArgumentError, 'invalid value for "bucket_name" when calling StorageBucketsApi.update_storage_bucket, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && bucket_name !~ pattern
        fail ArgumentError, "invalid value for 'bucket_name' when calling StorageBucketsApi.update_storage_bucket, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_storage_bucket_request' is set
      if @api_client.config.client_side_validation && update_storage_bucket_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_storage_bucket_request' when calling StorageBucketsApi.update_storage_bucket"
      end
      # resource path
      local_var_path = '/projects/{id}/storage/buckets/{bucketName}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'bucketName' + '}', CGI.escape(bucket_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_storage_bucket_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StorageBucket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken']

      new_options = opts.merge(
        :operation => :"StorageBucketsApi.update_storage_bucket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StorageBucketsApi#update_storage_bucket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
