=begin
#Volcano API

#Public API for Volcano clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class VariableEnvironmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a variable Environment
    # Creates a custom variable Environment. Global is reserved and already exists. A Project may have at most 100 custom Environments.
    # @param id [String] Project ID
    # @param create_variable_environment_request [CreateVariableEnvironmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VariableEnvironment]
    def create_variable_environment(id, create_variable_environment_request, opts = {})
      data, _status_code, _headers = create_variable_environment_with_http_info(id, create_variable_environment_request, opts)
      data
    end

    # Create a variable Environment
    # Creates a custom variable Environment. Global is reserved and already exists. A Project may have at most 100 custom Environments.
    # @param id [String] Project ID
    # @param create_variable_environment_request [CreateVariableEnvironmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VariableEnvironment, Integer, Hash)>] VariableEnvironment data, response status code and response headers
    def create_variable_environment_with_http_info(id, create_variable_environment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VariableEnvironmentsApi.create_variable_environment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VariableEnvironmentsApi.create_variable_environment"
      end
      # verify the required parameter 'create_variable_environment_request' is set
      if @api_client.config.client_side_validation && create_variable_environment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_variable_environment_request' when calling VariableEnvironmentsApi.create_variable_environment"
      end
      # resource path
      local_var_path = '/projects/{id}/variable-environments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_variable_environment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VariableEnvironment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"VariableEnvironmentsApi.create_variable_environment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariableEnvironmentsApi#create_variable_environment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a variable Environment
    # Deletes a custom Environment. Global cannot be deleted.
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_variable_environment(id, environment_id, opts = {})
      delete_variable_environment_with_http_info(id, environment_id, opts)
      nil
    end

    # Delete a variable Environment
    # Deletes a custom Environment. Global cannot be deleted.
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_variable_environment_with_http_info(id, environment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VariableEnvironmentsApi.delete_variable_environment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VariableEnvironmentsApi.delete_variable_environment"
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling VariableEnvironmentsApi.delete_variable_environment"
      end
      # resource path
      local_var_path = '/projects/{id}/variable-environments/{environmentId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'environmentId' + '}', CGI.escape(environment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"VariableEnvironmentsApi.delete_variable_environment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariableEnvironmentsApi#delete_variable_environment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a variable Environment
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param [Hash] opts the optional parameters
    # @return [VariableEnvironment]
    def get_variable_environment(id, environment_id, opts = {})
      data, _status_code, _headers = get_variable_environment_with_http_info(id, environment_id, opts)
      data
    end

    # Get a variable Environment
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(VariableEnvironment, Integer, Hash)>] VariableEnvironment data, response status code and response headers
    def get_variable_environment_with_http_info(id, environment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VariableEnvironmentsApi.get_variable_environment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VariableEnvironmentsApi.get_variable_environment"
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling VariableEnvironmentsApi.get_variable_environment"
      end
      # resource path
      local_var_path = '/projects/{id}/variable-environments/{environmentId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'environmentId' + '}', CGI.escape(environment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VariableEnvironment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"VariableEnvironmentsApi.get_variable_environment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariableEnvironmentsApi#get_variable_environment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List variable Environments
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [VariableEnvironmentList]
    def list_variable_environments(id, opts = {})
      data, _status_code, _headers = list_variable_environments_with_http_info(id, opts)
      data
    end

    # List variable Environments
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(VariableEnvironmentList, Integer, Hash)>] VariableEnvironmentList data, response status code and response headers
    def list_variable_environments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VariableEnvironmentsApi.list_variable_environments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VariableEnvironmentsApi.list_variable_environments"
      end
      # resource path
      local_var_path = '/projects/{id}/variable-environments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VariableEnvironmentList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"VariableEnvironmentsApi.list_variable_environments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariableEnvironmentsApi#list_variable_environments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a variable Environment
    # Renames a custom Environment without changing its stable ID. Global cannot be renamed.
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param rename_variable_environment_request [RenameVariableEnvironmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VariableEnvironment]
    def rename_variable_environment(id, environment_id, rename_variable_environment_request, opts = {})
      data, _status_code, _headers = rename_variable_environment_with_http_info(id, environment_id, rename_variable_environment_request, opts)
      data
    end

    # Rename a variable Environment
    # Renames a custom Environment without changing its stable ID. Global cannot be renamed.
    # @param id [String] Project ID
    # @param environment_id [String] Variable Environment ID
    # @param rename_variable_environment_request [RenameVariableEnvironmentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VariableEnvironment, Integer, Hash)>] VariableEnvironment data, response status code and response headers
    def rename_variable_environment_with_http_info(id, environment_id, rename_variable_environment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VariableEnvironmentsApi.rename_variable_environment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VariableEnvironmentsApi.rename_variable_environment"
      end
      # verify the required parameter 'environment_id' is set
      if @api_client.config.client_side_validation && environment_id.nil?
        fail ArgumentError, "Missing the required parameter 'environment_id' when calling VariableEnvironmentsApi.rename_variable_environment"
      end
      # verify the required parameter 'rename_variable_environment_request' is set
      if @api_client.config.client_side_validation && rename_variable_environment_request.nil?
        fail ArgumentError, "Missing the required parameter 'rename_variable_environment_request' when calling VariableEnvironmentsApi.rename_variable_environment"
      end
      # resource path
      local_var_path = '/projects/{id}/variable-environments/{environmentId}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'environmentId' + '}', CGI.escape(environment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rename_variable_environment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VariableEnvironment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserToken', 'ProjectAccessToken']

      new_options = opts.merge(
        :operation => :"VariableEnvironmentsApi.rename_variable_environment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VariableEnvironmentsApi#rename_variable_environment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
