=begin
#Volcano API

#Public API for Volcano clients, SDKs, and CLI tooling (Port 8000).  This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.

The version of the OpenAPI document: 3.0.0
Contact: support@volcano.dev
Generated by: https://openapi-generator.tech
Generator version: 7.17.0

=end

require 'cgi'

module Volcano::Generated
  class VerifiedDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Remove a verified domain
    # Gives up the account's ownership of a domain. Custom domains already attached below it keep serving; attaching another requires verifying the domain again. Domains Volcano reserves for its own account cannot be removed. 
    # @param domain [String] The verified domain, such as &#x60;example.com&#x60;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_verified_domain(domain, opts = {})
      delete_verified_domain_with_http_info(domain, opts)
      nil
    end

    # Remove a verified domain
    # Gives up the account&#39;s ownership of a domain. Custom domains already attached below it keep serving; attaching another requires verifying the domain again. Domains Volcano reserves for its own account cannot be removed. 
    # @param domain [String] The verified domain, such as &#x60;example.com&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_verified_domain_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiedDomainsApi.delete_verified_domain ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling VerifiedDomainsApi.delete_verified_domain"
      end
      if @api_client.config.client_side_validation && domain.to_s.length > 253
        fail ArgumentError, 'invalid value for "domain" when calling VerifiedDomainsApi.delete_verified_domain, the character length must be smaller than or equal to 253.'
      end

      # resource path
      local_var_path = '/user/domains/{domain}'.sub('{' + 'domain' + '}', CGI.escape(domain.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"VerifiedDomainsApi.delete_verified_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiedDomainsApi#delete_verified_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List verified domains
    # Lists the domains the account has verified. The account can attach any custom domain at or below one of them, in either TLS mode, without publishing another ownership record. 
    # @param [Hash] opts the optional parameters
    # @return [VerifiedDomainsResponse]
    def list_verified_domains(opts = {})
      data, _status_code, _headers = list_verified_domains_with_http_info(opts)
      data
    end

    # List verified domains
    # Lists the domains the account has verified. The account can attach any custom domain at or below one of them, in either TLS mode, without publishing another ownership record. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifiedDomainsResponse, Integer, Hash)>] VerifiedDomainsResponse data, response status code and response headers
    def list_verified_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiedDomainsApi.list_verified_domains ...'
      end
      # resource path
      local_var_path = '/user/domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifiedDomainsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"VerifiedDomainsApi.list_verified_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiedDomainsApi#list_verified_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a domain
    # Verifies the account's ownership of a domain and every name below it. Verify a registrable domain such as `example.com` to cover all of its subdomains, or a delegated subdomain you control.  Publish a TXT record named `_volcano.<domain>`, then send this request. Without the record, the response is `409` with `code: ownership_verification_required` and the `required_record` to publish. Its value is the same on every request. The record must be served at that name itself; a record reached through a CNAME does not count.  When another account verified the domain, publishing your record moves the domain to your account once that account's record is no longer published. Keep your record published so the domain stays yours.  Verifying a domain the account already verified returns `200`. 
    # @param verify_domain_request [VerifyDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifiedDomain]
    def verify_domain(verify_domain_request, opts = {})
      data, _status_code, _headers = verify_domain_with_http_info(verify_domain_request, opts)
      data
    end

    # Verify a domain
    # Verifies the account&#39;s ownership of a domain and every name below it. Verify a registrable domain such as &#x60;example.com&#x60; to cover all of its subdomains, or a delegated subdomain you control.  Publish a TXT record named &#x60;_volcano.&lt;domain&gt;&#x60;, then send this request. Without the record, the response is &#x60;409&#x60; with &#x60;code: ownership_verification_required&#x60; and the &#x60;required_record&#x60; to publish. Its value is the same on every request. The record must be served at that name itself; a record reached through a CNAME does not count.  When another account verified the domain, publishing your record moves the domain to your account once that account&#39;s record is no longer published. Keep your record published so the domain stays yours.  Verifying a domain the account already verified returns &#x60;200&#x60;. 
    # @param verify_domain_request [VerifyDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifiedDomain, Integer, Hash)>] VerifiedDomain data, response status code and response headers
    def verify_domain_with_http_info(verify_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiedDomainsApi.verify_domain ...'
      end
      # verify the required parameter 'verify_domain_request' is set
      if @api_client.config.client_side_validation && verify_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_domain_request' when calling VerifiedDomainsApi.verify_domain"
      end
      # resource path
      local_var_path = '/user/domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifiedDomain'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['AuthUserAccessToken', 'UserToken']

      new_options = opts.merge(
        :operation => :"VerifiedDomainsApi.verify_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiedDomainsApi#verify_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
